{% extends 'base.html' %}

{% block custom_css %}
{% endblock %}

{% block content %}
<div class="tzcategory-shop-wrap">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3 class="tz-title-bold-3">Bloom Wardrobe</h3>
            </div>
        </div>

        <section class="theme-white">
            <div class="container">
              <br>
                <div class="row">

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h4>What is Bloom Wardrobe?</h4>
                        <div class="tz-introduce-content">

                            <p>Wardrobes are very essential part of bedroom/rooms.They increases the decor quotent as well as storage capacity in the room.Bloom Interio offers you extensive range of wardrobe design to keep your stuff organised and valuables safe.A well organised room look neat,spacious and gives peace of mind.Bloom wardrobes are designed to cater the needs of user according to their storage requirement.
                            </p>

                        </div>
                    </div>
                </div><!--end class row-->
                <div class="tz-introduce1 ">
                    <div class="row">

                        <div class="col-md-12 text-center">
                            <h4>We offer following type of wardrobe styles:-</h4>

                          <br>

                        </div>

                    </div><!--end class row-->



                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <img class="iframe-full" src="/static/images/modularkitchen.jpg">

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <h4>Freestanding Wardrobes -</h4>
                            <div class="tz-introduce-content">

                                <p>A cupboard shutter style wardrobe which comes in the range of dimensions fits in almost every space provided in the room.This style have medium storage capacity and it can be moved easily from one place to another.organisation and storage can be increased significantly by using suitable wardrobe accessories in them.
                                </p>

                            </div>
                        </div>
                    </div><!--end class row-->
<br>
                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <h4>Built in wardrobes-</h4>
                            <div class="tz-introduce-content">

                                <p>This type of wardrobes are meant to directly fit on the wall space.All the required measurements are taken to make a custom fit and style type is having more storage capacity.You can opt either for normal “cupboard-shutter type” or “sliding shutter”.Sliding shutters are more popular these days since they consume less space and more functional.You can also choose from a number of wardrobe accessories to increase storage space and better organisation of your clothes, shoes, coats and other nice items.Bloom Built in wardrobes are available in wide range of colours, designs and offer extensive flexibility to get along with any taste/style preferred by the customers.
                                </p>

                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <img class="iframe-full" src="/static/images/modularkitchen.jpg">

                        </div>
                    </div><!--end class row-->

                    <br>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <img class="iframe-full" src="/static/images/modularkitchen.jpg">

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <h4>Walk-in-Wardrobes-</h4>
                            <div class="tz-introduce-content">

                                <p>A cupboard shutter style wardrobe which comes in the range of dimensions fits in almost every space provided in the room.This style have medium storage capacity and it can be moved easily from one place to another.organisation and storage can be increased significantly by using suitable wardrobe accessories in them.
                                </p>

                            </div>
                        </div>
                    </div><!--end class row-->



                </div>

            </div><!--end class container-->
        </section><!--end class tz-introduce-->



        <!--appliances-->

        <section class="tzportfolio-wrap">
            <div class="container">
                <h3 class="tz-title-portfolio">
                    Appliances
                </h3>
                <div class="row">

                    <div class="col-md-3">
                        <div style="left: 0px; top: 0px;  width: 250px;">
                            <div class="tz-inner">
                                <div class="tz-image-item">

                                    <img alt="Phasellus blandit enim" class="img-responsive" src="/static/demos/Photoshop%20Images/belt%20holder.jpg" style="width: 250px; height: 200px; top: 0px; left: 0px;">


                                </div>
                                <span>BELT HOLDER</span>

                            </div>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div style="left: 0px; top: 0px;  width: 250px;">
                            <div class="tz-inner">
                                <div class="tz-image-item">

                                    <img alt="Phasellus blandit enim" class="img-responsive" src="/static/demos/accessnappl/ap2.jpg" style="width: 250px; height: 200px; top: 0px; left: 0px;">



                                </div>
                                <span>SPICE HOLDER</span>

                            </div>
                        </div>

                    </div>

                    <div class="col-md-3">
                        <div style="left: 0px; top: 0px;  width: 250px;">
                            <div class="tz-inner">
                                <div class="tz-image-item">

                                    <img alt="Phasellus blandit enim" class="img-responsive" src="/static/demos/Photoshop%20Images/mirror.jpg" style="width: 250px; height: 200px; top: 0px; left: 0px;">



                                </div>
                                <span>MIRROR</span>

                            </div>
                        </div>

                    </div>

                    <div class="col-md-3">
                        <div style="left: 0px; top: 0px;  width: 250px;">
                            <div class="tz-inner">
                                <div class="tz-image-item">

                                    <img alt="Phasellus blandit enim" class="img-responsive" src="/static/demos/Photoshop%20Images/shoerack3.jpg" style="width: 250px; height: 200px; top: 0px; left: 0px;">



                                </div>
                                <span>SHOERACK</span>

                            </div>
                        </div>

                    </div>


                </div>




                <div class="row">

                    <div class="col-md-3">
                        <div style="left: 0px; top: 0px;  width: 250px;">
                            <div class="tz-inner">
                                <div class="tz-image-item">

                                    <img alt="Phasellus blandit enim" class="img-responsive" src="/static/demos/Photoshop%20Images/organizer2.jpg" style="width: 250px; height: 200px; top: 0px; left: 0px;">


                                </div>
                                <span>ORGANIZER</span>

                            </div>
                        </div>

                    </div>

                    <div class="col-md-3">
                        <div style="left: 0px; top: 0px;  width: 250px;">
                            <div class="tz-inner">
                                <div class="tz-image-item">
                                    <img alt="Phasellus blandit enim" class="img-responsive" src="/static/demos/Photoshop%20Images/tieholder.jpg" style="width: 250px; height: 200px; top: 0px; left: 0px;">



                                </div>
                                <span>Tieholder</span>

                            </div>
                        </div>

                    </div>

                    <div class="col-md-3">
                        <div style="left: 0px; top: 0px;  width: 250px;">
                            <div class="tz-inner">
                                <div class="tz-image-item">


                                    <img alt="Phasellus blandit enim" class="img-responsive" src="/static/demos/Photoshop%20Images/wardrobelift.jpg" style="width: 250px; height: 200px; top: 0px; left: 0px;">



                                </div>
                                <span>WARDROBE LIFT</span>

                            </div>
                        </div>

                    </div>

                    <div class="col-md-3">
                        <div style="left: 0px; top: 0px;  width: 250px;">
                            <div class="tz-inner">
                                <div class="tz-image-item">

                                    <img alt="Phasellus blandit enim" class="img-responsive" src="/static/demos/Photoshop%20Images/trouserholder.jpg" style="width: 250px; height: 200px; top: 0px; left: 0px;">



                                </div>
                                <span>TROUSER HOLDER</span>

                            </div>
                        </div>

                    </div>


                </div>






            </div>
        </section>
        <!--  accessories end
          -->





    </div><!--end class container-->
</div><!--end class tzblog-wrap-->
{% endblock %}

{% block custom_script %}
<script type='text/javascript'>
    $(document).ready(function(){
        // Add smooth scrolling to all links


        $("a").on('click', function(event) {

            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
                // Prevent default anchor click behavior
                event.preventDefault();

                // Store hash
                var hash = this.hash;

                // Using jQuery's animate() method to add smooth page scroll
                // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                $('html, body').animate({
                    scrollTop: $(hash).offset().top - 60
                }, 800, function(){

                    // Add hash (#) to URL when done scrolling (default click behavior)
//        window.location.hash = hash;
                });
            } // End if
        });

    });

</script>
{% endblock %}
