{% extends 'base.html' %}

{% block custom_css %}
{% endblock %}

{% block content %}
<div class="tzcategory-shop-wrap">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3 class="tz-title-bold-3">Modular Kitchen & It’s Components</h3>
            </div>
        </div>



        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="tabs-style">
                    <ul class="nav nav-tabs" role="tablist" id="detailTab">
                        <li class="active"><a href="#modinfomation" role="tab" data-toggle="tab">Modular Kitchen</a></li>
                        <li><a href="#triangleinfomation" role="tab" data-toggle="tab">Kitchen Work Triangle</a></li>
                        <li><a href="#ergoinfomation" role="tab" data-toggle="tab">Kitchen Ergonomics</a></li>

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="modinfomation">
                            <div class="container">
                                <section class="theme-white">
                                    <div class="container">
                                        <h3 class="module-title title-widget">modular kitchen</h3>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <img class="iframe-full" src="/static/images/modularkitchen.jpg">

                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <h4>What is modular kitchen?</h4>
                                                <div class="tz-introduce-content">
                                                  <!--  <p>
                                                       <ui class="li-color">
                                                        <li>Smooth surface, making it easier to paint.</li>
                                                        <li>The smoothness of MDF allows for versatility in design finish.</li>
                                                        <li>The consistency of the material permits for easy cutting for detailed, intricate designs.</li>
                                                        <li>Stable (won’t expand or contract).</li>
                                                        <li>Water resistant once sealed properly on all edges.</li>

                                                    </ui>
                                                    </p>-->
                                                    <p>Modular kitchen is a term used in reference with factory made Modules which are fitted together as per international standards in different kitchen layouts. These modules are made of variety of raw materials. Fitted together they create super efficient working & storage space. Modular kitchens come in many beautiful styles, shades & designs.
                                                    </p>

                                                </div>
                                            </div>
                                        </div><!--end class row-->
<div class="tz-introduce">
                                        <div class="row">

                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <h4>Why Modular?</h4>
                                                <div class="tz-introduce-content">

                                                  <p>
                                                      <ui class="li-color">
                                                       <li>Based on international standards & scientific principal of ergonomics.</li>
                                                       <li>Enhances beauty of home; reflect lifestyle & personal taste of the home owners.</li>
                                                       <li>Highly customizable without any hidden cost.</li>

                                                       <li>Fuss free maintenance & cleaning.</li>

                                                   </ui>
                                                   </p>

                                                </div>

                                                <h4>Cost Factors of Modular Kitchen</h4>
                                                <div class="tz-introduce-content">

                                                    <p>Cost of modular kitchen depends on the following variables –:
                                                        <ui class="li-color">
                                                            <li>Price of raw materials/ wooden work.</li>
                                                            <li>Price of accessories & hardware.</li>
                                                            <li>Type of finish.</li>

                                                            <li>Electrical appliances.</li>

                                                        </ui>
<br>
                                                        Client would be made aware of the price of each variable. Therefore, client’s can get a beforehand budget estimate according to their preference. We at Bloom Interio have very transparent & honest system system of pricing to provide plenty of modular kitchen design available to fit in every budget & preferences.

                                                    </p>

                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <h4>Benefits of Modular Kitchen over Carpenter’s Kitchen -:</h4>
                                                <img class="iframe-full" src="/static/images/t1.jpg">

                                            </div>
                                        </div><!--end class row-->
</div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h4>How to choose a modular kitchen?</h4>
                                                <div class="tz-introduce-content">
                                                    <!--  <p>
                                                         <ui class="li-color">
                                                          <li>Smooth surface, making it easier to paint.</li>
                                                          <li>The smoothness of MDF allows for versatility in design finish.</li>
                                                          <li>The consistency of the material permits for easy cutting for detailed, intricate designs.</li>
                                                          <li>Stable (won’t expand or contract).</li>
                                                          <li>Water resistant once sealed properly on all edges.</li>

                                                      </ui>
                                                      </p>-->
                                                    <p>Following element should be taken into consideration before deciding on a particular layout -:
                                                    </p>


                                                    <p>   (1.) Space – First & foremost you should keep in mind the amount of space you have at the site. </p>
                                                    <p>  (2.) Layout – There are mainly 5 types of kitchen layouts which have been described as below –:</p>


                                                    <ul class="li-color">
                                                                    <li>
                                                                 Straight Kitchen – This type of kitchen layout consists of single wall mounted kitchen where space is ling but not wide enough. This is a very popular kitchen layout among small homes & studios.
                                                                    </li>
                                                                    <li>   Parallel Kitchen – Parallel kitchen layout spread across two opposite walls. This type of design facilitates work speed & efficiency. This kitchen could be divided into two different working sides i.e. Wet Side (sink area) & Dry Side (cooking area).
                                                                    </li>
                                                                    <li>    L Shaped Kitchen – This type of kitchen, as the term suggest makes “L” shape along two adjoining walls. It is one of the most efficient kitchen design which offers great working triangle, multiple entrances & best suited for open-plan living in small & medium homes.
                                                                    </li>
                                                                    <li> U Shaped Kitchen – U shaped kitchen spread along three consecutive walls. This type of kitchen layout is compact design which allow lots of cooking, storage & working area. The best feature of this kitchen design is many people can work simultaneously at different counters.
                                                                    </li>
                                                                    <li> Island Kitchen – In this type of kitchen layout, there is free standing cabinet island in the middle or to one side of the countertop. It provides lots of movement, working & storage space. Island kitchen looks very classic. It is best suited for large homes/ farm houses/ open cooking & dining spaces.

                                                                    </li>
                                                                </ul>



                                                    </p>

                                                </div>
                                            </div>
                                        </div><!--end class row-->
                                    </div><!--end class container-->
                                </section><!--end class tz-introduce-->
                            </div><!--end class container-->
                        </div>
                        <div class="tab-pane" id="triangleinfomation">
                            <div class="container">
                                <section class=" tz-introduce theme-white">
                                    <div class="container">
                                        <h3 class="module-title title-widget">Kitchen Work Triangle</h3>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <img class="iframe-full" src="/static/images/triangle.png">

                                            </div>


                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <h4>What is Kitchen Work Triangle? </h4>
                                                <div class="tz-introduce-content">

                                                    <p>
                                                        It is an imaginative triangle whose lines run across the center point of refrigerator, hob & sink. The main purpose of work triangle is to increase the work efficiency & decrease time wastage. It brings all zones like cooking, prepping & cleaning within the reach of the user. It also tends to create a compact zone in the kitchen in such a way that user is not disturbed while working.
                                                    </p>

                                                </div>

                                            </div>

                                        </div><!--end class row-->

                                    </div><!--end class container-->
                                </section><!--end class tz-introduce-->

                                <section class="theme-white">
                                    <div class="container">
                                        <h3 class="module-title title-widget">Types of Kitchen Work Triangle</h3>
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <img id="image1" class="iframe-full" src="/static/images/ushape.png">
                                                <div id="dialog" style="display: none;">
                                                    <img src="/static/images/ushape.png">
                                                </div>

                                            </div>

                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <img id="image2" class="iframe-full" src="/static/images/galleykitchen.png">
                                                <div id="dialog" style="display: none;">
                                                    <img src="/static/images/galleykitchen.png">
                                                </div>

                                            </div>

                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <img id="image3" class="iframe-full" src="/static/images/ishape.png">
                                                <div id="dialog" style="display: none;">
                                                    <img src="/static/images/images/ishape.png">
                                                </div>

                                            </div>


                                        </div><!--end class row-->



                                        <div class="tz-introduce">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <img id="image4" class="iframe-full" src="/static/images/island.png">
                                                <div id="dialog" style="display: none;">
                                                    <img src="/static/images/island.png">
                                                </div>

                                            </div>

                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <img id="image5" class="iframe-full" src="/static/images/peninsula.png">
                                                <div id="dialog" style="display: none;">
                                                    <img src="/static/images/peninsula.png">
                                                </div>

                                            </div>

                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <img id="image6" class="iframe-full" src="/static/images/onewall.png">
                                                <div id="dialog" style="display: none;">
                                                    <img src="/static/images/onewall.png">
                                                </div>

                                            </div>


                                        </div><!--end class row-->
                                            </div>

                                    </div><!--end class container-->
                                </section><!--end class tz-introduce-->
                            </div><!--end class container-->
                        </div>
                        <div class="tab-pane" id="ergoinfomation">
                            <div class="container">
                                <section class="theme-white">
                                    <div class="container">
                                        <h3 class="module-title title-widget">Kitchen Ergonomics</h3>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <img class="iframe-full" src="/static/images/egronomics.png">

                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <h4>What is Kitchen Ergonomics?</h4>
                                                <div class="tz-introduce-content">

                                                    <p>Kitchen ergonomics refers to the organization of kitchen to increase work efficiency and minimize discomfort. Proper space management can reduce unnecessary movements & time wastage while cooking & preparing food. Work triangle plays a significant role in combining all the important zones together in order to optimizing space management in the kitchen. </p>

                                                </div>
                                            </div>
                                        </div><!--end class row-->

                                        <div class="tz-introduce">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h4>Let us try to understand the various components of kitchen ergonomics apart from working triangle –: </h4>
                                                <div class="tz-introduce-content">


                                                    <ul class="li-color">
                                                        <li>
                                                           Cooking Zone – All the necessary appliances, cooking top utensils & ingredients are brought together in the cooking zone. While cooking food one might need all of these handy. Hob, chimney, utensils, spices all are organized in such a manner that they are easily accessible through this zone in the kitchen.
                                                        </li>
                                                        <li> Washing/ Cleaning Zone – Maintaining cleanliness & hygiene in the kitchen is very essential to stay healthy. Therefore, a distinctive washing zone is created in the kitchen which includes sink, detergent, holder, faucet, dishwasher, dish rack. Garbage bin should be placed adjacent to this area to get rid of waste immediately. After washing & cleaning, dishes should be placed in dish rack to dip dry in case dishwasher in not used.
                                                        </li>
                                                        <li> Preparation Zone – Area in the kitchen where all the food preparing activities like washing of fruits & veggies; cutting & chopping, dough kneading etc. are carried out. Ideally it should be in-between cooking & cleaning zone. </li>
                                                        <li> U Shaped Kitchen – U shaped kitchen spread along three consecutive walls. This type of kitchen layout is compact design which allow lots of cooking, storage & working area. The best feature of this kitchen design is many people can work simultaneously at different counters.
                                                        </li>
                                                        <li> 4. Storage Zone – There are mainly two types of a storage zone in the kitchen. Usually they are created next to each other.
                                                            <p>(1.) Consumable – Where all the consumable items are kept for storage. It includes mainly refrigerator, wine chiller, pantry etc. where food items are placed for storage & safe keeping for short/ long term usage.</p>
                                                            <p>(2.) Non Consumable – This zone is used for storing big/ small utensils, cutlery, pottery, small appliances like toaster, blender & mixer when not in use.</p>
                                                        </li>
                                                    </ul>



                                                </div>
                                            </div>
                                        </div><!--end class row-->
                                            </div>
                                    </div><!--end class container-->
                                </section><!--end class tz-introduce-->
                            </div><!--end class container-->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div><!--end class container-->
</div><!--end class tzblog-wrap-->
{% endblock %}

{% block custom_js %}
{% endblock %}
