{% extends 'base.html' %}

{% block custom_css %}
<style>


    ul.nav-collapse li:nth-child(2) > a { border-bottom : 2px solid #333; }

    ul.level1 li:nth-child(2) a { border-bottom : 0px; }

</style>
{% endblock %}

{% block content %}
<section class=" tzcategory-shop-wrap">

    <div class="page-content container">
        <h3 class="module-title title-widget">UNDERSTAND YOUR KITCHEN AND IT’S COMPONENTS</h3>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="tzaccordion">
                    <h6><i class="fa fa-chevron-right"></i>Materials</h6>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo nec turpis nec cursus.
                        Sed vestibulum ligula arcu, sit amet pellentesque lorem bibendum vitae.
                        Integer eget lectus nibh. Aliquam vulputate fermentum neque eu facilisis.<br>
                        <a class="tz-readmore" href="singlePost-image.html">READ MORE <i class="fa fa-caret-right"></i></a>

                    </p>
                    <h6><i class="fa fa-chevron-right"></i>Finishes</h6>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo nec turpis nec cursus.
                        Sed vestibulum ligula arcu, sit amet pellentesque lorem bibendum vitae.
                        Integer eget lectus nibh. Aliquam vulputate fermentum neque eu facilisis.<br>
                        <a class="tz-readmore" href="singlePost-image.html">READ MORE <i class="fa fa-caret-right"></i></a>

                    </p>
                    <h6><i class="fa fa-chevron-right"></i> Counter Tops</h6>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo nec turpis nec cursus.
                        Sed vestibulum ligula arcu, sit amet pellentesque lorem bibendum vitae.
                        Integer eget lectus nibh. Aliquam vulputate fermentum neque eu facilisis.<br>
                        <a class="tz-readmore" href="singlePost-image.html">READ MORE <i class="fa fa-caret-right"></i></a>

                    </p>


                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">


                        <div>
                            <p>

                                Bloom Interio makes it’s kitchen cabinet with Plywood and WPC only.We have provided a brief explanation of many materials which are used in kitchen cabinet making and a comparison chart to understand the strength and weakness of each.
                            </p>
                            <div class="row">
                                <div class="col-xs-6">
                            <img src="/static/demos/Photoshop%20Images/kitchen5.png" height="120" class="blog-img-style">
                                </div>

                                <div class="col-xs-6">
                                    <img src="/static/demos/Photoshop%20Images/kitchen4.png"  height="120" class="blog-img-style">
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </div><!--end class container-->
</section><!--end class tzpage-default-->


<section class="tz-introduce1 theme-white">
    <div class="container">
        <h3 class="module-title title-widget">MATERIALS</h3>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <img class="iframe-full" src="/static/demos/blog/mdf.jpg">

            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h4>Plywood</h4>
                <div class="tz-introduce-content">
                    <p>
                        A wooden sheet made of many thin layer of wood veneers comprised and glued together. </p>

                </div>
            </div>
        </div><!--end class row-->
    </div><!--end class container-->
</section><!--end class tz-introduce-->
<section class="tz-introduce1 theme-white">
    <div class="container">

        <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h4>WPC</h4>
                <div class="tz-introduce-content">
                    <p>Wood Plastic Composite is made by mixing ground wood grains with heated thermoplastic resin.
                    </p>

<!--
                    <ui class="li-color">
                        <li>Laminated at the time of manufacture.</li>
                        <li>Cheaper than plywood.</li>
                        <li>Smoother and cleaner than plywood, leaving a flat, slick finish.</li>

                    </ui> -->
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                    <div class="row">
                        <div class="col-xs-6">
                            <img src="/static/demos/Photoshop%20Images/kitchen5.png" height="120" class="blog-img-style">
                        </div>

                        <div class="col-xs-6">
                            <img src="/static/demos/Photoshop%20Images/kitchen4.png"  height="120" class="blog-img-style">
                        </div>
                    </div>
                </div>

        </div><!--end class row-->
    </div><!--end class container-->
</section><!--end class tz-introduce2-->
<section class="tz-introduce1 theme-white">
    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <img class="iframe-full" src="/static/demos/blog/Stainless-steel-sink.jpg"  height="160"
                     width="300">

            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h4>HDF -High Density Fiberboard</h4>
                <div class="tz-introduce-content">
                    <p>
                        A raw material product compression of wooden chip fibers generally with a glue at ah high temperature.HDF is stronger,harder and more water resistant than normal MDF.</p>

                </div>
            </div>
        </div><!--end class row-->
    </div><!--end class container-->
</section><!--end class tz-introduce3-->

<section class="tz-introduce1 theme-white">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>Particle Board</h4>
                <div class="tz-introduce-content">
                    <p>
                        Particle Board is also a type of engineered wood by compression of mixed wood chips,saw mill shavings or sawdust with resin.</p>

                </div>
            </div>
        </div><!--end class row-->

        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <img class="iframe-full" src="/static/demos/particleboard.png">

            </div>
        </div><!--end class row-->
    </div><!--end class container-->
</section><!--end class tz-introduce3-





<!--finishes-->
<section class="tz-introduce1 theme-white">
    <div class="container">
        <h3 class="module-title title-widget">FINISHES</h3>
        <P>We offer following types :-</P>


        <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h4>Laminate </h4>
                <div class="tz-introduce-content">
                    <p>
                        (a.) <b>Matte Finish </b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam deleniti, dignissimos ducimus incidunt iusto libero nesciunt rerum sunt! Aspernatur consequuntur hic itaque libero nisi quidem veritatis? Itaque natus officia quasi.
                    </p>

                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                <div class="row">
                    <div class="col-xs-6">
                        <img src="/static/demos/Photoshop%20Images/kitchen5.png" height="120" class="blog-img-style">
                    </div>

                    <div class="col-xs-6">
                        <img src="/static/demos/Photoshop%20Images/kitchen4.png"  height="120" class="blog-img-style">
                    </div>
                </div>

            </div>


        </div><!--end class row-->


        <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                <div class="tz-introduce-content">
                    <p>
                        (a.) <b>High Gloss Finish </b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam deleniti, dignissimos ducimus incidunt iusto libero nesciunt rerum sunt! Aspernatur consequuntur hic itaque libero nisi quidem veritatis? Itaque natus officia quasi.
                    </p>

                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                <div class="row">
                    <div class="col-xs-6">
                        <img src="/static/demos/Photoshop%20Images/kitchen5.png" height="120" class="blog-img-style">
                    </div>

                    <div class="col-xs-6">
                        <img src="/static/demos/Photoshop%20Images/kitchen4.png"  height="120" class="blog-img-style">
                    </div>
                </div>

            </div>


        </div><!--end class row-->
    </div><!--end class container-->
</section><!--end class tz-introduce-->

<section class="tz-introduce1 theme-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <img class="iframe-full" src="/static/demos/blog/mdf.jpg"  height="160"
                     width="300">

            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h4>Acrylic</h4>
                <div class="tz-introduce-content">
                    <p>
                        A wooden sheet made of many thin layer of wood veneers comprised and glued together. </p>

                </div>
            </div>
        </div><!--end class row-->
    </div><!--end class container-->
</section><!--end class tz-introduce-->
<section class="tz-introduce1 theme-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h4>Veneer</h4>
                <div class="tz-introduce-content">
                    <p>
                        A wooden sheet made of many thin layer of wood veneers comprised and glued together. </p>

                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <img class="iframe-full" src="/static/demos/blog/mdf.jpg">

            </div>

        </div><!--end class row-->
    </div><!--end class container-->
</section><!--end class tz-introduce-->
<section class="tz-introduce1 theme-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <img class="iframe-full" src="/static/demos/blog/mdf.jpg"  height="160"
                     width="300">

            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h4>Pu Paint/ Polish</h4>
                <div class="tz-introduce-content">
                    <p>
                        A wooden sheet made of many thin layer of wood veneers comprised and glued together. </p>

                </div>
            </div>
        </div><!--end class row-->
    </div><!--end class container-->
</section><!--end class tz-introduce-->
<section class="tz-introduce1 theme-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h4>Wooden shutters</h4>
                <div class="tz-introduce-content">
                    <p>
                        A wooden sheet made of many thin layer of wood veneers comprised and glued together. </p>

                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <img class="iframe-full" src="/static/demos/blog/mdf.jpg"  height="160"
                     width="300">

            </div>

        </div><!--end class row-->
    </div><!--end class container-->
</section><!--end class tz-introduce-->
<section class="tz-introduce1 theme-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <img class="iframe-full" src="/static/demos/blog/mdf.jpg"  height="160"
                     width="300">

            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h4>Membrane Finish</h4>
                <div class="tz-introduce-content">
                    <p>
                        A wooden sheet made of many thin layer of wood veneers comprised and glued together. </p>

                </div>
            </div>
        </div><!--end class row-->
    </div><!--end class container-->
</section><!--end class tz-introduce-->
<section class="tz-introduce1 theme-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h4>Lacquered Finish</h4>
                <div class="tz-introduce-content">
                    <p>
                        A wooden sheet made of many thin layer of wood veneers comprised and glued together. </p>

                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <img class="iframe-full" src="/static/demos/blog/mdf.jpg"  height="160"
                     width="300">

            </div>

        </div><!--end class row-->
    </div><!--end class container-->
</section><!--end class tz-introduce-->








<!--handheld-->
<section class="tz-introduce1 theme-white">
    <div class="container">
        <h3 class="module-title title-widget">Counter Tops</h3>
        <P>Kitchen Counter Tops can be made by variety of materials like Granite,Marble,Quartz,Corian, Soapstone,Steel, or Heritage wood.But most popular among them are Granite,Quartz nad corian whose description are as under:-</P>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">


                 <h4>Granite</h4>
                    <div class="tz-introduce-content">
                        <p>Granite is all-natural stone available in variety of colors,textures and price range.It is very strong,durable,heat resistant,cost effective,easy to maintain and anti bacterial.But it is not flexible ,hence can’t be moulded and porus material.</p>

                    </div>



            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">


                <div class="row">
                    <div class="col-xs-6">
                        <img src="/static/demos/Photoshop%20Images/kitchen5.png" height="120" class="blog-img-style">
                    </div>

                    <div class="col-xs-6">
                        <img src="/static/demos/Photoshop%20Images/kitchen4.png"  height="120" class="blog-img-style">
                    </div>
                </div>

            </div>
        </div><!--end class row-->
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">



                <h4>Quartz</h4>
                <div class="tz-introduce-content">
                    <p>Quartz are man-made granite look-alike stone made up of 90% quartz and remaining with polymers,resins and pigments.It is less porus than granite but a little hard to maintain.
                    </p></div>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">


                <div class="row">
                    <div class="col-xs-6">
                        <img src="/static/demos/Photoshop%20Images/kitchen5.png" height="120" class="blog-img-style">
                    </div>

                    <div class="col-xs-6">
                        <img src="/static/demos/Photoshop%20Images/kitchen4.png"  height="120" class="blog-img-style">
                    </div>
                </div>

            </div>
        </div><!--end class row-->

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">



                <h4>Corian</h4>
                <div class="tz-introduce-content">
                    <p>This is totally engineered counter top material consist of acrylic polymer and aluminium trihydrate. The best feature of corian is that it’s very flexible,therefore ideal to use anywhere in the kitchen.But corian requires high maintenance,can get easily scratched and prone to get stained.
                    </p></div>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">


                <div class="row">
                    <div class="col-xs-6">
                        <img src="/static/demos/Photoshop%20Images/kitchen5.png" height="120" class="blog-img-style">
                    </div>

                    <div class="col-xs-6">
                        <img src="/static/demos/Photoshop%20Images/kitchen4.png"  height="120" class="blog-img-style">
                    </div>
                </div>

            </div>
        </div><!--end class row-->
    </div><!--end class container-->
</section><!--end class tz-introduce-->

{% endblock %}

{% block custom_js %}
{% endblock %}
