{% extends 'base.html' %}

{% block custom_css %}
{% endblock %}

{% block content %}
<div class="tzcategory-shop-wrap">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3 class="tz-title-bold-3">Modular Kitchen & It’s Components</h3>
            </div>
        </div>



        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="tabs-style">
                    <ul class="nav nav-tabs" role="tablist" id="detailTab">
                        <li class="active"><a href="#modinfomation" role="tab" data-toggle="tab">Modular Kitchen</a></li>
                        <li><a href="#triangleinfomation" role="tab" data-toggle="tab">Kitchen Work Triangle & Ergonomics</a></li>
                        <li><a href="#maintenance" role="tab" data-toggle="tab">Accessories & Maintenance</a></li>
                        <li><a href="#kitcheninfo" role="tab" data-toggle="tab">Kitchen Info</a></li>

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="modinfomation">
                            <div class="container">
                                <section class="theme-white">
                                    <div class="container">
                                        <h3 class="module-title title-widget">modular kitchen</h3>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <img class="iframe-full" src="/static/images/modularkitchen.jpg">

                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <h4>What is modular kitchen?</h4>
                                                <div class="tz-introduce-content">
                                                  <!--  <p>
                                                       <ui class="li-color">
                                                        <li>Smooth surface, making it easier to paint.</li>
                                                        <li>The smoothness of MDF allows for versatility in design finish.</li>
                                                        <li>The consistency of the material permits for easy cutting for detailed, intricate designs.</li>
                                                        <li>Stable (won’t expand or contract).</li>
                                                        <li>Water resistant once sealed properly on all edges.</li>

                                                    </ui>
                                                    </p>-->
                                                    <p>Modular kitchen is a term used in reference with factory made Modules which are fitted together as per international standards in different kitchen layouts. These modules are made of variety of raw materials. Fitted together they create super efficient working & storage space. Modular kitchens come in many beautiful styles, shades & designs.
                                                    </p>

                                                </div>
                                            </div>
                                        </div><!--end class row-->
<div class="tz-introduce1 ">
                                        <div class="row">

                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <h4>Why Modular?</h4>
                                                <div class="tz-introduce-content">

                                                  <p>
                                                      <ui class="li-color">
                                                       <li>Based on international standards & scientific principal of ergonomics.</li>
                                                       <li>Enhances beauty of home; reflect lifestyle & personal taste of the home owners.</li>
                                                       <li>Highly customizable without any hidden cost.</li>

                                                       <li>Fuss free maintenance & cleaning.</li>

                                                   </ui>
                                                   </p>

                                                </div>

                                                <h4>Cost Factors of Modular Kitchen</h4>
                                                <div class="tz-introduce-content">

                                                    <p>Cost of modular kitchen depends on the following variables –:
                                                        <ui class="li-color">
                                                            <li>Price of raw materials/ wooden work.</li>
                                                            <li>Price of accessories & hardware.</li>
                                                            <li>Type of finish.</li>

                                                            <li>Electrical appliances.</li>

                                                        </ui>
<br>
                                                        Client would be made aware of the price of each variable. Therefore, client’s can get a beforehand budget estimate according to their preference. We at Bloom Interio have very transparent & honest system system of pricing to provide plenty of modular kitchen design available to fit in every budget & preferences.

                                                    </p>

                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <h4>Benefits of Modular Kitchen over Carpenter’s Kitchen -:</h4>
                                                <img class="iframe-full" src="/static/images/t1.jpg">

                                            </div>
                                        </div><!--end class row-->
</div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h4>How to choose a modular kitchen?</h4>
                                                <div class="tz-introduce-content">
                                                    <!--  <p>
                                                         <ui class="li-color">
                                                          <li>Smooth surface, making it easier to paint.</li>
                                                          <li>The smoothness of MDF allows for versatility in design finish.</li>
                                                          <li>The consistency of the material permits for easy cutting for detailed, intricate designs.</li>
                                                          <li>Stable (won’t expand or contract).</li>
                                                          <li>Water resistant once sealed properly on all edges.</li>

                                                      </ui>
                                                      </p>-->
                                                    <p>Following element should be taken into consideration before deciding on a particular layout -:
                                                    </p>


                                                    <p>  <b>(1.) Space</b> – First & foremost you should keep in mind the amount of space you have at the site. </p>
                                                    <p>  <b>(2.) Layout</b> – There are mainly 5 types of kitchen layouts which have been described as below –:</p>


                                                    <ul class="li-color" style="padding-left:35px;">
                                                                    <li>
                                                                 <b>Straight Kitchen</b> – This type of kitchen layout consists of single wall mounted kitchen where space is ling but not wide enough. This is a very popular kitchen layout among small homes & studios.
                                                                    </li>
                                                                    <li>   <b>Parallel Kitchen</b> – Parallel kitchen layout spread across two opposite walls. This type of design facilitates work speed & efficiency. This kitchen could be divided into two different working sides i.e. Wet Side (sink area) & Dry Side (cooking area).
                                                                    </li>
                                                                    <li>   <b> L Shaped Kitchen</b> – This type of kitchen, as the term suggest makes “L” shape along two adjoining walls. It is one of the most efficient kitchen design which offers great working triangle, multiple entrances & best suited for open-plan living in small & medium homes.
                                                                    </li>
                                                                    <li> <b>U Shaped Kitchen</b> – U shaped kitchen spread along three consecutive walls. This type of kitchen layout is compact design which allow lots of cooking, storage & working area. The best feature of this kitchen design is many people can work simultaneously at different counters.
                                                                    </li>
                                                                    <li> <b>Island Kitchen </b>– In this type of kitchen layout, there is free standing cabinet island in the middle or to one side of the countertop. It provides lots of movement, working & storage space. Island kitchen looks very classic. It is best suited for large homes/ farm houses/ open cooking & dining spaces.

                                                                    </li>
                                                                </ul>



                                                    </p>

                                                </div>
                                            </div>
                                        </div><!--end class row-->
                                    </div><!--end class container-->
                                </section><!--end class tz-introduce-->
                            </div><!--end class container-->
                        </div>
                        <div class="tab-pane" id="triangleinfomation">
                            <div class="container">
                                <section class="tz-introduce1  theme-white">
                                    <div class="container">
                                        <h3 class="module-title title-widget">Kitchen Work Triangle</h3>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <img class="iframe-full" src="/static/images/triangle.png">

                                            </div>


                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <h4>What is Kitchen Work Triangle? </h4>
                                                <div class="tz-introduce-content">

                                                    <p>
                                                        It is an imaginative triangle whose lines run across the center point of refrigerator, hob & sink. The main purpose of work triangle is to increase the work efficiency & decrease time wastage. It brings all zones like cooking, prepping & cleaning within the reach of the user. It also tends to create a compact zone in the kitchen in such a way that user is not disturbed while working.
                                                    </p>

                                                </div>

                                            </div>

                                        </div><!--end class row-->

                                    </div><!--end class container-->
                                </section><!--end class tz-introduce-->

                                <section class="theme-white">
                                    <div class="container">
                                        <h3 class="module-title title-widget">Types of Kitchen Work Triangle</h3>
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <img id="image1" class="iframe-full" src="/static/images/ushape.png">
                                                <div id="dialog" style="display: none;">
                                                    <img src="/static/images/ushape.png">
                                                </div>

                                            </div>

                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <img id="image2" class="iframe-full" src="/static/images/galleykitchen.png">
                                                <div id="dialog" style="display: none;">
                                                    <img src="/static/images/galleykitchen.png">
                                                </div>

                                            </div>

                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <img id="image3" class="iframe-full" src="/static/images/ishape.png">
                                                <div id="dialog" style="display: none;">
                                                    <img src="/static/images/images/ishape.png">
                                                </div>

                                            </div>


                                        </div><!--end class row-->



                                        <div class="tz-introduce1 ">

                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <img id="image4" class="iframe-full" src="/static/images/island.png">
                                                <div id="dialog" style="display: none;">
                                                    <img src="/static/images/island.png">
                                                </div>

                                            </div>

                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <img id="image5" class="iframe-full" src="/static/images/peninsula.png">
                                                <div id="dialog" style="display: none;">
                                                    <img src="/static/images/peninsula.png">
                                                </div>

                                            </div>

                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <img id="image6" class="iframe-full" src="/static/images/onewall.png">
                                                <div id="dialog" style="display: none;">
                                                    <img src="/static/images/onewall.png">
                                                </div>

                                            </div>


                                        </div><!--end class row-->

                                            </div>

                                    </div><!--end class container-->
                                </section><!--end class tz-introduce-->
                                <h3 class="module-title title-widget">Kitchen Ergonomics</h3>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <img class="iframe-full" src="/static/images/egronomics.png">

                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <h4>What is Kitchen Ergonomics?</h4>
                                        <div class="tz-introduce-content">

                                            <p>Kitchen ergonomics refers to the organization of kitchen to increase work efficiency and minimize discomfort. Proper space management can reduce unnecessary movements & time wastage while cooking & preparing food. Work triangle plays a significant role in combining all the important zones together in order to optimizing space management in the kitchen. </p>

                                        </div>
                                    </div>
                                </div>


                                <div class="tz-introduce1 ">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <h4>Let us try to understand the various components of kitchen ergonomics apart from working triangle –: </h4>
                                            <div class="tz-introduce-content">


                                                <ul class="li-color" style="padding-left:15px;">
                                                    <li>
                                                        <b>Cooking Zone</b> – All the necessary appliances, cooking top utensils & ingredients are brought together in the cooking zone. While cooking food one might need all of these handy. Hob, chimney, utensils, spices all are organized in such a manner that they are easily accessible through this zone in the kitchen.
                                                    </li>
                                                    <li><b> Washing/ Cleaning Zone</b> – Maintaining cleanliness & hygiene in the kitchen is very essential to stay healthy. Therefore, a distinctive washing zone is created in the kitchen which includes sink, detergent, holder, faucet, dishwasher, dish rack. Garbage bin should be placed adjacent to this area to get rid of waste immediately. After washing & cleaning, dishes should be placed in dish rack to dip dry in case dishwasher in not used.
                                                    </li>
                                                    <li> <b>Preparation Zone</b> – Area in the kitchen where all the food preparing activities like washing of fruits & veggies; cutting & chopping, dough kneading etc. are carried out. Ideally it should be in-between cooking & cleaning zone. </li>
                                                    <li><b> U Shaped Kitchen </b>– U shaped kitchen spread along three consecutive walls. This type of kitchen layout is compact design which allow lots of cooking, storage & working area. The best feature of this kitchen design is many people can work simultaneously at different counters.
                                                    </li>
                                                    <li><b>Storage Zone</b> – There are mainly two types of a storage zone in the kitchen. Usually they are created next to each other.
                                                        <p style="padding-left:10px;"><b>(1.) Consumable</b> – Where all the consumable items are kept for storage. It includes mainly refrigerator, wine chiller, pantry etc. where food items are placed for storage & safe keeping for short/ long term usage.</p>
                                                        <p style="padding-left:10px;"><b>(2.) Non Consumable</b> – This zone is used for storing big/ small utensils, cutlery, pottery, small appliances like toaster, blender & mixer when not in use.</p>
                                                    </li>
                                                </ul>



                                            </div>
                                        </div>
                                    </div><!--end class row-->
                                </div>

                            </div><!--end class container-->
                        </div>
                        <div class="tab-pane" id="maintenance">
                            <div class="container">
                                <section class="theme-white">
                                    <div class="container">
                                       <!--end class row-->

                                        <div class="tz-introduce1 ">
                                            <div class="container">
                                                <h3 class="module-title text-center"> Maintenance Tips for Kitchen</h3>
                                                <br>
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <h4>Taking care of Bloom Modular Kitchen is very easy.We suggest you to follow the below given tips to keep it clean and forever new –: </h4>
                                                        <div class="tz-introduce-content">


                                                            <ul class="li-color" style="padding-left:20px;">
                                                                <li>
                                                                    Regularly clean the chimney filters, cook stove burners to keep them in proper condition.</li>
                                                                <li> Keep all the working zones in the kitchen organised and countertop clutter free to increase the work efficiency in the kitchen.</li>
                                                                <li>Try to clean the countertop,hob or sink area as soon as there is any spillage on them. </li>
                                                                <li>Please avoid using any harsh cleaning agents on shutters,appliances,accessories or countertops as the acidic nature of these might lead to color fading or scratches on the surface.</li>
                                                                <li>
                                                                    Storage of items in the drawers should be done as per the weight bearing capacity of the channel.
                                                                </li>

                                                                <li>Washcloth dipped in mineral oil and water solution should be used to gently clean the electrical appliances.</li>
                                                                <li>Sink area should be kept free of dirty dishes to maintain the hygienic condition of the kitchen.Try to clean the dishes as soon as there is any and let them dip dry.Wash the dirty dishes with plain water to get rid of leftovers in the dishes before loading the dishwasher.</li>

                                                                <li>Special care should be taken about Garbage bin.All the trash should be put into at the earliest finishing the work.Garbage bin should be emptied on daily basis.</li>

                                                                <li>Clean and mop the floors of the kitchen daily with a disinfected floor cleaner and kitchen rugs should be nicely vacuum cleaned every fortnight. </li>

                                                                <li>Clean at least and organise cabinets,racks and drawers every week to get rid of dirt/germs accumulation. </li>
                                                            </ul>



                                                        </div>
                                                    </div>
                                                </div><!--end class row-->
                                            </div>
                                        </div>

                                    </div><!--end class container-->
                                </section><!--end class tz-introduce-->
                            </div><!--end class container-->
                        </div>
                        <div class="tab-pane" id="kitcheninfo">
                            <div class="container">
                                <section class="theme-white">
                                    <div class="container">
                                            <div class="page-content container">
                                                <h3 class="module-title title-widget">UNDERSTAND YOUR KITCHEN AND IT’S COMPONENTS</h3>

                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="tzaccordion">
                                                            <h6><i class="fa fa-chevron-right"></i>Materials</h6>
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo nec turpis nec cursus.
                                                                Sed vestibulum ligula arcu, sit amet pellentesque lorem bibendum vitae.
                                                                Integer eget lectus nibh. Aliquam vulputate fermentum neque eu facilisis.<br>
                                                                <a class="tz-readmore" href="#material">READ MORE <i class="fa fa-caret-right"></i></a>

                                                            </p>
                                                            <h6><i class="fa fa-chevron-right"></i>Finishes</h6>
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo nec turpis nec cursus.
                                                                Sed vestibulum ligula arcu, sit amet pellentesque lorem bibendum vitae.
                                                                Integer eget lectus nibh. Aliquam vulputate fermentum neque eu facilisis.<br>
                                                                <a class="tz-readmore" href="#finishes">READ MORE <i class="fa fa-caret-right"></i></a>

                                                            </p>
                                                            <h6><i class="fa fa-chevron-right"></i> Counter Tops</h6>
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo nec turpis nec cursus.
                                                                Sed vestibulum ligula arcu, sit amet pellentesque lorem bibendum vitae.
                                                                Integer eget lectus nibh. Aliquam vulputate fermentum neque eu facilisis.<br>
                                                                <a class="tz-readmore" href="#counter">READ MORE <i class="fa fa-caret-right"></i></a>

                                                            </p>


                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">


                                                        <div>
                                                            <p>

                                                                Bloom Interio makes it’s kitchen cabinet with Plywood and WPC only.We have provided a brief explanation of many materials which are used in kitchen cabinet making and a comparison chart to understand the strength and weakness of each.
                                                            </p>
                                                            <div class="row">
                                                                <div class="col-xs-6">
                                                                    <img src="/static/demos/Photoshop%20Images/kitchen5.png" height="120" class="blog-img-style">
                                                                </div>

                                                                <div class="col-xs-6">
                                                                    <img src="/static/demos/Photoshop%20Images/kitchen4.png"  height="120" class="blog-img-style">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!--end class container-->
                                        <!--end class tzpage-default-->



                                        <section id="material" class="tz-introduce1 theme-white">
                                            <div class="container">
                                                <h3 class="module-title title-widget">MATERIALS</h3>
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <img class="iframe-full" src="/static/demos/blog/mdf.jpg">

                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <h4>Plywood</h4>
                                                        <div class="tz-introduce-content">
                                                            <p>
                                                                A wooden sheet made of many thin layer of wood veneers comprised and glued together. </p>

                                                        </div>
                                                    </div>
                                                </div><!--end class row-->
                                            </div><!--end class container-->
                                        </section><!--end class tz-introduce-->
                                        <section class="tz-introduce1 theme-white">
                                            <div class="container">

                                                <div class="row">

                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <h4>WPC</h4>
                                                        <div class="tz-introduce-content">
                                                            <p>Wood Plastic Composite is made by mixing ground wood grains with heated thermoplastic resin.
                                                            </p>

                                                            <!--
                                                                                <ui class="li-color">
                                                                                    <li>Laminated at the time of manufacture.</li>
                                                                                    <li>Cheaper than plywood.</li>
                                                                                    <li>Smoother and cleaner than plywood, leaving a flat, slick finish.</li>

                                                                                </ui> -->
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                <img src="/static/demos/Photoshop%20Images/kitchen5.png" height="120" class="blog-img-style">
                                                            </div>

                                                            <div class="col-xs-6">
                                                                <img src="/static/demos/Photoshop%20Images/kitchen4.png"  height="120" class="blog-img-style">
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div><!--end class row-->
                                            </div><!--end class container-->
                                        </section><!--end class tz-introduce2-->
                                        <section class="tz-introduce1 theme-white">
                                            <div class="container">

                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <img class="iframe-full" src="/static/demos/blog/Stainless-steel-sink.jpg"  height="160"
                                                             width="300">

                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <h4>HDF -High Density Fiberboard</h4>
                                                        <div class="tz-introduce-content">
                                                            <p>
                                                                A raw material product compression of wooden chip fibers generally with a glue at ah high temperature.HDF is stronger,harder and more water resistant than normal MDF.</p>

                                                        </div>
                                                    </div>
                                                </div><!--end class row-->
                                            </div><!--end class container-->
                                        </section><!--end class tz-introduce3-->

                                        <section class="tz-introduce1 theme-white">
                                            <div class="container">

                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <h4>Particle Board</h4>
                                                        <div class="tz-introduce-content">
                                                            <p>
                                                                Particle Board is also a type of engineered wood by compression of mixed wood chips,saw mill shavings or sawdust with resin.</p>

                                                        </div>
                                                    </div>
                                                </div><!--end class row-->

                                                <div class="row">

                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                                        <img class="iframe-full" src="/static/demos/particleboard.png">

                                                    </div>
                                                </div><!--end class row-->
                                            </div><!--end class container-->
                                        </section><!--end class tz-introduce3-





<!--finishes-->
                                        <section id="finishes" class="tz-introduce1 theme-white">
                                            <div class="container">
                                                <h3 class="module-title title-widget">FINISHES</h3>
                                                <P>We offer following types :-</P>


                                                <div class="row">

                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <h4>Laminate </h4>
                                                        <div class="tz-introduce-content">
                                                            <p>
                                                                (a.) <b>Matte Finish </b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam deleniti, dignissimos ducimus incidunt iusto libero nesciunt rerum sunt! Aspernatur consequuntur hic itaque libero nisi quidem veritatis? Itaque natus officia quasi.
                                                            </p>

                                                        </div>
                                                    </div>

                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                <img src="/static/demos/Photoshop%20Images/kitchen5.png" height="120" class="blog-img-style">
                                                            </div>

                                                            <div class="col-xs-6">
                                                                <img src="/static/demos/Photoshop%20Images/kitchen4.png"  height="120" class="blog-img-style">
                                                            </div>
                                                        </div>

                                                    </div>


                                                </div><!--end class row-->


                                                <div class="row">

                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                                                        <div class="tz-introduce-content">
                                                            <p>
                                                                (a.) <b>High Gloss Finish </b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam deleniti, dignissimos ducimus incidunt iusto libero nesciunt rerum sunt! Aspernatur consequuntur hic itaque libero nisi quidem veritatis? Itaque natus officia quasi.
                                                            </p>

                                                        </div>
                                                    </div>

                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                <img src="/static/demos/Photoshop%20Images/kitchen5.png" height="120" class="blog-img-style">
                                                            </div>

                                                            <div class="col-xs-6">
                                                                <img src="/static/demos/Photoshop%20Images/kitchen4.png"  height="120" class="blog-img-style">
                                                            </div>
                                                        </div>

                                                    </div>


                                                </div><!--end class row-->
                                            </div><!--end class container-->
                                        </section><!--end class tz-introduce-->

                                        <div class="tz-introduce1 theme-white">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <img class="iframe-full" src="/static/demos/blog/mdf.jpg"  height="160"
                                                             width="300">

                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <h4>Acrylic</h4>
                                                        <div class="tz-introduce-content">
                                                            <p>
                                                                A wooden sheet made of many thin layer of wood veneers comprised and glued together. </p>

                                                        </div>
                                                    </div>
                                                </div><!--end class row-->
                                            </div><!--end class container-->
                                        </div><!--end class tz-introduce-->
                                        <div class="tz-introduce1 theme-white">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <h4>Veneer</h4>
                                                        <div class="tz-introduce-content">
                                                            <p>
                                                                A wooden sheet made of many thin layer of wood veneers comprised and glued together. </p>

                                                        </div>
                                                    </div>

                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <img class="iframe-full" src="/static/demos/blog/mdf.jpg">

                                                    </div>

                                                </div><!--end class row-->
                                            </div><!--end class container-->
                                        </div><!--end class tz-introduce-->
                                        <div class="tz-introduce1 theme-white">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <img class="iframe-full" src="/static/demos/blog/mdf.jpg"  height="160"
                                                             width="300">

                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <h4>Pu Paint/ Polish</h4>
                                                        <div class="tz-introduce-content">
                                                            <p>
                                                                A wooden sheet made of many thin layer of wood veneers comprised and glued together. </p>

                                                        </div>
                                                    </div>
                                                </div><!--end class row-->
                                            </div><!--end class container-->
                                        </div><!--end class tz-introduce-->
                                        <div class="tz-introduce1 theme-white">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <h4>Wooden shutters</h4>
                                                        <div class="tz-introduce-content">
                                                            <p>
                                                                A wooden sheet made of many thin layer of wood veneers comprised and glued together. </p>

                                                        </div>
                                                    </div>

                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <img class="iframe-full" src="/static/demos/blog/mdf.jpg"  height="160"
                                                             width="300">

                                                    </div>

                                                </div><!--end class row-->
                                            </div><!--end class container-->
                                        </div><!--end class tz-introduce-->
                                        <div class="tz-introduce1 theme-white">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <img class="iframe-full" src="/static/demos/blog/mdf.jpg"  height="160"
                                                             width="300">

                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <h4>Membrane Finish</h4>
                                                        <div class="tz-introduce-content">
                                                            <p>
                                                                A wooden sheet made of many thin layer of wood veneers comprised and glued together. </p>

                                                        </div>
                                                    </div>
                                                </div><!--end class row-->
                                            </div><!--end class container-->
                                        </div><!--end class tz-introduce-->
                                        <div class="tz-introduce1 theme-white">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <h4>Lacquered Finish</h4>
                                                        <div class="tz-introduce-content">
                                                            <p>
                                                                A wooden sheet made of many thin layer of wood veneers comprised and glued together. </p>

                                                        </div>
                                                    </div>

                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <img class="iframe-full" src="/static/demos/blog/mdf.jpg"  height="160"
                                                             width="300">

                                                    </div>

                                                </div><!--end class row-->
                                            </div><!--end class container-->
                                        </div><!--end class tz-introduce-->








                                        <!--Counter tops-->
                                        <section id="counter" class="tz-introduce1 theme-white">
                                            <div class="container">
                                                <h3 class="module-title title-widget">Counter Tops</h3>
                                                <P>Kitchen Counter Tops can be made by variety of materials like Granite,Marble,Quartz,Corian, Soapstone,Steel, or Heritage wood.But most popular among them are Granite,Quartz nad corian whose description are as under:-</P>

                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">


                                                        <h4>Granite</h4>
                                                        <div class="tz-introduce-content">
                                                            <p>Granite is all-natural stone available in variety of colors,textures and price range.It is very strong,durable,heat resistant,cost effective,easy to maintain and anti bacterial.But it is not flexible ,hence can’t be moulded and porus material.</p>

                                                        </div>



                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">


                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                <img src="/static/demos/Photoshop%20Images/kitchen5.png" height="120" class="blog-img-style">
                                                            </div>

                                                            <div class="col-xs-6">
                                                                <img src="/static/demos/Photoshop%20Images/kitchen4.png"  height="120" class="blog-img-style">
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div><!--end class row-->
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">



                                                        <h4>Quartz</h4>
                                                        <div class="tz-introduce-content">
                                                            <p>Quartz are man-made granite look-alike stone made up of 90% quartz and remaining with polymers,resins and pigments.It is less porus than granite but a little hard to maintain.
                                                            </p></div>

                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">


                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                <img src="/static/demos/Photoshop%20Images/kitchen5.png" height="120" class="blog-img-style">
                                                            </div>

                                                            <div class="col-xs-6">
                                                                <img src="/static/demos/Photoshop%20Images/kitchen4.png"  height="120" class="blog-img-style">
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div><!--end class row-->

                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">



                                                        <h4>Corian</h4>
                                                        <div class="tz-introduce-content">
                                                            <p>This is totally engineered counter top material consist of acrylic polymer and aluminium trihydrate. The best feature of corian is that it’s very flexible,therefore ideal to use anywhere in the kitchen.But corian requires high maintenance,can get easily scratched and prone to get stained.
                                                            </p></div>

                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">


                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                <img src="/static/demos/Photoshop%20Images/kitchen5.png" height="120" class="blog-img-style">
                                                            </div>

                                                            <div class="col-xs-6">
                                                                <img src="/static/demos/Photoshop%20Images/kitchen4.png"  height="120" class="blog-img-style">
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div><!--end class row-->
                                            </div><!--end class container-->
                                        </section><!--end class tz-introduce-->



                                    </div><!--end class container-->
                                </section><!--end class tz-introduce-->
                            </div><!--end class container-->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div><!--end class container-->
</div><!--end class tzblog-wrap-->
{% endblock %}

{% block custom_script %}
<script type='text/javascript'>
    $(document).ready(function(){
        // Add smooth scrolling to all links


        $("a").on('click', function(event) {

            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
                // Prevent default anchor click behavior
                event.preventDefault();

                // Store hash
                var hash = this.hash;

                // Using jQuery's animate() method to add smooth page scroll
                // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                $('html, body').animate({
                    scrollTop: $(hash).offset().top - 60
                }, 800, function(){

                    // Add hash (#) to URL when done scrolling (default click behavior)
//        window.location.hash = hash;
                });
            } // End if
        });

    });

</script>
{% endblock %}
