<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bloom Interio</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="fonts/awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,700,600,500,300,100,200,800" rel="stylesheet" />
    <link href="css/owl.carousel.css" rel="stylesheet" />
    <link href="css/owl.theme.css" rel="stylesheet" />
    <link rel='stylesheet' href='rs-plugin/css/settings.css' />
    <!-- Support for HTML5 -->
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Enable media queries on older bgeneral_rowsers -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link href="style.css" rel="stylesheet" />
    <link href="css/custom.css" rel="stylesheet" />
</head>
<body>
<div class="loading-page">
    <img src="demos/loading.GIF" alt="loading">
</div>
<header class="tz-header tz-header3" style="    border-bottom: 1px solid #eeeeee;position: fixed; width: 100%;">
    <div class="container">
        <h3 class="tz-logo pull-left">
            <a href="landing.html">
                <img src="images/logo.png" alt="bloom">
            </a>
        </h3>
        <button data-target=".nav-collapse" class="btn-navbar pull-right  tz_icon_menu" type="button">
            <i class="fa fa-bars"></i>
        </button>
        <button class="pull-right tz-search1"> <span class="border-no1"> <i class="fa fa-phone"> +91-123456789</i></span></button>
        <nav class="pull-right">
            <ul class="nav-collapse">
                <li>
                    <a href="landing.html">HOME</a>

                </li>
                <li>
                    <a href="#">kitchen</a>
                    <div class="nav-child dropdown-menu mega-dropdown-menu">
                        <div class="mega-dropdown-inner">
                            <div class="row">
                                <div data-width="12" class="col-md-12 mega-col-nav">
                                    <div class="mega-inner">
                                        <ul class="mega-nav level1">
                                            <li>
                                                <a href="productlisting%20(L%20Shape).html">L SHAPED</a>
                                            </li>
                                            <li>
                                                <a href="productlisting%20(U%20Shape).html">U SHAPED</a>
                                            </li>
                                            <li>
                                                <a href="productlisting%20(H%20Shape).html">H SHAPED</a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#">wardrobe</a>
                    <div class="nav-child dropdown-menu mega-dropdown-menu">
                        <div class="mega-dropdown-inner">
                            <div class="row">
                                <div data-width="12" class="col-md-12 mega-col-nav">
                                    <div class="mega-inner">
                                        <ul class="mega-nav level1">
                                            <li>
                                                <a href="3DOOR.html">3 DOOR</a>
                                            </li>
                                            <li>
                                                <a href="4DOOR.html">4 DOOR</a>
                                            </li>
                                            <li>
                                                <a href="5DOOR.html">5 DOOR</a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
                <li>
                    <a href="#">interior</a>

                </li>
                <li>
                    <a href="#">about us</a>

                </li>
                <li>
                    <a href="#">contact</a>

                </li>
            </ul>
        </nav>
    </div><!--end class container-->
    <div class="tz-form-search">
        <div class="container">
            <form method="get" action="#">
                <input type="text" placeholder="Search..." name="search" id="tz-search-input" class="tz-search-input">
                <input class="hidden" type="submit" value="Search">
                <i class="fa fa-times tz-form-close"></i>
            </form>
        </div>
    </div><!--end class tz-form-search-->
</header><!--end class tz-header-->


<div class="tzcategory-shop-wrap">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3 class="tz-title-bold-3">KITCHENS</h3>
            </div>
        </div>


        <div class="row">

            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div id="tz-shop-content" class="row">
                    <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
                        <div id="slider" class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="demos/flexsliderimg/kitchen1.png" alt="Roses Deco Accent Chair"/>
                                </li>
                                <li>
                                    <img src="demos/flexsliderimg/kitchen2.png" alt="Roses Deco Accent Chair"/>
                                </li>
                                <li>
                                    <img src="demos/flexsliderimg/kitchen3.png" alt="Roses Deco Accent Chair" />
                                </li>
                            </ul>
                        </div>
                        <div id="carousel">
                            <ul class="slides">
                                <li>
                                    <img src="demos/flexsliderimg/Small%20Images/Kitchen1.png" alt="Roses Deco Accent Chair" />
                                </li>
                                <li>
                                    <img src="demos/flexsliderimg/Small%20Images/kitchen2.png" alt="Roses Deco Accent Chair" />
                                </li>
                                <li>
                                    <img src="demos/flexsliderimg/Small%20Images/kitchen3.png" alt="Roses Deco Accent Chair" />
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1">

                    </div>
                </div>
                <div class="tzshop-summary">

                    <h6 class="tz-title-details">KITCHEN DETAILS</h6>
                    <ul class="tzshop-status">
                        <li>
                            <span>Unit:</span> Base Cabinet
                        </li>
                        <li>
                            <span>Size (in mm):</span> 750 x 590 x 720
                        </li>
                        <li>
                            <span>Includes: </span> Shelf
                        </li>
                        <li>
                            <span>Brand: </span> Product brand
                        </li>
                    </ul>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus atque aut corporis cum, dicta earum obcaecati quae quos. Ad odio perspiciatis ut! </p>

                                 <span class="tz-shop-detail-meta">

                                    <a class="tzheart" href="#">
                                        <i class="fa fa-heart"></i>
                                    </a>

                                </span>
                </div>


            </div>
            <div id="tz-wp-content" class="col-lg-4 col-md-4 col-sm-4 col-xs-12 tzshop-aside">

                <h3 class="module-title title-widget"><span>Available option</span></h3>
                <div class="clearfix" id="tz-shop-content"></div>

                <div class="product-options" id="product-options-wrapper">

                    <dl class="last">

                        <dt><label class="required"><em>*</em>Select Size
                            <span class="select-label"> </span>

                        </label>
                        </dt>
                        <dd>
                            <div class="input-box" style="display: block;">
                                <select name="super_attribute[148]" id="attribute148" class="required-entry super-attribute-select validation-failed">

                                    <option value="">Choose an Option...</option><option value="18">10.5` x 7`</option><option value="23">Custom Size</option></select><div class="validation-advice" id="advice-required-entry-attribute148" style="display: block;">This is a required field.</div>
                            </div>

                        </dd>
                        <dt><label class="required"><em>*</em>Select Cabinet Material                    <span style="float:right; text-decoration:none"><a href="http://www.modspace.in/step-3#mat" class="sc_hover tr_delay">Need help?</a></span>

                        </label>
                        </dt>
                        <dd>
                            <div class="input-box" style="display: block;">
                                <select name="super_attribute[149]" id="attribute149" class="required-entry super-attribute-select">
                                    <option>Choose an Option...</option>
                                </select>
                            </div>

                        </dd>
                        <dt><label class="required"><em>*</em>Select Shutter Finish                    <span style="float:right; text-decoration:none"><a href="http://www.modspace.in/step-3#fin" class="sc_hover tr_delay">Need help?</a></span>

                        </label>
                        </dt>
                        <dd>
                            <div class="input-box" style="display: block;">
                                <select name="super_attribute[146]" id="attribute146" class="required-entry super-attribute-select">
                                    <option>Choose an Option...</option>
                                </select>
                            </div>

                        </dd>
                        <dt><label class="required"><em>*</em>Select Color                     <span class="select-label" id="select_label_color">Brown Grey and Linen</span>

                        </label>
                        </dt>
                        <dd class="last">

                            <div class="color-swatch-wrapper">
                                <ul id="color-swatch-attribute-92" class="is-disabled-attribute">
                                    <li class="color-swatch-92-24 ">
												<span class="swatch-title" info="Custom" style="width:21px; height:21px; line-height:21px;">&nbsp;
						<img class="image-base" src="http://www.modspace.in/media/colorswatch/image/image_base/92/24/21x21/custom.png">


												                                                </span>
                                    </li>

                                    <li class="color-swatch-92-30 ">
												<span class="swatch-title" info="Stone Grey and Hydra" style="width:21px; height:21px; line-height:21px;">&nbsp;
						<img class="image-base" src="http://www.modspace.in/media/colorswatch/image/image_base/92/30/21x21/stone-grey-and-hydra.png" data-pin-nopin="true">


												                                                </span>
                                    </li>

                                    <li class="color-swatch-92-29 ">
												<span class="swatch-title" info="Brown Grey and Linen" style="width:21px; height:21px; line-height:21px;">&nbsp;
						<img class="image-base" src="http://www.modspace.in/media/colorswatch/image/image_base/92/29/21x21/brown-grey-and-linen.png" data-pin-nopin="true">


												                                                </span>
                                    </li>

                                    <li class="color-swatch-92-28 ">
												<span class="swatch-title" info="Mussel and Saffron" style="width:21px; height:21px; line-height:21px;">&nbsp;
						<img class="image-base" src="http://www.modspace.in/media/colorswatch/image/image_base/92/28/21x21/mussel-and-saffron.png">


												                                                </span>
                                    </li>

                                    <li class="color-swatch-92-27 ">
												<span class="swatch-title" info="Current Black" style="width:21px; height:21px; line-height:21px;">&nbsp;
						<img class="image-base" src="http://www.modspace.in/media/colorswatch/image/image_base/92/27/21x21/current-black.png">


												                                                </span>
                                    </li>

                                    <li class="color-swatch-92-26 ">
												<span class="swatch-title" info="Frosty white and brazilian" style="width:21px; height:21px; line-height:21px;">&nbsp;
						<img class="image-base" src="http://www.modspace.in/media/colorswatch/image/image_base/92/26/21x21/frosty-white-and-brazilian.png">


												                                                </span>
                                    </li>

                                    <li class="color-swatch-92-25 ">
												<span class="swatch-title" info="Oak and Misty" style="width:21px; height:21px; line-height:21px;">&nbsp;
						<img class="image-base" src="http://www.modspace.in/media/colorswatch/image/image_base/92/25/21x21/oak-and-misty.png">


												                                                </span>
                                    </li>

                                </ul>
                                <input type="hidden" id="hidden-attribute-92" name="super_attribute[92]" class="required-entry hidden-super-attribute-select">
                            </div>
                            <br class="clearfloat">
                        </dd>
                    </dl>
                    <h3 class="module-title">INR 152,020</h>
                    <a href="#" class="p-share" style="margin-left: 30%;">
                        <span>GET A QUOTE</span>
                    </a>
                    <p class="required">* Required Fields</p>
                </div>

               <!-- <aside class="widget_categories widget">
                    <h3 class="module-title title-widget"><span>Available option</span></h3>
                    <ul>
                        <li>
                            <button class="btn btn-default border-none dropdown-custom dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="pull-left">Dropdown</span>
                                <span class="caret pull-right" style="margin-left: 10px; margin-top: 8px;"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                        <li>
                            <button class="btn btn-default border-none dropdown-custom dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="pull-left">Dropdown</span>
                                <span class="caret pull-right" style=" margin-left: 10px;
    margin-top: 8px;"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="btn btn-default border-none dropdown-custom dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="pull-left">Dropdown</span><span class="caret pull-right" style=" margin-left: 10px;
    margin-top: 8px;"></span>
                            </div>
                            <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>

                    </ul>
                </aside>
                <aside class="widget_bestsellers">
                    <h3 class="module-title title-widget"><span>Choose color</span></h3>
                    <ul>
                        <li>
                            <div class="as_bestsellers_thumb">
                                <img src="demos/Photoshop%20Images/kitchen1.png" alt="Dress With Back Bow">
                            </div>
                            <div class="as_bestsellers_content">
                                <a href="#">Loerum ipsuem</a>
                            </div>
                        </li>



                        <li>
                            <div class="as_bestsellers_thumb">
                                <img src="demos/Photoshop%20Images/kitchen2.png" alt="Vintage Bikini">
                            </div>
                            <div class="as_bestsellers_content">
                                <a href="#">Loerum ipsuem</a>

                            </div>
                        </li>
                        <li>
                            <div class="as_bestsellers_thumb">
                                <img src="demos/Photoshop%20Images/kitchen3.png" alt="Dress With Pastel Color">
                            </div>
                            <div class="as_bestsellers_content">
                                <a href="#">Loerum ipsuem</a>

                            </div>
                        </li>

                        <li>
                            <div class="as_bestsellers_thumb">
                                <img src="demos/Photoshop%20Images/kitchen5.png" alt="Dress With Back Bow">
                            </div>
                            <div class="as_bestsellers_content">
                                <a href="#">Loerum ipsuem</a>

                            </div>
                        </li>
                    </ul>
                </aside>-->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="tabs-style">
                    <ul class="nav nav-tabs" role="tablist" id="detailTab">
                        <li class="active"><a href="#infomation" role="tab" data-toggle="tab">What's Included</a></li>
                        <li><a href="#specifications" role="tab" data-toggle="tab">Add Appliances</a></li>

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="infomation">
                            <div class="container">
                                <form method="post" action="#">
                                    <table class="shop_table">
                                        <thead>
                                        <tr>
                                            <th class="product-image">Image</th>
                                            <th class="name">Unit</th>
                                            <th class="porduct-quantity">W x D x H (in mm)</th>
                                            <th class="product-price">Accessories Included</th>
                                            <th class="product-total">Brand</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="cart_table_item">
                                            <!-- Product Name -->
                                            <td class="product-img">
                                                <img alt="01" class="wp-post-image" src="demos/product-cat1.jpg">
                                            </td>
                                            <!-- Product Code -->
                                            <td class="product-name">
                                                <a>Lorem ipsum lorem</a>
                                                <small class="color">- Color Black</small>
                                            </td>
                                            <!-- Quantity inputs -->
                                            <td class="product-quantity">
                                                <span>750 x 590 x 720</span>
                                            </td>
                                            <!-- Quantity inputs -->
                                            <td class="product-price">
                                                <span class="price">self</span>
                                            </td>

                                            <!-- Product subtotal -->
                                            <td class="product-subtotal">
                                                <span class="price">150 eur</span>
                                            </td>
                                            <!-- Remove from cart link -->
                                           <!-- <td class="product-remove">
                                                <a title="Remove this item" class="remove" href="#"><i class="fa fa-trash-o"></i></a>
                                            </td>-->
                                        </tr>
                                        <tr class="cart_table_item">
                                            <!-- Product Name -->
                                            <td class="product-img">
                                                <img alt="01" class="wp-post-image" src="demos/product-cat2.jpg">
                                            </td>
                                            <!-- Product Code -->
                                            <td class="product-name">
                                                <a>Lorem ipsum lorem</a>
                                                <small class="color">- Color Grey</small>
                                            </td>
                                            <!-- Quantity inputs -->
                                            <td class="product-quantity">
                                                <span>750 x 590 x 720</span>
                                            </td>
                                            <!-- Quantity inputs -->
                                            <td class="product-price">
                                                <span class="price">self</span>
                                            </td>

                                            <!-- Product subtotal -->
                                            <td class="product-subtotal">
                                                <span class="price">150 eur</span>
                                            </td>
                                            <!-- Remove from cart link -->
                                           <!-- <td class="product-remove">
                                                <a title="Remove this item" class="remove" href="#"><i class="fa fa-trash-o"></i></a>
                                            </td>-->
                                        </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div><!--end class container-->
                        </div>
                        <div class="tab-pane" id="specifications">
                            <div class="tzrelated">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                            <div class="tz-tzrelated">
                                                <div class="tz-tzrelated-img">
                                                    <img alt="Nulla tortor nulla" src="demos/Services/Kitchen.png">

                                                </div>
                                                <h6><a href="#">Praesent vulputate ultrices</a></h6>
                                                <span>ACCESSORIES</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                            <div class="tz-tzrelated">
                                                <div class="tz-tzrelated-img">
                                                    <img alt="Nulla tortor nulla" src="demos/Services/bathroom.png">

                                                </div>
                                                <h6><a href="#">Nulla tortor nulla</a></h6>
                                                <span>ACCESSORIES</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                            <div class="tz-tzrelated">
                                                <div class="tz-tzrelated-img">
                                                    <img alt="Cheese Shop" src="demos/Services/Wardrobe.png">


                                                </div>
                                                <h6><a href="#">Harper & Blohm - Cheese Shop</a></h6>
                                                <span>ACCESSORIES</span>
                                            </div>
                                        </div>
                                    </div><!--end class row-->
                                </div><!--end class container-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div><!--end class container-->
</div><!--end class tzblog-wrap-->

<footer>
    <div class="tz-footer-content">
        <div class="container">


            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 footer-item">
                    <h3 class="module-title">
                            <span>
                                BLOOM INTERIO
                            </span>
                    </h3>
                    <div class="textwidget">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis mollis tellus, et ullamcorper velit.
                        Curabitur lobortis bibendum tincidunt. Nullam eget ultrices quam. Morbi vestibulum nec diam ac hendrerit.
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1  col-xs-12 footer-item">
                    &nbsp;
                </div>
                <div class="col-lg-3 col-md-3 hidden-sm  col-xs-12 footer-item">
                    <h3 class="module-title">
                            <span>
                                OUR SERVICES
                            </span>
                    </h3>
                    <ul class="nav-collapse">
                        <li class="footer-navi">
                            <a href="#">Home</a>


                        </li>
                        <li class="footer-navi">
                            <a href="#">kitchen</a>
                        </li>
                        <li class="footer-navi">
                            <a href="#">wardrobe</a>

                        </li>
                        <li class="footer-navi">
                            <a href="#">interior</a>

                        </li>
                        <li class="footer-navi">
                            <a href="#">about us</a>

                        </li>
                        <li class="footer-navi">
                            <a href="#">contact</a>

                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 footer-item">
                    <h3 class="module-title">
                            <span>
                                CONTACT
                            </span>
                    </h3>
                    <div class="tzwidget-contact">
                        <address>
                            Bloom Interio
                            No. 1216, 12th Floor, Jmd Megapolis, Sohna Road,, Vipul World, Sector 48, Gurugram, Haryana 122018
                        </address>
                        <!-- <span>
                              +44 (0) 123 456 7891
                         </span>-->
                        <!--  <a href="#">dummy@gmail.com</a>-->
                            <span class="tzwidget-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </span>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="tz-copyright theme-white">
        <p>© 2016 Bloom Interio, Designed by Scaledesk Web Studio.</p>
    </div>
</footer><!--end class tz-footer-->
<script src="js/jquery.min.js"></script>
<script>
    jQuery.noConflict();
</script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.parallax-1.1.3.js"></script>
<script src="js/owl.carousel.js"></script>
<script src="js/resize.js"></script>
<script src="js/off-canvas.js"></script>
<script src="js/jquery.isotope.min.js"></script>
<script src="js/jquery.flexslider.js"></script>
<script src="js/custom-portfolio.js"></script>
<script src="js/custom.js"></script>
<script type='text/javascript' src='rs-plugin/js/jquery.themepunch.tools.min.js'></script>
<script type='text/javascript' src='rs-plugin/js/jquery.themepunch.revolution.min.js'></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery('#rev_slider_2_1').show().revolution(
                {
                    dottedOverlay:"none",
                    delay:6000,
                    startwidth:960,
                    startheight:350,
                    hideThumbs:200,

                    thumbWidth:100,
                    thumbHeight:50,
                    thumbAmount:4,

                    navigationType:"none",
                    navigationArrows:"solo",
                    navigationStyle:"round",

                    touchenabled:"on",
                    onHoverStop:"on",

                    swipe_velocity: 0.7,
                    swipe_min_touches: 1,
                    swipe_max_touches: 1,
                    drag_block_vertical: false,


                    keyboardNavigation:"off",

                    navigationHAlign:"center",
                    navigationVAlign:"bottom",
                    navigationHOffset:0,
                    navigationVOffset:20,

                    soloArrowLeftHalign:"left",
                    soloArrowLeftValign:"center",
                    soloArrowLeftHOffset:20,
                    soloArrowLeftVOffset:0,

                    soloArrowRightHalign:"right",
                    soloArrowRightValign:"center",
                    soloArrowRightHOffset:20,
                    soloArrowRightVOffset:0,

                    shadow:0,
                    fullWidth:"off",
                    fullScreen:"on",

                    spinner:"spinner0",

                    stopLoop:"off",
                    stopAfterLoops:-1,
                    stopAtSlide:-1,

                    shuffle:"off",


                    forceFullWidth:"off",
                    fullScreenAlignForce:"off",
                    minFullScreenHeight:"",
                    hideTimerBar:"on",
                    hideThumbsOnMobile:"off",
                    hideNavDelayOnMobile:1500,
                    hideBulletsOnMobile:"off",
                    hideArrowsOnMobile:"off",
                    hideThumbsUnderResolution:0,

                    fullScreenOffsetContainer: "",
                    fullScreenOffset: "",
                    hideSliderAtLimit:0,
                    hideCaptionAtLimit:0,
                    hideAllCaptionAtLilmit:0,
                    startWithSlide:0
                });
    });	/*ready*/


    var Desktop           =   4,
            tabletportrait    =   2,
            mobilelandscape   =   2,
            mobileportrait    =   1,
            resizeTimer       =   null;

    jQuery(window).load(function(){
        jQuery('div.slotholder').prepend('<div class="bk-responsive-slide"></div>');
    })
</script>


<script>
    // jQuery for flexslider------------------
    jQuery(window).load(function() {
        // The slider being synced must be initialized first
        jQuery('#carousel').flexslider({
            animation: "slide",
            controlNav: false,
            animationLoop: false,
            slideshow: false,
            directionNav: false,
            autoHeight: true,
            itemWidth: 80,
            itemMargin: 80,
            asNavFor: '#slider'
        });

        jQuery('#slider').flexslider({
            animation: "slide",
            controlNav: false,
            animationLoop: false,
            directionNav: false,
            autoHeight: true,
            slideshow: false,
            sync: "#carousel"
        });

    });
</script>

        </div>

</body>
</html>