{% extends 'base.html' %}

{% block custom_css %}
{% endblock %}

{% block content %}

<br><br>

<section class="tz-bestsellers2 tzcategory-shop-wrap">
    <div class="container">
        <h3 class="tz-title-3">VARIOUS SIZES AVAILABLE</h3>
        <div class="row">

          {% for kitchen in kitchens %}
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="tz-bestsellers-item">
                    <div class="bestsellers-thumb">
                         <!-- <img src="/static/demos/Photoshop%20Images/kitchen6.png" alt="{{kitchen.l}} x {{kitchen.b}} x {{kitchen.h}}"> -->

                        <img src="{{kitchen.image}}" alt="{{kitchen.l}} x {{kitchen.b}} x {{kitchen.h}}">
                        <div class="tz-bestsellers-content1">
                            <h6><a href="{{ kitchen.slug }}">{{kitchen.l}} X {{kitchen.b}} X {{kitchen.h}}</a></h6>
                            <p>
                              {{ kitchen.desc }}
                            </p>
                               <span class="tz-bestsellers-meta">
                                    <a href="{{ kitchen.slug }}" class="tzheart">
                                        <i class="fa fa-heart"></i>
                                    </a>
                               </span>
                        </div>
                    </div>
                    <h6><a href="{{ kitchen.slug }}">Size: {{kitchen.l}} x {{kitchen.b}} x {{kitchen.h}}(in mm)</a></h6>
                </div>
            </div>
            {% endfor %}

        </div>
    </div><!--end class container-->
</section><!--end class tz-bestsellers2-->


<section class="theme-white tzcustom-block style-border">
    <div class="container">
        <h3 class="tz-title-3">OUR FEATURES</h3>
        <p class="tz-attach">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sollicitudin ligula vel fringilla lacinia. </p>
        <div class="row tzcustom-row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 custom-right">
                <ul class="tz-collection collection-left tz-collection2">
                    <li>
                        <figure class="item-collection">
                            <img src="/static/demos/flask.png" alt="professional">
                            <figcaption>
                                <h6>WE’RE PROFESSIONAL</h6>
                                <p>Sed quis dolor in lacus ullamcorper euismod nec et nibh. Morbi mollis, enim vitae rutrum porttitor.</p>
                            </figcaption>
                        </figure>
                    </li>

                    <li>
                        <figure class="item-collection">
                            <img src="/static/demos/thumnbup.png" alt="passionate">
                            <figcaption>
                                <h6>WE’RE PASSIONATE</h6>
                                <p>Sed quis dolor in lacus ullamcorper euismod nec et nibh. Morbi mollis, enim vitae rutrum porttitor.</p>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 custom-right">
                <ul class="tz-collection collection-left tz-collection2">
                    <li>
                        <figure class="item-collection">
                            <img src="/static/demos/thumnbup.png" alt="passionate">
                            <figcaption>
                                <h6>WE’RE PASSIONATE</h6>
                                <p>Sed quis dolor in lacus ullamcorper euismod nec et nibh. Morbi mollis, enim vitae rutrum porttitor.</p>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure class="item-collection">
                            <img src="/static/demos/thumb.png" alt="friendly">
                            <figcaption>
                                <h6>WE’RE FRIENDLY</h6>
                                <p>Sed quis dolor in lacus ullamcorper euismod nec et nibh. Morbi mollis, enim vitae rutrum porttitor.</p>
                            </figcaption>
                        </figure>
                    </li>

                </ul>
            </div>
        </div><!--end class row-->
    </div><!--end class container-->
</section><!--end class tzcustom-block-->




<section>
    <div class="tz-footer-content1 hero-section">
        <div class="container">
            <h3 class="tz-title-3">
                CONTACT US NOW
            </h3>
            <!-- <br> <br>-->
            <div class="row tzcustom-row ">
                <!--map-->

                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3509.212135477927!2d77.03584181507766!3d28.41285518250496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d2299943b1b17%3A0x367d00c1dc97e821!2sBloom+Interio!5e0!3m2!1sen!2sin!4v1482577674610" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen></iframe>
                </div>


                <!--cta signup form-->

                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 hidden-xs" style="position:relative;">
                    <section class="cta-form cta-light">
                        <form id="cta-signup-form" class="cta-signup-form">
                            <h2  class="text-center">Dream Kitchen</h2>
                            <hr class="hr-color hr-style">
                            <div id="mc-error-cta"><i class="fa fa-exclamation-triangle"></i> Please enter a value</div>
                            <div id="mc-success-cta"><i class="fa fa-envelope"></i> Awesome! We have sent you a confirmation email</div>

                            <div class="form-group"> <i class="fa fa-user"></i>
                                <input type="text" value="" name="FNAME" class="form-control input-lg form-input-custom" id="input-name" placeholder="Name" required>
                            </div>

                            <div class="form-group"> <i class="fa fa-phone-square" aria-hidden="true"></i>
                                <input type="number" value="" name="EMAIL" class="form-control input-lg form-input-custom" id="input-email" placeholder="Contact No." required>
                            </div>
                            <div class="form-group"> <i class="fa fa-envelope" aria-hidden="true"></i>
                                <input type="email" value="" name="EMAIL" class="form-control input-lg form-input-custom" id="input-email" placeholder="Email" required>
                            </div>

                            <div class="form-group"> <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <input type="text" value="" name="address" class="form-control input-lg form-input-custom" id="input-email" placeholder="Location" required>
                            </div>


                            <div class="form-group"> <i class="fa fa-briefcase" aria-hidden="true"></i>
                                <input type="text" value="" name="designation" class="form-control input-lg form-input-custom" id="input-email" placeholder="Budget" required>
                            </div>







                            <div class="form-btn">
                                <button type="submit" class="btn hollow-btn1">Get Free Consultation</button>
                                <br>

                            </div>


                        </form>
                    </section>
                </div>

                <!--cta signup form end-->
            </div>
        </div>




    </div>
</section>

{% endblock %}

{% block custom_js %}
{% endblock %}
