{% extends 'base.html' %}

{% block custom_css %}
{% endblock %}

{% block content %}


<!--end class tzslider-->


<br><br>
<section class="tz-bestsellers2 tzcategory-shop-wrap">
    <div class="container">
        <h3 class="tz-title-3" style="text-transform: uppercase">{{current_k_type.name}} KITCHEN FROM SHOP</h3>
        <div class="row">



            {% for theme in themes %}
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="tz-bestsellers-item">
                    <div class="bestsellers-thumb">
                        <img src="{{ theme.image.url }}" class="img-responsive" alt="{{theme.name}}" width="360" height="370" >
                        <div class="tz-bestsellers-content1">
                            <h6><a href="{{theme.slug}}">{{ theme.name }}</a></h6>
                            <p>
                                {{ theme.desc }}
                            </p>


                               <span class="tz-bestsellers-meta">
                                       <a href="{{theme.slug}}" class="tztasks">
                                          <i class="fa fa-tasks"></i>
                                       </a>
                                   </span>
                        </div>
                    </div>
                    <h6><a href="{{theme.slug}}">{{ theme.name }}</a></h6>
                </div>
            </div>
            {% endfor %}
        </div>

    </div><!--end class container-->
</section><!--end class tz-bestsellers2-->


<section class="theme-white tzcustom-block style-border">
    <div class="container">
        <h3 class="tz-title-3">OUR FEATURES</h3>
        <div class="row tzcustom-row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 custom-right">
                <ul class="tz-collection collection-left tz-collection2">
                    <li>
                        <figure class="item-collection">


                            <figcaption>
                                <div class="row">
                                    <div class="col-xs-3 col-md-2">
                                        <i class="fa fa-cube col-icon-green" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-xs-9 col-md-10">
                                        <h6>MAGNIFICENT DESIGNS</h6>
                                        <p>Sed quis dolor in lacus ullamcorper euismod nec et nibh. Morbi mollis, enim vitae rutrum porttitor.</p>

                                    </div>

                                </div>
                            </figcaption>
                        </figure>
                    </li>

                    <li>
                        <figure class="item-collection">


                            <figcaption>
                                <div class="row">
                                    <div class="col-xs-3 col-md-2">
                                        <i class="fa fa-sign-in col-icon-yellow" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-xs-9 col-md-10">
                                        <h6>HASSLE FREE INSTALLATION</h6>
                                        <p>Sed quis dolor in lacus ullamcorper euismod nec et nibh. Morbi mollis, enim vitae rutrum porttitor.</p>

                                    </div>

                                </div>
                            </figcaption>
                        </figure>
                    </li>

                    <li>
                        <figure class="item-collection">

                            <figcaption>
                                <div class="row">
                                    <div class="col-xs-3 col-md-2">
                                        <i class="fa fa-retweet col-icon-green" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-xs-9 col-md-10">
                                        <h6>SUSTAINABLE PRODUCTS</h6>
                                        <p>Sed quis dolor in lacus ullamcorper euismod nec et nibh. Morbi mollis, enim vitae rutrum porttitor.</p>

                                    </div>

                                </div>
                            </figcaption>

                        </figure>
                    </li>



                    <li>
                        <figure class="item-collection">

                            <figcaption>
                                <div class="row">
                                    <div class="col-xs-3 col-md-2">
                                        <i class="fa fa-thumbs-up col-icon-red" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-xs-9 col-md-10">
                                        <h6>QUALITY RAW MATERIAL</h6>
                                        <p>Sed quis dolor in lacus ullamcorper euismod nec et nibh. Morbi mollis, enim vitae rutrum porttitor.</p>

                                    </div>

                                </div>
                            </figcaption>

                        </figure>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 custom-right">
                <ul class="tz-collection collection-left tz-collection2">
                    <li>
                        <figure class="item-collection">

                            <figcaption>
                                <div class="row">

                                    <div class="col-xs-3 col-md-2">
                                        <i class="fa fa-check-square-o col-icon-yellow" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-xs-9 col-md-10">
                                        <h6>FACTORY FINISH PRODUCTS</h6>
                                        <p>Sed quis dolor in lacus ullamcorper euismod nec et nibh. Morbi mollis, enim vitae rutrum porttitor.</p>

                                    </div>

                                </div>
                            </figcaption>

                        </figure>
                    </li>
                    <li>
                        <figure class="item-collection">

                            <figcaption>
                                <div class="row">
                                    <div class="col-xs-3 col-md-2">
                                        <i class="fa fa-truck col-icon-red" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-xs-9 col-md-10">
                                        <h6>3-5 WEEKS DELIVERY</h6>
                                        <p>Sed quis dolor in lacus ullamcorper euismod nec et nibh. Morbi mollis, enim vitae rutrum porttitor.</p>

                                    </div>

                                </div>
                            </figcaption>

                        </figure>
                    </li>

                    <li>
                        <figure class="item-collection">

                            <figcaption>
                                <div class="row">
                                    <div class="col-xs-3 col-md-2">
                                        <i class="fa fa-cogs col-icon-yellow" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-xs-9 col-md-10">
                                        <h6>AFTER SALES SERVICES</h6>
                                        <p>Sed quis dolor in lacus ullamcorper euismod nec et nibh. Morbi mollis, enim vitae rutrum porttitor.</p>

                                    </div>

                                </div>
                            </figcaption>

                        </figure>
                    </li>

                    <li>
                        <figure class="item-collection">

                            <figcaption>
                                <div class="row">
                                    <div class="col-xs-3 col-md-2">
                                        <i class="fa fa-pencil-square-o col-icon-green" aria-hidden="true"></i>
                                    </div>

                                    <div class="col-xs-9 col-md-10">
                                        <h6>COMPLETELY CUSTOMIZABLE "ONE-OF-A-KIND" KITCHENS</h6>
                                        <p>Sed quis dolor in lacus ullamcorper euismod nec et nibh. Morbi mollis, enim vitae rutrum porttitor.</p>

                                    </div>

                                </div>
                            </figcaption>

                        </figure>
                    </li>

                </ul>
            </div>
        </div><!--end class row-->
    </div><!--end class container-->
</section><!--end class tzcustom-block-->






{% endblock %}

{% block custom_script %}
{% endblock %}
