
<div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
  <div id="slider" class="flexslider">
    <ul class="slides">
      {% for obj in k_images %}
      <li>
        <img src="{{obj.image.url}}" alt="Roses Deco Accent Chair" class="img-responsive" width="655" height="420" style="max-width: 100%;"/>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div id="carousel">
    <ul class="slides">
      {% for obj in k_images %}
      <li>
        <img src="{{obj.image.url}}" alt="Roses Deco Accent Chair" class="img-responsive" width="80" height="60"/>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
