


<div class="col-md-5 text-center">

 <!-- <a href="#" class="tz-button-dekor"><span>STEP-2 </span></a>-->
    <p class="f-w"  style="float:left;"> <b>ENTER THE SIZE OF WALLS</b></p>
  <div class="row">
    <div class="col-xs-12">
  <div style="width:400px;">
    <img alt="Aliquam a sollicitudin" src="/media/{{k_type.thumbnails}}" height="150" width="100%">
  </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div  style="width:430px;">

    {% for obj in no_of_wall %}
    <div class="col-xs-4">
      <div class="form-group">
        <label for="height">Size {{forloop.counter}}</label>
        <input type="number" value="0" name="height{{forloop.counter}}" class="form-control form-input-custom" onchange="calculatePrice({{k_type.price}},{{k_type.no_of_wall}})" id="height{{forloop.counter}}" placeholder="height" required="">
      </div>
    </div>
    {% endfor %}


  </div>

</div>
</div>
<div class="col-md-4 text-center">
  <div class="row">
    <div class="col-xs-12">
    <p class="f-w"  style="float:left;"> <b>ESTIMATED COST</b></p>
  </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
  <div class="result" id="k_result"></div>
  </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 text-left">
      <button type="button" class="btn btn-default appointment-btn" data-toggle="modal" data-target="#myModalL">BOOK AN APPOINTMENT</button>
  </div>
</div>
</div>
