{% extends "base.html" %}
{% include "kitchen/reload-flex.html" %}

{% block custom_css %}
<style>
.about-content{
font-size: 16px;
margin: 30px 0;
padding: 0 10%;
    text-align: justify;
color: #565a5c;
word-spacing: 5px;
line-height: 22px;
}
</style>

<style>


    ul.nav-collapse li:nth-child(5) > a { border-bottom : 2px solid #453026; }

    ul.level1 li:nth-child(5) a { border-bottom : 0px; }

</style>

{% endblock %}

{% block content %}
<div class="tzcategory-shop-wrap">
    <div class="container">

            <div class="row">
                <div class="col-md-12">
                <h3 class="tz-title-3">About Us</h3>
                    </div>
                <div class="col-md-5">
                    <img src="/static/images/interior.jpg" class="img-responsive">

                    <p style="font-size: 18px;margin: 30px 0;padding: 0 10%;">Shopping at Bloom Interio is more than just buying a piece of furniture or service, Bloom interio products gives you a new taste to life, beautiful designs and environmental friendliness wrapped with love.
                 </p>
                    <p class="about-content">Bloom Modular kitchens/modern wardrobes & customised furniture are made of finest quality raw material for durability, efficiency and we present it to you after detailed designing.       We aim to create with an eye to detail keeping care of parameters like maximum space optimization & ergonomics which translates the requirements of customer into finished products.

<p class="about-content">We believe in giving back to mother nature and hence Bloom Interio plant a tree for each article we create and co -create a greener world. </p>

<p class="about-content">We have multiple lines of specialization, from designing the best modular kitchen or modular wardrobes to budget interior design services in Gurgaon, bloom interior specialises in all the fields.</p>
                </div>


                <div class="col-md-7">

                    <p class="about-content">
                        Ignited by the passion for innovative techniques in woodcraft & decor Bloom Interio has come up with a range of beautiful Modular Kitchens /modern wardrobes & customised furniture as the masterpieces of timeless beauty to adorn your home interiors. Bloom Interio is a distinguished brand which offers multiple interior services through a bolstered commitment to design, creativity and craftsmanship. A team of architects, kitchen designers & interior designers in Gurgaon have come together to create a new line of customised furniture, fitted kitchens &modular  wardrobes that would fit like a final jigsaw and complete the puzzle of your new home.</p>


                       <p style="font-size: 18px;margin: 30px 0;padding: 0 10%;font-style: italic;"><b> At Bloom Interio, ideas interact with comfort,cost and magnificence...</b></p>




                    <p class="about-content">Our products have been developed with critical thinking and designing over the time, and we have made sure that the products are best in their range. Bloom’s contemporary modular kitchens, modern wardrobes & customised furniture are precisely designed to fit multipurpose needs keeping in mind the diversity of requirements and family traditions in India. Bloom Interio provides the best budget modular kitchens/fitted wardrobes & interior decoration services in India.  </p>

                    <p class="about-content">Our team at Bloom Interio is well versed with all the nuances involved in making a home look beautiful & adequately comfortable. Our designing team make sure that once the product/service is selected, it is customised as per need & expectations of the customer .As a result a tailor-made product &services are presented.</p>
<p class="about-content">We have an edge over the market as we deal directly& it allows us to control costs therefore pass on the saving to our customers. Being designers, we understand the needs of the users and make sure to bridge the gap between the expectations and the reality. We honour the Indian tradition daily with our pledge to deliver striking designs, artisan finishes and superior quality as we strive to exceed our costumer’s expectations Bloom Interio has entered the market with irresistible products and have etched its niche in the market gathering admiration from scores of happy customers. </p>

                </div>







     </div>
</div><!--end class tzblog-wrap-->

</div>

{% endblock %}

{% block custom_script %}

{% endblock %}
