{% extends 'base.html' %}

{% block custom_css %}
<style>
    .about-content{
        font-size: 18px;
        margin: 30px 0;
        padding: 0 10%;

        color: #565a5c;
        word-spacing: 5px;
        line-height: 1.6em;
    }
</style>
{% endblock %}

{% block content %}


<br>
<br>
<section class="tzpage-weblink">

    <div class="container">
        <div class="joom-weblink">

            <div class="row">
                <div class="col-md-6">
            <h3 class="tz-title-3">About Us</h3>
            <p class="about-content">
                Ignited by the passion for innovative techniques in woodcraft and decors Bloom Interio has come up with a range of Modular Kitchen and Furniture as the masterpieces of timeless beauty to adorn your interest.
            </p>
                <div class="row">
                    <div class="col-xs-4">
                        <div style="height:100%;">

                        <img src="/static/demos/flexsliderimg/Small%20Images/Kitchen1.png">
                        </div>

                    </div>
                    <div class="col-xs-8" style="background-color: #00FFD4">
                        <div>
                            vcdshkvckjsdvjch
                            cdshvchjds
                            sdjhj
                        </div>

                    </div>
                </div>


            </div>

                <div class="col-md-6">
                    <img src="/static/images/modularkitchen.jpg">
                    <p class="about-content" style="color: #f17f5f;">
                        At Bloom Interio, ideas interact with comfort,cost and magnificence.
                    </p>

                    <p style="font-size: 18px;margin: 30px 0;padding: 0 10%;">We are not just any other furniture and interior solution providers witnessing its inception in the market...</p>
                    <p class="about-content">Since a long time we’ve observed that the furniture/modular kitchen are made simply from aesthetic point of view. Many key features like <span style="color: #f17f5f;">Ergonomics</span>,
                        <span style="color: #f17f5f;">space optimization</span>,
                        <span style="color: #f17f5f;" >comfort</span>
                        and
                        <span style="color: #f17f5f;">compatibility</span>
                        with overall decor. And that gap is between customer’s expectation from their new purchases and what they are getting in reality. To fulfill this void bloom Interio with it’s expertise in design,production and delivery of exquisite finish merchandise have entered market.It has been quite successful in doing since it’s inception been able to gather the admiration and first of scores of happy customers.</p>
                </div>


            </div>

        </div><!--end class joom-weblink-->
    </div><!--end class container-->
</section><!--end class page default-->
{% endblock %}

{% block custom_js %}
{% endblock %}
