<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="PSZ7QH7LHClbFczRSFZxOO-36xX1ArrJ-JZZZQHQ2Sw" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
    <meta name="title" content="{{meta_title}}">
    <meta name="description" content="{{meta_desc}}">
    <meta name="keywords" content="{{meta_keyword}}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/images/fevi/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>Bloom Interio</title>
    {% block css %}

    <!--
favicon
-->


    <link rel="apple-touch-icon" sizes="57x57" href="/static/images/fevi/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/images/fevi/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/fevi/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/images/fevi/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/fevi/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/images/fevi/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/images/fevi/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/images/fevi/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/fevi/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/images/fevi/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/fevi/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/images/fevi/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/fevi/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">


    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/fonts/awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,600,500,300,100,200,800" rel="stylesheet" />
    <link href="/static/css/owl.carousel.css" rel="stylesheet" />

    <link href="/static/css/owl.theme.css" rel="stylesheet" />
    <link rel='stylesheet' href='/static/rs-plugin/css/settings.css' />
    <!-- Support for HTML5 -->
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Enable media queries on older bgeneral_rowsers -->
    <!--[if lt IE 9]>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->


    <link href="/static/style.css" rel="stylesheet" />
    <link href="/static/css/custom.css" rel="stylesheet" />
    {% endblock %}

    {% block custom_header %}
        <meta property="og:url"                content="http://www.bloominterio.com/" />
        <meta property="og:type"               content="Website" />
        <meta property="og:title"              content="Bloom Interio" />
        <meta property="og:description"        content="Bloom Interio offers a range of Modular Kitchen and Furniture as the masterpieces of timeless beauty to adorn your interest." />
        <meta property="og:image"              content="http://www.bloominterio.com/static/images/logo.png" />
    {% endblock %}

    {% block custom_css %}
        
    {% endblock %}

</head>
<body>
<!--<div class="loading-page">
    <img src="/static/demos/loading.GIF" alt="loading">
</div>-->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PRPG4BL');</script>
<!-- End Google Tag Manager -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PRPG4BL"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

{% block header %}
<header class="tz-header fixed tz-header3" style=" border-bottom: 2px solid #eeeeee;position: fixed; width: 100%;">
    <div class="container">
        <h3 class="tz-logo pull-left">
            <a href="{% url 'landing' %}">
                <img src="/static/images/logo.png" class="img-responsive" alt="bloom interio logo">
            </a>
        </h3>
        <button data-target=".nav-collapse" class="btn-navbar pull-right  tz_icon_menu" type="button">
            <i class="fa fa-bars"></i>
        </button>
        <a class=""  href="tel:09999393731">
        <button class="pull-right tz-search1"> <span class="border-no1"> <i class="fa fa-phone"> +91-9999393731</i></span></button></a>
        <nav class="pull-right">
            <ul class="nav-collapse">
                <li>
                    <a href="{% url 'landing' %}">HOME</a>

                </li>
                <li>
                    <a href="{% url 'kitchen' %}">Kitchen</a>
                    <div class="nav-child dropdown-menu mega-dropdown-menu">
                        <div class="mega-dropdown-inner">
                            <div class="row">
                                <div data-width="12" class="col-md-12 mega-col-nav">
                                    <div class="mega-inner">
                                        <ul class="mega-nav level1">

                                          {% for k_type in k_types %}
                                          <li>
                                              <a href="{% url 'kitchen' %}{{k_type.slug}}/">{{ k_type.name }}</a>
                                          </li>
                                          {% endfor %}

                                         <li>
                                              <a href="{% url 'modular_accessories' %}">Kitchen Accessories</a>
                                          </li>
                                          
                                          <li>
                                              <a href="{% url 'kitchen_guide' %}/">Kitchen Guide</a>
                                          </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="{% url 'wardrobe' %}">Wardrobe</a>
                    <div class="nav-child dropdown-menu mega-dropdown-menu">
                        <div class="mega-dropdown-inner">
                            <div class="row">
                                <div data-width="12" class="col-md-12 mega-col-nav">
                                    <div class="mega-inner">
                                        <ul class="mega-nav level1">
                                            {% for w_type in w_types %}
                                                <li>
                                                    <a href="{% url 'wardrobe' %}{{w_type.slug}}/">{{ w_type.name }}</a>
                                                </li>
                                            {% endfor %}
                                            <li>
                                                <a href="{% url 'wardrobe-guid' %}">Wardrobe Guide</a>
                                            </li>


                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
                <li>
                    <a href="http://www.blog.bloominterio.com">Interior</a>
                </li>
                <li>
                    <a href="{% url 'about' %}">About us</a>

                </li>
                <li>
                    <a href="{% url 'contact'%}">Contact</a>
                </li>
            </ul>
        </nav>
    </div><!--end class container-->
    <div class="tz-form-search">
        <div class="container">
            <form method="get" action="#">
                <input type="text" placeholder="Search..." name="search" id="tz-search-input" class="tz-search-input">
                <input class="hidden" type="submit" value="Search">
                <i class="fa fa-times tz-form-close"></i>
            </form>
        </div>
    </div><!--end class tz-form-search-->
</header><!--end class tz-header-->
<!--

floating button
-->

<div class="float-btn" style="top:95px;bottom:auto;" id="button-free">

    <a href="#cta-form" class="myfloat" style="padding: 4px;">
        Get Free Consultation
    </a>

</div>

{% endblock %}


{% block content %}
<h1> THIS IS MAIN AREA WHERE ACTUAL CONTENT WILL EXIST </h1>
{% endblock %}



{% block footer %}

<!--

floating button
-->


<!--float button for desktop-->
<div class="float-btn wardrobe-hidden hidden-xs">

    <button class="myfloat" data-toggle="modal" data-target="#mycalci" onclick="modelOpen()">
        Kitchen Cost Calculator
    </button>

</div>

<!--float button for desktop/-->

<!--float button for mobile-->

<div class="float-btn wardrobe-hidden visible-xs hidden-lg hidden-md ">

    <a class="myfloat" href="#mycalcimob" style="padding-top: 5px;">
        Kitchen Cost Calculator
    </a>

</div>

<!--float button for mobile/-->


<section id="mycalcimob" class="hidden-lg hidden-md hidden-wardrobe">

    <!-- Modal content-->
    <!--
    form-->

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="tabs-style">
                <ul class="nav nav-tabs" role="tablist" id="detailTab">
                    <li class="active"><a href="#calcimob" role="tab" data-toggle="tab">Kitchen Cost Calculator</a></li>
                    <!-- <li><a href="#quotes" role="tab" data-toggle="tab">Get Custom Quotes</a></li>-->
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="calcimob">

                        <div class="tz-our-blog padding-ourblog" style="background:radial-gradient(#d8c87a , #c4a146), #fff !important;">


                            <div class="row">
                                <div class="col-md-4 text-center right-border" style="padding-left: 40px;">
                                    <!--   <a href="#" class="tz-button-dekor"><span>STEP-1 </span></a>-->
                                    <p class="f-w" style="float:left;font-size: 19px;"><b>Choose Your Kitchen</b></p>
                                    <!-- <form> -->
                                    <div class="form-group" style="width:220px;">
                                        <!-- <input type="text" value="" name="name" class="form-control input-lg form-input-custom" id="name" placeholder="Name" required> -->
                                        <select name="kitchen_type" id="k_type" name="k_type" onchange="loadkitchenDescriptionMob(this)" id="select_kitchen" class="form-control input-lg form-input-custom calci-select">
                                            <option class="calci-option">Choose an Option...</option>
                                            {% for obj in k_types %}
                                            {% if obj.name != 'Island Kitchen' %}
                                            <option value="{{obj.id}}" class="calci-option">{{obj.name}}</option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <!-- </form> -->
                                </div>
                                <div id="mob_k_type_detail" style="padding:0 25px;">

                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>



    </div><!--end class container-->


    <!--       form end-->


</section>


<!--New feture Section -->

<section class="tz-about4 theme-white tz-about4-padding feature-section-custom" >
        <h3 class="tz-title-bold-3">
            OUR FEATURES
        </h3>
        <div class="container top-padding">
            <div class="row">
                <div class="col-lg-4 colg-md-4 col-sm-6 col-xs-12">
                    <ul class="tz-collection collection-left tz-collection2 no-padding">
                        <li>
                            <figure class="item-collection">
                                <img src="/static/images/5yearwarranty.png" alt="responsive">
                                <figcaption>
                                    <h6>7 Year Warranty</h6>
                                    <p>Get the best in market Warranty on all installations.</p>
                                </figcaption>
                            </figure>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 colg-md-4 col-sm-6 col-xs-12">
                    <ul class="tz-collection collection-left tz-collection2 no-padding">
                        <li>
                            <figure class="item-collection">
                                <img src="/static/images/bestqualityassurance.png" >
                                <figcaption>
                                    <h6>Best Quality Assurance</h6>
                                    <p>Expert team and World Class tools used to implement everything, </p>
                                </figcaption>
                            </figure>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 colg-md-4 col-sm-6 col-xs-12">
                    <ul class="tz-collection collection-left tz-collection2 no-padding">
                        <li>
                            <figure class="item-collection">
                                <img src="/static/images/hasslefreeinstallation.png" alt="dummy content">
                                <figcaption>
                                    <h6>Hassle Free Installation</h6>
                                    <p>No worries - Our experts will handle everything. </p>
                                </figcaption>
                            </figure>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 colg-md-4 col-sm-6 col-xs-12">
                    <ul class="tz-collection collection-left tz-collection2 no-padding">
                        <li>
                            <figure class="item-collection">
                                <img src="/static/images/3-5weeksdelivery.png" alt="clean Code">
                                <figcaption>
                                    <h6>Free Home Delivery</h6>
                                    <p>No hassle of transportation - Just call us &amp; relax at home.</p>
                                </figcaption>
                            </figure>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 colg-md-4 col-sm-6 col-xs-12">
                    <ul class="tz-collection collection-left tz-collection2 no-padding">
                        <li>
                            <figure class="item-collection">
                                <img src="/static/images/aftersalesservices.png" alt="section header">
                                <figcaption>
                                    <h6>After Sale Services</h6>
                                    <p>Friendly Customer Support even after purchase.</p>
                                </figcaption>
                            </figure>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 colg-md-4 col-sm-6 col-xs-12">
                    <ul class="tz-collection collection-left tz-collection2 no-padding">
                        <li>
                            <figure class="item-collection">
                                <img src="/static/images/easypaymentoptions.png" alt="font awesome icons">
                                <figcaption>
                                    <h6>Easy Payment Options</h6>
                                    <p>You can Pay via Credit/Debit Card or Online or Cash !</p>
                                </figcaption>
                            </figure>
                        </li>
                    </ul>
                </div>
            </div><!--end class row-->
        </div><!--end class container-->
    </section>


<!--feature section-->


<!--
        <div class="row text-center" style="padding: 20px 0px;">
            <div class="col-md-4">
               
               <img src="/static/images/5yearwarranty.png" width="55" height="55">
               <span class="awesome-ds"> &nbsp;7 Year Warranty </span>
                
            </div>
            
            <div class="col-md-4">
               
               <img src="/static/images/bestqualityassurance.png" width="55" height="55">
               <span class="awesome-ds">&nbsp;Best Quality Assurance </span>
                
            </div>
            
            <div class="col-md-4">
               
               <img src="/static/images/hasslefreeinstallation.png" width="55" height="55">
               <span class="awesome-ds">&nbsp;Hassle Free Installation</span>
                
            </div>
        </div>
        
         <div class="row text-center" style="padding: 20px 0px;">
            <div class="col-md-4">
               
               <img src="/static/images/3-5weeksdelivery.png" width="55" height="55">
               <span class="awesome-ds">&nbsp;Free Home Delivery </span>
                
            </div>
            
            <div class="col-md-4">
               
               <img src="/static/images/easypaymentoptions.png" width="55" height="55">
               <span class="awesome-ds">&nbsp;Easy Payment Options </span>
                
            </div>
            
            <div class="col-md-4">
               
               <img src="/static/images/aftersalesservices.png" width="55" height="55">
               <span class="awesome-ds">&nbsp;After Sale Services </span>
                
            </div>
        </div>
-->
         
<!--
          <span class="tz-awesome-content">
                <a href="#" class="feature-iconbox">

                    <img src="/static/images/5yearwarranty.png" width="55" height="55">

                    <p class="awesome-ds">7 Year Warranty </p>

                </a>
                <a href="#" class="feature-iconbox">
                    <img src="/static/images/bestqualityassurance.png" width="55" height="55">
 <p class="awesome-ds">Best Quality Assurance </p>
                </a>

            <a href="#" class="feature-iconbox">
                      <img src="/static/images/expertdesignerteam.png" width="55" height="55">
 <p class="awesome-ds">Expert Design Team</p>
                </a>

                <a href="#" class="feature-iconbox">
                   <img src="/static/images/hasslefreeinstallation.png" width="55" height="55">
                   <p class="awesome-ds">Hassle Free Installation</p>
                </a>
                <a href="#" class="feature-iconbox">
                    <img src="/static/images/3-5weeksdelivery.png" width="55" height="55">
                   <p class="awesome-ds">Free Home Delivery </p>
                </a>
                <a href="#" class="feature-iconbox">
                     <img src="/static/images/magnificentdesignsolutions.png" width="55" height="55">
                   <p class="awesome-ds">Magnificent Design  </p>
                </a>
                <a href="#" class="feature-iconbox">
                  <img src="/static/images/aftersalesservices.png" width="55" height="55">
                   <p class="awesome-ds">After Sales Services </p>
                </a>
            <a href="#" class="feature-iconbox">
                  <img src="/static/images/easypaymentoptions.png" width="55" height="55">
                   <p class="awesome-ds">Easy Payment Process</p>
                </a>
            </span>
-->
   





<footer>
    <div class="tz-footer-content">
        <div class="container">

             <div class="row">
                <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12 footer-item">
                    <h3 class="module-title">
                            <span>
                                      <img src="/static/images/logo.png" class="img-responsive" alt="bloom">
                            </span>
                    </h3>
                    <div class="textwidget">
                        Ignited by the passion for innovative techniques in woodcraft and decors Bloom Interio has come up with a range of Modular Kitchen and Furniture as the masterpieces of timeless beauty to adorn your interior.
                    </div>
                    
                    <div class="tzwidget-contact">
                    
                    <span class="tzwidget-social">
                <a href="https://www.facebook.com/bloominterio/"><i class="fa fa-facebook"></i></a>
                                
<!--                <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>-->
                                
                <a target="_blank" href="https://plus.google.com/106309094181051060898"><i class="fa fa-google-plus"></i></a>
                               
                    <a target="_blank" href="https://www.instagram.com/bloominterio/"><i class="fa fa-instagram"></i></a>
                            
                             <!--   <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>-->
                            </span>
                            
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2  col-xs-12 footer-item hidden-xs">
                     <h3 class="module-title">
                            <span>
                                OUR SERVICES
                            </span>
                    </h3>
                    <ul class="nav-collapse hidden-xs">
                        <li class="footer-navi">
                            <a href="{% url 'landing' %}">Home Furnishing</a>


                        </li>
                        <li class="footer-navi">
                            <a href="{% url 'kitchen' %}">Modular Kitchen</a>
                        </li>
                        <li class="footer-navi">
                            <a href="{% url 'wardrobe' %}">Modular Wardrobe</a>
                        </li>
                        <li class="footer-navi">
                            <a href="{% url 'modular_accessories' %}">Kitchen Accessories</a>
                        </li>
                        <li class="footer-navi">
                            <a href="{% url 'faq' %}">FAQ's</a>
                        </li>
                        
                    </ul>
                </div>
                <div class="col-lg-4 col-md-3 hidden-xs col-xs-12 footer-item" >
                    <h3 class="module-title">
                            <span>
                                QUICK LINKS
                            </span>
                    </h3>
                    <div class="tzwidget-contact">
                        <address>
                            <i class="fa fa-phone" aria-hidden="true"></i>&nbsp; 0124-4932525</br>
                            <a href="mailto:contact@bloominterio.com" target="_blank"><i class="fa fa-envelope" aria-hidden="true" style="font-size: 12px;"></i>&nbsp; contact@bloominterio.com </a></br>
                            <a target="_blank" href="https://www.google.co.in/maps/place/Bloom+Interio/@28.4019063,77.0720902,15z/data=!4m5!3m4!1s0x0:0x367d00c1dc97e821!8m2!3d28.4019063!4d77.0720902?sa=X&ved=0ahUKEwiYyfCf4c7VAhVMp48KHR3DAdIQ_BIIajAK">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp; Bloom Interio, 
                            i-126 / Ground Floor,<br>&nbsp;&nbsp;&nbsp;
                            Ivory Emerald Hills, <br>&nbsp;&nbsp;&nbsp;&nbsp;Golf Course Extension Road,<br>&nbsp;&nbsp;&nbsp;
                             Gurgaon, Haryana 122001
                             </a>

                       
                       
                       
                        </address>
                        <!-- <span>
                              +44 (0) 123 456 7891
                         </span>-->
                        <!--  <a href="#">dummy@gmail.com</a>-->
                            
                             
                    </div>
                    
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 footer-item fb-box-footer" style="padding-left: 0px;">
                    <h3 class="module-title">
                            <span>
                                LIKE & FOLLOW
                            </span>
                    </h3>
                    
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fbloominterio%2F&tabs&width=340&height=214&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=383860485304661" width="340" height="214" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                    
                </div>
            </div>
            
        </div>
    </div>
    <div class="tz-copyright theme-white">
       
       
        
        <p class="text-left">© 2017 Bloom Interio, Designed by <a class="text-right" target="_blank" href="http://www.scaledesk.com/" style="text-decoration:none; color:#07c8fa;">Scaledesk Web Studio</a> </p>
        
        
        <p class="text-right">
        
        <a href="{% url 'privacy_policy' %}" style="text-decoration:none; color:#333;">Privacy Policy</a> | 
        <a href="{% url 'terms_and_conditions' %}" style="text-decoration:none; color:#333;">Terms &amp; Conditions</a> 
        
        </p>

    </div>
</footer><!--end class tz-footer-->








	<!-- Modal1 -->
<div id="mycalci" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width: 75%;">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->

<div class="pull-right">
        <button type="button" class="btn btn-default" onclick="modelClose()" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true" style="font-size: 20px;"></i></button>
</div>
        <!--<h4 class="modal-title">Modal Header</h4>-->
      </div>
      <div class="modal-body">

        <!--
        form-->


        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="tabs-style">
              <ul class="nav nav-tabs" role="tablist" id="detailTab">
                <li class="active"><a href="#calci" role="tab" data-toggle="tab">Kitchen Cost Calculator</a></li>
                <li><a href="#quotes" role="tab" data-toggle="tab">Get Custom Quotes</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="calci">

                  <div class="tz-our-blog padding-ourblog" style="background:radial-gradient(#d8c87a , #c4a146), #fff !important;">


                      <div class="row">
                        <div class="col-md-4 text-center right-border" style="padding-left: 40px;">
                          <!--   <a href="#" class="tz-button-dekor"><span>STEP-1 </span></a>-->
                          <p class="f-w" style="float:left;font-size: 19px;"><b>Choose Your Kitchen</b></p>
                          <!-- <form> -->
                          <div class="form-group" style="width:220px;">
                            <!-- <input type="text" value="" name="name" class="form-control input-lg form-input-custom" id="name" placeholder="Name" required> -->
                            <select name="kitchen_type" id="k_type" name="k_type" onchange="loadkitchenDescription(this)" id="select_kitchen" class="form-control input-lg form-input-custom calci-select">
                              <option class="calci-option">Choose an Option...</option>
                              {% for obj in k_types %}
                                {% if obj.name != 'Island Kitchen' %}
                                  <option value="{{obj.id}}" class="calci-option">{{obj.name}}</option>
                                {% endif %}
                              {% endfor %}
                            </select>
                          </div>
                          <!-- </form> -->
                        </div>
                        <div id="k_type_detail">

                        </div>
                      </div>

                  </div>

                </div>

                <div class="tab-pane" id="quotes">
                  <div class="row">
                    <div class="col-xs-pull-12">
                      <div class="cta-form cta-light custom-quote-form">
                        <form id="modalForm" class="send_data_form" method="post" action="/modal-request/">
                          <!-- <form id="cta-signup-form" class="cta-signup-form"> -->
                          <h2  class="text-center">Get Your Dream Kitchen</h2>
                          <hr class="hr-color hr-style">
                          <div id="mc-error-cta"><i class="fa fa-exclamation-triangle"></i> Please enter a value</div>
                          <div id="mc-success-cta"><i class="fa fa-envelope"></i> Awesome! We have sent you a confirmation email</div>
                          {% csrf_token %}
                          <div class="form-group">
                            <input type="text" value="" name="name" class="form-control input-lg form-input-custom" id="name" placeholder="Name" required="">
                          </div>
                          <div class="form-group">
                            <input type="text" value="" name="contact_no" class="form-control input-lg form-input-custom" id="contact_no" placeholder="Contact No." required="">
                          </div>
                          <div class="form-group">
                            <input type="email" value="" name="email" class="form-control input-lg form-input-custom" id="email" placeholder="Email" required="">
                          </div>
                          <div class="form-group">
                            <input type="text" value="" name="address" class="form-control input-lg form-input-custom" id="address" placeholder="Address" required="">
                          </div>
                          <div class="form-group">
                            <input type="text" value="" name="budget" class="form-control input-lg form-input-custom" id="budget" placeholder="Budget" required>
                          </div>

                          <div class="form-group">
                            <label for="sel1">Requirement:</label>
                            <select class="form-control input-lg form-input-custom" id="sel1" >
                              <option>Within 15 days</option>
                              <option>Within 1 month</option>
                              <option>Within 6 months</option>

                            </select>
                          </div>

                          <div class="row">
                            <div class="col-md-12 col-xs-6 text-center">
                              <div class="form-btn text-center">
                                <button type="submit" class="btn hollow-btn1">Book Free Consultation Now</button>
                                <br>
                              </div>
                            </div>
                            </div>
                        </form>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>



        </div><!--end class container-->





        <!--       form end-->

      </div>

    </div>

  </div>
</div>
{% endblock %}


{% block script %}
<script src="/static/js/jquery.min.js"></script>
<script>
   function modelOpen(){
	   $('#mycalci').addClass('in').style({'display':'block'}).parent('body').addClass('modal-open')
   }
	 function modelClose(){
	   $('#mycalci').removeClass('in').style({'display':'none'}).parent('body').removeClass('modal-open')
   }
</script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.parallax-1.1.3.js"></script>
<script src="/static/js/owl.carousel.js"></script>
<script src="/static/js/resize.js"></script>

<script src="/static/js/off-canvas.js"></script>
<script src="/static/js/jquery.isotope.min.js"></script>
<script src="/static/js/jquery.flexslider.js"></script>
<script src="/static/js/custom-portfolio.js"></script>
<script src="/static/js/custom.js"></script>
<script type='text/javascript' src='/static/rs-plugin/js/jquery.themepunch.tools.min.js'></script>
<script type='text/javascript' src='/static/rs-plugin/js/jquery.themepunch.revolution.min.js'></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery('#rev_slider_2_1').show().revolution(
                {
                    dottedOverlay:"none",
                    delay:6000,
                    startwidth:960,
                    startheight:350,
                    hideThumbs:200,

                    thumbWidth:100,
                    thumbHeight:50,
                    thumbAmount:4,

                    navigationType:"none",
                    navigationArrows:"solo",
                    navigationStyle:"round",

                    touchenabled:"on",
                    onHoverStop:"on",

                    swipe_velocity: 0.7,
                    swipe_min_touches: 1,
                    swipe_max_touches: 1,
                    drag_block_vertical: false,


                    keyboardNavigation:"off",

                    navigationHAlign:"center",
                    navigationVAlign:"bottom",
                    navigationHOffset:0,
                    navigationVOffset:20,

                    soloArrowLeftHalign:"left",
                    soloArrowLeftValign:"center",
                    soloArrowLeftHOffset:20,
                    soloArrowLeftVOffset:0,

                    soloArrowRightHalign:"right",
                    soloArrowRightValign:"center",
                    soloArrowRightHOffset:20,
                    soloArrowRightVOffset:0,

                    shadow:0,
                    fullWidth:"off",
                    fullScreen:"on",

                    spinner:"spinner0",

                    stopLoop:"off",
                    stopAfterLoops:-1,
                    stopAtSlide:-1,

                    shuffle:"off",


                    forceFullWidth:"off",
                    fullScreenAlignForce:"off",
                    minFullScreenHeight:"",
                    hideTimerBar:"on",
                    hideThumbsOnMobile:"off",
                    hideNavDelayOnMobile:1500,
                    hideBulletsOnMobile:"off",
                    hideArrowsOnMobile:"off",
                    hideThumbsUnderResolution:0,

                    fullScreenOffsetContainer: "",
                    fullScreenOffset: "",
                    hideSliderAtLimit:0,
                    hideCaptionAtLimit:0,
                    hideAllCaptionAtLilmit:0,
                    startWithSlide:0
                });
    });	/*ready*/


    var Desktop           =   4,
            tabletportrait    =   2,
            mobilelandscape   =   2,
            mobileportrait    =   1,
            resizeTimer       =   null;

    jQuery(window).load(function(){
        jQuery('div.slotholder').prepend('<div class="bk-responsive-slide"></div>');
    })
</script>


<script>
    // jQuery for flexslider------------------
    jQuery(window).load(function() {
        // The slider being synced must be initialized first
        jQuery('#carousel').flexslider({
            animation: "slide",
            controlNav: false,
            animationLoop: false,
            slideshow: false,
            directionNav: false,
            autoHeight: true,
            itemWidth: 80,
            itemMargin: 80,
            asNavFor: '#slider'
        });

        jQuery('#slider').flexslider({
            animation: "slide",
            controlNav: false,
            animationLoop: false,
            directionNav: false,
            autoHeight: true,
            slideshow: false,
            sync: "#carousel"
        });
    });
</script>

<!-- script added to get csrf_token for ajax requests -->
<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>
<script>

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function loadkitchenDescription(obj){
  $.ajax({
    type: "POST",
    url: "/kitchen/reload-kitchen-type/",
    headers: { "X-CSRFToken": getCookie('csrftoken') },
    data: { ktype_id:obj.value },
    success: function( returnedData) {
      document.getElementById('k_type_detail').innerHTML = returnedData
    }
  });
}


function loadkitchenDescriptionMob(obj){
  $.ajax({
    type: "POST",
    url: "/kitchen/reload-kitchen-type/",
    headers: { "X-CSRFToken": getCookie('csrftoken') },
    data: { ktype_id:obj.value },
    success: function( returnedData) {
      document.getElementById('mob_k_type_detail').innerHTML = returnedData
    }
  });
}


function calculatePrice(price,no_of_wall){
  var val = 0;
  for(i=1;i<=no_of_wall;i++){
    val+=Number(document.getElementById('height'+i).value);
  }
  var r = val*price
  document.getElementById('k_result').innerHTML = r;
}
function removeResult(){
  document.getElementById('k_result').innerHTML = '';
}
</script>

<!-- Start of HubSpot Embed Code -->
<!--
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/3054939.js"></script>
-->
<!--<script src="//load.sumome.com/" data-sumo-site-id="0a48d44c7350da66807f6363d6d626993cef00eb1e8c127830ab13bd102e72f0" async="async"></script>-->
<!-- End of HubSpot Embed Code -->


<script type='text/javascript'>
$('#contact_request_form').submit(function() {
  $(this).find(':input[type=submit]').prop('disabled', true);
});
</script>

{% endblock %}

{% block custom_script %}

{% endblock %}

</body>

</html>
