
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bloom interio</title>

    {% block css %}
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/fonts/awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,700,600,500,300,100,200,800" rel="stylesheet" />
    <link href="/static/css/owl.carousel.css" rel="stylesheet" />

    <link href="/static/css/owl.theme.css" rel="stylesheet" />
    <link rel='stylesheet' href='/static/rs-plugin/css/settings.css' />
    <!-- Support for HTML5 -->
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Enable media queries on older bgeneral_rowsers -->
    <!--[if lt IE 9]>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->
    <link href="/static/style.css" rel="stylesheet" />
    <link href="/static/css/custom.css" rel="stylesheet" />
    {% endblock %}

    {% block custom_css %}

    {% endblock %}

</head>
<body>
<div class="loading-page">
    <img src="/static/demos/loading.GIF" alt="loading">
</div>

{% block header %}
<header class="tz-header tz-header2">
    <div class="container">
        <h3 class="tz-logo pull-left"  style="
    margin-bottom: 0px;">
            <a href="{% url "landing" %}">
                <img src="/static/images/logo.png" alt="bloom">
            </a>
        </h3>
        <button data-target=".nav-collapse" class="btn-navbar tz_icon_menu pull-right" type="button">
            <i class="fa fa-bars"></i>
        </button>
        <button class="pull-right tz-search1"><span class="border-no"> <i class="fa fa-phone"> +91-9212300596</i></span></button>
        <nav class="pull-right">
            <ul class="nav-collapse">
                <li>
                    <a href="{% url 'landing' %}">HOME</a>

                </li>
                <li>
                    <a href="{% url 'kitchen' %}">kitchen</a>
                    <div class="nav-child dropdown-menu mega-dropdown-menu">
                        <div class="mega-dropdown-inner">
                            <div class="row">
                                <div data-width="12" class="col-md-12 mega-col-nav">
                                    <div class="mega-inner">
                                        <ul class="mega-nav level1">

                                           {% for k_type in k_types %}
                                             <li>
                                                 <a href="{% url 'kitchen' %}{{k_type.slug}}/">{{ k_type.name }}</a>
                                             </li>
                                           {% endfor %}

                                           <li>
                                               <a href="{% url 'kitchen_guide' %}/">Kitchen Guide</a>
                                           </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="{% url 'wardrobe' %}">wardrobe</a>
                    <div class="nav-child dropdown-menu mega-dropdown-menu">
                        <div class="mega-dropdown-inner">
                            <div class="row">
                                <div data-width="12" class="col-md-12 mega-col-nav">
                                    <div class="mega-inner">
                                        <ul class="mega-nav level1">

                                          {% for w_type in w_types %}
                                            <li>
                                                <a href="{% url 'wardrobe' %}{{w_type.slug}}/">{{ w_type.name }}</a>
                                            </li>
                                          {% endfor %}

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
                <li>
                    <a href="{% url 'interior' %}">interior</a>

                </li>
                <li>
                    <a href="{% url 'about' %}">about us</a>

                </li>
                <li>
                    <a href="{% url 'contact' %}">contact</a>

                </li>
            </ul>
        </nav>
    </div>
</header>
{% endblock %}





{% block content %}
THIS IS WHERE THE MAIN CONTENT WILL GIVEN
{% endblock %}


{% block footer %}
<footer>
    <div class="tz-footer-content">
        <div class="container">


            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 footer-item">
                    <h3 class="module-title">
                            <span>
                                BLOOM INTERIO
                            </span>
                    </h3>
                    <div class="textwidget">
                        Ignited by the passion for innovative techniques in woodcraft and decors Bloom Interio has come up with a range of Modular Kitchen and Furniture as the masterpieces of timeless beauty to adorn your interest.
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1  col-xs-12 footer-item">
                    &nbsp;
                </div>
                <div class="col-lg-3 col-md-3 hidden-sm  col-xs-12 footer-item">
                    <h3 class="module-title">
                            <span>
                                OUR SERVICES
                            </span>
                    </h3>
                    <ul class="nav-collapse">
                        <li class="footer-navi">
                            <a href="{% url 'landing' %}">Kitchen</a>
                        </li>
                        <li class="footer-navi">
                            <a href="{% url 'wardrobe' %}">Wardrobe</a>
                        </li>
                        <li class="footer-navi">
                            <a href="{% url 'faq' %}">FAQs</a>
                        </li>
                        <li class="footer-navi">
                            <a href="{% url 'terms_and_conditions' %}">Terms & Conditions</a>
                        </li>
                        <li class="footer-navi">
                            <a href="{% url 'privacy_policy' %}">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 footer-item">
                    <h3 class="module-title">
                            <span>
                                CONTACT
                            </span>
                    </h3>
                    <div class="tzwidget-contact">
                        <address>

                            <i class="fa fa-phone" aria-hidden="true"></i>&nbsp; 0124-4932525</br>
                            <i class="fa fa-envelope" aria-hidden="true" style="font-size: 12px;"></i>&nbsp; hello@bloominterio.in </br>
                            <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp; Bloom Interio
                            No. 1216, 12th Floor,<br>&nbsp;&nbsp;&nbsp;
                            Jmd Megapolis, Sohna Road, Sector 48,<br>&nbsp;&nbsp;&nbsp;
                            Gurugram, Haryana 122018

                        </address>
                        <!-- <span>
                              +44 (0) 123 456 7891
                         </span>-->
                        <!--  <a href="#">dummy@gmail.com</a>-->
                            <span class="tzwidget-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tz-copyright theme-white">
        <p>© 2017 Bloom Interio, Designed by Scaledesk Web Studio.</p>
    </div>
</footer><!--end class tz-footer-->
{% endblock %}

{% block script %}

<script src="/static/js/jquery.min.js"></script>
<!-- <script>
    jQuery.noConflict();
</script> -->
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.parallax-1.1.3.js"></script>
<script src="/static/js/owl.carousel.js"></script>
<script src="/static/js/resize.js"></script>
<script src="/static/js/off-canvas.js"></script>
<script src="/static/js/jquery.isotope.min.js"></script>
<script src="/static/js/custom-portfolio.js"></script>
<script src="/static/js/custom.js"></script>
<script src="/static/js/portfolio.js"></script>
<script type='text/javascript' src='/static/rs-plugin/js/jquery.themepunch.tools.min.js'></script>
<script type='text/javascript' src='/static/rs-plugin/js/jquery.themepunch.revolution.min.js'></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery('#rev_slider_2_1').show().revolution(
                {
                    dottedOverlay:"none",
                    delay:6000,
                    startwidth:960,
                    startheight:350,
                    hideThumbs:200,

                    thumbWidth:100,
                    thumbHeight:50,
                    thumbAmount:4,

                    navigationType:"none",
                    navigationArrows:"solo",
                    navigationStyle:"round",

                    touchenabled:"on",
                    onHoverStop:"on",

                    swipe_velocity: 0.7,
                    swipe_min_touches: 1,
                    swipe_max_touches: 1,
                    drag_block_vertical: false,


                    keyboardNavigation:"off",

                    navigationHAlign:"center",
                    navigationVAlign:"bottom",
                    navigationHOffset:0,
                    navigationVOffset:20,

                    soloArrowLeftHalign:"left",
                    soloArrowLeftValign:"center",
                    soloArrowLeftHOffset:20,
                    soloArrowLeftVOffset:0,

                    soloArrowRightHalign:"right",
                    soloArrowRightValign:"center",
                    soloArrowRightHOffset:20,
                    soloArrowRightVOffset:0,

                    shadow:0,
                    fullWidth:"off",
                    fullScreen:"on",

                    spinner:"spinner0",

                    stopLoop:"off",
                    stopAfterLoops:-1,
                    stopAtSlide:-1,

                    shuffle:"off",


                    forceFullWidth:"off",
                    fullScreenAlignForce:"off",
                    minFullScreenHeight:"",
                    hideTimerBar:"on",
                    hideThumbsOnMobile:"off",
                    hideNavDelayOnMobile:1500,
                    hideBulletsOnMobile:"off",
                    hideArrowsOnMobile:"off",
                    hideThumbsUnderResolution:0,

                    fullScreenOffsetContainer: "",
                    fullScreenOffset: "",
                    hideSliderAtLimit:0,
                    hideCaptionAtLimit:0,
                    hideAllCaptionAtLilmit:0,
                    startWithSlide:0
                });
    });	/*ready*/


    var Desktop           =   4,
            tabletportrait    =   2,
            mobilelandscape   =   2,
            mobileportrait    =   1,
            resizeTimer       =   null;

    jQuery(window).load(function(){
        jQuery('div.slotholder').prepend('<div class="bk-responsive-slide"></div>');
    })
</script>

<script type='text/javascript'>
$('#contact_request_form').submit(function() {
  $(this).find(':input[type=submit]').prop('disabled', true);
});
</script>
{% endblock %}

{% block custom_script %}
{% endblock %}

</body>
</html>
