<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bloom Interio</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="fonts/awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,700,600,500,300,100,200,800" rel="stylesheet" />
    <link href="css/owl.carousel.css" rel="stylesheet" />
    <link href="css/owl.theme.css" rel="stylesheet" />
    <link rel='stylesheet' href='rs-plugin/css/settings.css' />
    <!-- Support for HTML5 -->
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Enable media queries on older bgeneral_rowsers -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link href="style.css" rel="stylesheet" />
    <link href="css/custom.css" rel="stylesheet" />
</head>
<body>
<div class="loading-page">
    <img src="demos/loading.GIF" alt="loading">
</div>
<header class="tz-header tz-header2">


    <div class="container">
        <h3 class="tz-logo pull-left">
            <a href="#">
                <img src="images/logo.png" alt="dekor">
            </a>
        </h3>
        <button data-target=".nav-collapse" class="btn-navbar tz_icon_menu pull-right" type="button">
            <i class="fa fa-bars"></i>
        </button>
        <button class="pull-right tz-search1"><span class="border-no"> <i class="fa fa-phone"> +91-123456789</i></span></button>
        <nav class="pull-right">
            <ul class="nav-collapse">
                <li>
                    <a href="landing.html">HOME</a>

                </li>
                <li>
                    <a href="#">kitchen</a>
                    <div class="nav-child dropdown-menu mega-dropdown-menu">
                        <div class="mega-dropdown-inner">
                            <div class="row">
                                <div data-width="12" class="col-md-12 mega-col-nav">
                                    <div class="mega-inner">
                                        <ul class="mega-nav level1">
                                            <li>
                                                <a href="productlisting%20(L%20Shape).html">L SHAPED</a>
                                            </li>
                                            <li>
                                                <a href="productlisting%20(U%20Shape).html">U SHAPED</a>
                                            </li>
                                            <li>
                                                <a href="productlisting%20(H%20Shape).html">H SHAPED</a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#">wardrobe</a>
                    <div class="nav-child dropdown-menu mega-dropdown-menu">
                        <div class="mega-dropdown-inner">
                            <div class="row">
                                <div data-width="12" class="col-md-12 mega-col-nav">
                                    <div class="mega-inner">
                                        <ul class="mega-nav level1">
                                            <li>
                                                <a href="3DOOR.html">3 DOOR</a>
                                            </li>
                                            <li>
                                                <a href="4DOOR.html">4 DOOR</a>
                                            </li>
                                            <li>
                                                <a href="5DOOR.html">5 DOOR</a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
                <li>
                    <a href="#">interior</a>

                </li>
                <li>
                    <a href="#">about us</a>

                </li>
                <li>
                    <a href="#">contact</a>

                </li>
            </ul>
        </nav>
    </div>



</header>

<div class="tzslider">
    <div id="rev_slider_2_1_wrapper" class="rev_slider_wrapper fullscreen-container">
        <div id="rev_slider_2_1" class="rev_slider fullscreenbanner">
            <ul>
                <li data-transition="fade" data-slotamount="7" data-masterspeed="300"  data-fstransition="fade" data-fsmasterspeed="300" data-fsslotamount="7" data-saveperformance="off" >
                    <img src="demos/slider-re1.jpg"  alt="thumb-slider"  data-bgposition="center top" data-bgfit="100% 100%" data-bgrepeat="no-repeat">
                    <div class="tp-caption small_light_white sft stt tp-resizeme  tz-title-small"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="-110"
                         data-speed="900"
                         data-start="500"
                         data-easing="Quad.easeInOut"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         data-endeasing="Quad.easeOut">take an
                    </div>

                    <div class="tp-caption large_bold_white sfr str tp-resizeme  tz-title-large"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="-40"
                         data-speed="900"
                         data-start="1000"
                         data-easing="Quad.easeOut"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         data-endeasing="Quad.easeOut">Additional
                    </div>

                    <div class="tp-caption large_bold_white randomrotate randomrotateout tp-resizeme  title-slider-big"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="80"
                         data-speed="900"
                         data-start="1500"
                         data-easing="Quad.easeOut"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="900"
                         data-endeasing="Quad.easeOut">10%OFF
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption medium_light_white sfb stb tp-resizeme  tz-content-lager"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="190"
                         data-speed="900"
                         data-start="2000"
                         data-easing="Quad.easeOut"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         data-endeasing="Quad.easeOut">already discounted items!
                    </div>
                </li>
                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" >
                    <!-- MAIN IMAGE -->
                    <img src="demos/slider-re2.jpg"  alt="slider"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption large_bold_white sft stt tp-resizeme  title-slider"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="-70"
                         data-speed="900"
                         data-start="500"
                         data-easing="Quad.easeIn"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         data-endeasing="Quad.easeIn">HOME DECORATION
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption small_light_white sfl stl tp-resizeme  content-slider"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="30"
                         data-speed="900"
                         data-start="700"
                         data-easing="Power4.easeOut"
                         data-splitin="words"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         data-endeasing="Cubic.easeIn">The Best Home Decoration Store
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption small_light_white sfb stb tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="100"
                         data-speed="900"
                         data-start="500"
                         data-easing="Quad.easeIn"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         data-endeasing="Power4.easeInOut">
                    </div>
                </li>
                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" >
                    <!-- MAIN IMAGE -->
                    <img src="demos/slider-re3.jpg"  alt="slider4"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption small_light_white sft tp-resizeme  slider-attach"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="-100"
                         data-speed="1100"
                         data-start="500"
                         data-easing="Power3.easeInOut"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300">FINAL SALE
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption large_bold_white sfb tp-resizeme  title-slider-blod"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="-40"
                         data-speed="900"
                         data-start="500"
                         data-easing="Power0.easeOut"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300">DEKOR CATALOGUES
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption skewfromright"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="10"
                         data-speed="1000"
                         data-start="500"
                         data-easing="Power3.easeInOut"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"><img src="demos/Line_slider.jpg" alt="">
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption small_light_white randomrotate tp-resizeme  slider-ds"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="60"
                         data-speed="1100"
                         data-start="500"
                         data-easing="Power3.easeInOut"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300">ADDITIONAL 10% OFF DISCOUNTED ITEMS
                    </div>

                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption black sfb tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="125"
                         data-speed="1100"
                         data-start="500"
                         data-easing="Power3.easeInOut"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300">
                    </div>
                </li>
                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" >
                    <!-- MAIN IMAGE -->
                    <img src="demos/slider-re4.jpg"  alt="slider3"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption large_bold_white sft stt tp-resizeme  title-slider"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="-70"
                         data-speed="900"
                         data-start="500"
                         data-easing="Quad.easeIn"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         data-endeasing="Quad.easeIn">HOME DECORATION
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption small_light_white sfl stl tp-resizeme  content-slider"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="30"
                         data-speed="900"
                         data-start="700"
                         data-easing="Power4.easeOut"
                         data-splitin="words"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         data-endeasing="Cubic.easeIn">The Best Home Decoration Store
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption small_light_white sfb stb tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="100"
                         data-speed="900"
                         data-start="500"
                         data-easing="Quad.easeIn"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         data-endeasing="Power4.easeInOut">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div><!--end class tzslider-->


<section class="theme-white tzcustom-block style-border">
    <div class="container">
        <h3 class="tz-title-3">LOREM IPSUM</h3>
        <p class="tz-attach">Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad cum deserunt, dicta earum et ex fugit incidunt ipsam minus necessitatibus neque nisi nulla quae quis quo veniam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores aspernatur beatae distinctio eveniet illo, maxime nostrum omnis quas, temporibus unde, voluptates? Accusamus dignissimos est illum ipsum laborum, necessitatibus sunt? Minima, officia. adipiscing elit. Pellentesque sollicitudin ligula vel fringilla lacinia. </p>

    </div><!--end class container-->
</section><!--end class tzcustom-block-->



<section>
    <div class="tz-footer-content1 hero-section">
        <div class="container">
            <h3 class="tz-title-3">
                CONTACT US NOW
            </h3>
            <!-- <br> <br>-->
            <div class="row tzcustom-row ">
                <!--map-->

                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3509.212135477927!2d77.03584181507766!3d28.41285518250496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d2299943b1b17%3A0x367d00c1dc97e821!2sBloom+Interio!5e0!3m2!1sen!2sin!4v1482577674610" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen></iframe>
                </div>


                <!--cta signup form-->

                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 hidden-xs" style="position:relative;">
                    <section class="cta-form cta-light">
                        <form id="cta-signup-form" class="cta-signup-form">
                            <h2  class="text-center">Dream Kitchen</h2>
                            <hr class="hr-color hr-style">
                            <div id="mc-error-cta"><i class="fa fa-exclamation-triangle"></i> Please enter a value</div>
                            <div id="mc-success-cta"><i class="fa fa-envelope"></i> Awesome! We have sent you a confirmation email</div>

                            <div class="form-group"> <i class="fa fa-user"></i>
                                <input type="text" value="" name="FNAME" class="form-control input-lg form-input-custom" id="input-name" placeholder="Name" required>
                            </div>

                            <div class="form-group"> <i class="fa fa-phone-square" aria-hidden="true"></i>
                                <input type="number" value="" name="EMAIL" class="form-control input-lg form-input-custom" id="input-email" placeholder="Contact No." required>
                            </div>
                            <div class="form-group"> <i class="fa fa-envelope" aria-hidden="true"></i>
                                <input type="email" value="" name="EMAIL" class="form-control input-lg form-input-custom" id="input-email" placeholder="Email" required>
                            </div>

                            <div class="form-group"> <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <input type="text" value="" name="address" class="form-control input-lg form-input-custom" id="input-email" placeholder="Location" required>
                            </div>


                            <div class="form-group"> <i class="fa fa-briefcase" aria-hidden="true"></i>
                                <input type="text" value="" name="designation" class="form-control input-lg form-input-custom" id="input-email" placeholder="Budget" required>
                            </div>







                            <div class="form-btn">
                                <button type="submit" class="btn hollow-btn1">Get Free Consultation</button>
                                <br>

                            </div>


                        </form>
                    </section>
                </div>

                <!--cta signup form end-->
            </div>
        </div>




    </div>
</section>
</section>
<footer>
    <div class="tz-footer-content">
        <div class="container">


            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 footer-item">
                    <h3 class="module-title">
                            <span>
                                BLOOM INTERIO
                            </span>
                    </h3>
                    <div class="textwidget">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis mollis tellus, et ullamcorper velit.
                        Curabitur lobortis bibendum tincidunt. Nullam eget ultrices quam. Morbi vestibulum nec diam ac hendrerit.
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1  col-xs-12 footer-item">
                    &nbsp;
                </div>
                <div class="col-lg-3 col-md-3 hidden-sm  col-xs-12 footer-item">
                    <h3 class="module-title">
                            <span>
                                OUR SERVICES
                            </span>
                    </h3>
                    <ul class="nav-collapse">
                        <li class="footer-navi">
                            <a href="#">Home</a>


                        </li>
                        <li class="footer-navi">
                            <a href="#">kitchen</a>
                        </li>
                        <li class="footer-navi">
                            <a href="#">wardrobe</a>

                        </li>
                        <li class="footer-navi">
                            <a href="#">interior</a>

                        </li>
                        <li class="footer-navi">
                            <a href="#">about us</a>

                        </li>
                        <li class="footer-navi">
                            <a href="#">contact</a>

                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 footer-item">
                    <h3 class="module-title">
                            <span>
                                CONTACT
                            </span>
                    </h3>
                    <div class="tzwidget-contact">
                        <address>
                            Bloom Interio
                            No. 1216, 12th Floor, Jmd Megapolis, Sohna Road,, Vipul World, Sector 48, Gurugram, Haryana 122018
                        </address>
                        <!-- <span>
                              +44 (0) 123 456 7891
                         </span>-->
                        <!--  <a href="#">dummy@gmail.com</a>-->
                            <span class="tzwidget-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </span>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="tz-copyright theme-white">
        <p>© 2016 Bloom Interio, Designed by Scaledesk Web Studio.</p>
    </div>
</footer><!--end class tz-footer-->
<script src="js/jquery.min.js"></script>
<script>
    jQuery.noConflict();
</script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.parallax-1.1.3.js"></script>
<script src="js/owl.carousel.js"></script>
<script src="js/resize.js"></script>
<script src="js/off-canvas.js"></script>
<script src="js/jquery.isotope.min.js"></script>
<script src="js/custom-portfolio.js"></script>
<script src="js/custom.js"></script>
<script type='text/javascript' src='rs-plugin/js/jquery.themepunch.tools.min.js'></script>
<script type='text/javascript' src='rs-plugin/js/jquery.themepunch.revolution.min.js'></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery('#rev_slider_2_1').show().revolution(
                {
                    dottedOverlay:"none",
                    delay:6000,
                    startwidth:960,
                    startheight:350,
                    hideThumbs:200,

                    thumbWidth:100,
                    thumbHeight:50,
                    thumbAmount:4,

                    navigationType:"none",
                    navigationArrows:"solo",
                    navigationStyle:"round",

                    touchenabled:"on",
                    onHoverStop:"on",

                    swipe_velocity: 0.7,
                    swipe_min_touches: 1,
                    swipe_max_touches: 1,
                    drag_block_vertical: false,


                    keyboardNavigation:"off",

                    navigationHAlign:"center",
                    navigationVAlign:"bottom",
                    navigationHOffset:0,
                    navigationVOffset:20,

                    soloArrowLeftHalign:"left",
                    soloArrowLeftValign:"center",
                    soloArrowLeftHOffset:20,
                    soloArrowLeftVOffset:0,

                    soloArrowRightHalign:"right",
                    soloArrowRightValign:"center",
                    soloArrowRightHOffset:20,
                    soloArrowRightVOffset:0,

                    shadow:0,
                    fullWidth:"off",
                    fullScreen:"on",

                    spinner:"spinner0",

                    stopLoop:"off",
                    stopAfterLoops:-1,
                    stopAtSlide:-1,

                    shuffle:"off",


                    forceFullWidth:"off",
                    fullScreenAlignForce:"off",
                    minFullScreenHeight:"",
                    hideTimerBar:"on",
                    hideThumbsOnMobile:"off",
                    hideNavDelayOnMobile:1500,
                    hideBulletsOnMobile:"off",
                    hideArrowsOnMobile:"off",
                    hideThumbsUnderResolution:0,

                    fullScreenOffsetContainer: "",
                    fullScreenOffset: "",
                    hideSliderAtLimit:0,
                    hideCaptionAtLimit:0,
                    hideAllCaptionAtLilmit:0,
                    startWithSlide:0
                });
    });	/*ready*/


    var Desktop           =   4,
            tabletportrait    =   2,
            mobilelandscape   =   2,
            mobileportrait    =   1,
            resizeTimer       =   null;

    jQuery(window).load(function(){
        jQuery('div.slotholder').prepend('<div class="bk-responsive-slide"></div>');
    })
</script>
</body>
</html>