{% extends 'base.html' %}

{% block custom_css %}

{% endblock %}

{% block content %}


<section class=" tzcategory-shop-wrap">

    <div class="page-content container">
        <h3 class="module-title title-widget">FAQ</h3>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="tzaccordion">
                    <h6><i class="fa fa-chevron-right"></i>Why Bloom Interio?</h6>
                    <p>
                        Bloom Interio offers innovative ways to design, choose and try factory made excellent finish Modular Kitchens, Wardrobes at affordable prices which suits every budget. We have in house production facility which enables us to strictly control quality from beginning to the end of the production.
                    </p>
                    <h6><i class="fa fa-chevron-right"></i>How to buy?</h6>
                    <p>
                        <b> Please follow the following steps –:</b>
                        <br>
                        (1.) Browse collection at bloominterio.com   <br>
                        (2.) Select a design.  <br>
                        (3.) Get it customized and get a free quote.  <br>
                        (4.) Place an order and leave all the headache to use.  <br>
                        (5.) Get you dream kitchen installed in 3-5 weeks.
                    </p>
                    <h6><i class="fa fa-chevron-right"></i> Why should I buy a Modular kitchen?</h6>
                    <p>
                        Bloom Interio believes that kitchen is the heart of home. It is the place where food is cooked, interacting happened & memories are made to cherish forever. Therefore, working in the kitchen should be fun, satisfying, less time consuming & organized. Kitchens at Bloom Interio are designed in such a way that they provide all of the above benefits in any budget. At Bloom Interio modular kitchens are not only ergonomically created to increase work efficiency, space optimization based on international standards but also enhance the beauty of your home. We use most efficient hardware & accessories to make life easier in the kitchen.
                    </p>

                    <h6><i class="fa fa-chevron-right"></i>How we work? </h6>


                    <p>

                        Bloom Interio follows a STEP based working process, where various stages of production are designed as S1, S2, S3 etc. which in detail are described below –:
                        <img src="/static/images/t2.jpg"/>

                    </p>

                    <h6><i class="fa fa-chevron-right"></i>What is the payment process?</h6>
                    <p>

                        Bloom Interio follows STEPS based on payment process to ease out the entire procedure which is described below –:
                        <img src="/static/images/t4.jpg"/>

                    </p>

                    <h6><i class="fa fa-chevron-right"></i>What is the estimated delivery time?</h6>
                    <p>

                        Bloom Interio delivers finished modular kitchen & wardrobe in 3-5 weeks* of time.
                        *Stipulated period of time i.e. 3-5 weeks is subject of availability of hardware & accessories in the market. We also need co-operation on client’s behalf to make time approvals & payments to complete the whole process in stipulated time-frame.

                    </p>


                    <h6><i class="fa fa-chevron-right"></i>What conditions do you expect on client’s behalf?</h6>
                    <p>

                        Client Responsibility – To fulfill our promise of timely delivery & quality finish product we except following conditions to be taken seriously by client –:

                        1. Coordination of any decision making parties involved.
                        2. Timely payments to be made.
                        3. Final design, color, accessories, appliances should be confirmed as early as possible for timely delivery.
                        4. Last minute changes could be taken into consideration only till step 4. After that no alteration could be taken into consideration by company’s post.
                        5. Complete payment needs to be made by the client before the dispatch of finished goods from facility.
                        6. Client has to bare the taxes wherever applicable as per tax laws of Govt. of India.
                    </p>



                    <h6><i class="fa fa-chevron-right"></i>What design, shades & finish available?</h6>
                    <p>

                        Bloom Interio have plethora of shades, materials & designs available to suit everyone’s taste & preferences. We offer matte, high gloss, acrylic, lacquered glass, PU finish, melamine, membrane finish, veneer finish, wooden shutters.  In addition to these we offer Italian shutters in Matte, High Glass & Metallic Finish. Our company used laminated from century, Greelam, Merindam only. </p>



                    <h6><i class="fa fa-chevron-right"></i>I am clueless about the size of my kitchen, what should I do?</h6>
                    <p>

                        Relax! All you have to do is call us up & we would send our draftsman at your site to take required measurements.
                    </p>

                    <h6><i class="fa fa-chevron-right"></i>Do you charge for site visit?</h6>
                    <p>

                        No, we don’t charge for site visits. We provide free consultations & site visit.
                    </p>

                    <h6><i class="fa fa-chevron-right"></i>Shall I be charged for installation & transportation?</h6>
                    <p>


                        (1.) Installation cost is inclusive in your final invoice.
                        (2.) Transportation in Delhi NCR is free of cost. But apart of this area, transportation charges would be extra.
                    </p>

                    <h6><i class="fa fa-chevron-right"></i> How much time does installation take?</h6>
                    <p>

                        Once the product is delivered, our fitting team would start installation process on the next day after delivery. It usually takes 2-3 days depending on the working conditions provided at the site.
                    </p>

                    <h6><i class="fa fa-chevron-right"></i> What type of raw materials do you use for cabinet/ shutter making for kitchen/ wardrobes?</h6>
                    <p>

                        We use best quality raw material available. We provide many options in plywood, WPC board, HDF, MDF etc. Each type has its own merits & demerits.
                    </p>

                    <h6><i class="fa fa-chevron-right"></i> Is your kitchen/ wardrobe termite & water proof?</h6>
                    <p>

                        Yes, we use termite proof, water proof material in our kitchen/ wardrobes. Special feature of our product is what WPC board in sink area, to prevent seepage & humidity related issues in the kitchen.
                    </p>

                    <h6><i class="fa fa-chevron-right"></i> What warranty do you provide for your products?</h6>
                    <p>

                        Bloom Interio provides 5 years’ warranty against any manufacturing defect in it’s products.
                        In addition of this Bloom Interio provides following warranty period on accessories/ appliances hardware included –:
                        <br>
                        <img src="/static/images/t3.jpg"/>
                    </p>

                    <h6><i class="fa fa-chevron-right"></i> What are the requisites for getting modular kitchen installed?</h6>
                    <p>

                        Bloom Interio provides 5 years’ warranty against any manufacturing defect in it’s products. In addition of this Bloom Interio provides following warranty period on accessories/ appliances hardware included –:
                        Following conditions need to be fulfilled before kitchen installation –:
                        (1.) Flooring/ tiling process should be finished before installation
                        (2.) Electric, gas connection & plumbing work should be finished in advance
                        (3.) Wall till work should have been finished as well
                    </p>

                    <h6><i class="fa fa-chevron-right"></i>  Do you provide after sales service? </h6>
                    <p>

                        Yes, we provide 2 free of cost service visits till completion of 1st year of installation. If any service required after this period, we would be happy to help you. Our serviceman would try to resolve the issue your kitchen might be having, at the cost of Rs. 1200/- per visit.
                    </p>

                    <h6><i class="fa fa-chevron-right"></i> What accessories do our offer in modular kitchen?</h6>
                    <p>
                        We use hardware & accessories from reputed companies like Blum, Hafele & Spitze. You can browse through accessories page to know more about these options.
                    </p>

                    <!--end class container-->



                </div>
            </div>

        </div>
    </div><!--end class container-->


</section><!--end class tzpage-default-->

{% endblock %}

{% block custom_script %}

{% endblock %}
