{% extends 'base.html' %}

{% block custom_css %}

{% endblock %}

{% block content %}


<section class=" tzcategory-shop-wrap">

    <div class="page-content container">
        <h3 class="module-title title-widget">FAQ</h3>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="tzaccordion">
                    <h6><i class="fa fa-chevron-right"></i>Why Bloom Interio?</h6>
                    <p>
                        Bloom Interio offers innovative ways to design, choose and try factory made excellent finish Modular Kitchens, Wardrobes at affordable prices which suits every budget. We have in house production facility which enables us to strictly control quality from beginning to the end of the production.
                    </p>
                    <h6><i class="fa fa-chevron-right"></i>How to buy?</h6>
                    <p>
                        <b> Please follow the following steps –:</b>
                        <br>
                        (1.) Browse collection at bloominterio.com   <br>
                        (2.) Select a design.  <br>
                        (3.) Get it customized and get a free quote.  <br>
                        (4.) Place an order and leave all the headache to use.  <br>
                        (5.) Get you dream kitchen installed in 3-5 weeks.
                    </p>
                    <h6><i class="fa fa-chevron-right"></i> Why should I buy a Modular kitchen?</h6>
                    <p>
                        Bloom Interio believes that kitchen is the heart of home. It is the place where food is cooked, interacting happened & memories are made to cherish forever. Therefore, working in the kitchen should be fun, satisfying, less time consuming & organized. Kitchens at Bloom Interio are designed in such a way that they provide all of the above benefits in any budget. At Bloom Interio modular kitchens are not only ergonomically created to increase work efficiency, space optimization based on international standards but also enhance the beauty of your home. We use most efficient hardware & accessories to make life easier in the kitchen.
                    </p>

                    <h6><i class="fa fa-chevron-right"></i>How we work? </h6>


                    <p>

                    Bloom Interio follows a STEP based working process, where various stages of production are designed as S1, S2, S3 etc. which in detail are described below –:
                        <img src="http://www.jqueryscript.net/images/Simplest-Responsive-jQuery-Image-Lightbox-Plugin-simple-lightbox.jpg"/>

                    </p>

                    <h6><i class="fa fa-chevron-right"></i>What is the payment process?</h6>
                    <p>

                        Bloom Interio follows STEPS based on payment process to ease out the entire procedure which is described below –:
                        <img src="http://www.jqueryscript.net/images/Simplest-Responsive-jQuery-Image-Lightbox-Plugin-simple-lightbox.jpg"/>

                    </p>

                    <h6><i class="fa fa-chevron-right"></i>What is the estimated delivery time?</h6>
                    <p>

                        Bloom Interio delivers finished modular kitchen & wardrobe in 3-5 weeks* of time.
                        *Stipulated period of time i.e. 3-5 weeks is subject of availability of hardware & accessories in the market. We also need co-operation on client’s behalf to make time approvals & payments to complete the whole process in stipulated time-frame.

                    </p>

                    <h6><i class="fa fa-chevron-right"></i>How we work? </h6>
                    <p>

                        Bloom Interio follows a STEP based working process, where various stages of production are designed as S1, S2, S3 etc. which in detail are described below –:
                        <img src="http://www.jqueryscript.net/images/Simplest-Responsive-jQuery-Image-Lightbox-Plugin-simple-lightbox.jpg"/>

                    </p>

                    <h6><i class="fa fa-chevron-right"></i>How we work? </h6>
                    <p>

                        Bloom Interio follows a STEP based working process, where various stages of production are designed as S1, S2, S3 etc. which in detail are described below –:
                        <img src="http://www.jqueryscript.net/images/Simplest-Responsive-jQuery-Image-Lightbox-Plugin-simple-lightbox.jpg"/>

                    </p>

                    <h6><i class="fa fa-chevron-right"></i>How we work? </h6>
                    <p>

                        Bloom Interio follows a STEP based working process, where various stages of production are designed as S1, S2, S3 etc. which in detail are described below –:
                        <img src="http://www.jqueryscript.net/images/Simplest-Responsive-jQuery-Image-Lightbox-Plugin-simple-lightbox.jpg"/>

                    </p>

                    <h6><i class="fa fa-chevron-right"></i>How we work? </h6>
                    <p>

                        Bloom Interio follows a STEP based working process, where various stages of production are designed as S1, S2, S3 etc. which in detail are described below –:
                        <img src="http://www.jqueryscript.net/images/Simplest-Responsive-jQuery-Image-Lightbox-Plugin-simple-lightbox.jpg"/>

                    </p>
                        <!--end class container-->








                </div>
            </div>

        </div>
    </div><!--end class container-->


</section><!--end class tzpage-default-->

{% endblock %}

{% block custom_script %}

{% endblock %}
