{% extends 'base1.html' %}
<!--
<link rel="apple-touch-icon" sizes="57x57" href="/static/images/fevi/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/static/images/fevi/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/static/images/fevi/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/static/images/fevi/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/static/images/fevi/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/static/images/fevi/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/static/images/fevi/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/static/images/fevi/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/static/images/fevi/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/static/images/fevi/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/images/fevi/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/static/images/fevi/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/images/fevi/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/static/images/fevi/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
-->



{% block custom_css %}


<style>
  .card-logo{
    width: 96%;
    height: 80px;
    text-align: center;
    background-color: rgba(234, 228, 228, 0.52);
    border: 1px solid #ededed;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    margin: 3px 5px;
    overflow: hidden;
  }

  ul.nav-collapse li:nth-child(1) > a { border-bottom : 2px solid #fff; }

  ul.level1 li:nth-child(1) a { border-bottom : 0px; }



  .carousel-control     		 { width:  4%; }
  .carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}
  @media (max-width: 767px) {
    .carousel-inner .active.left { left: -100%; }
    .carousel-inner .next        { left:  100%; }
    .carousel-inner .prev		 { left: -100%; }
    .active > div { display:none; }
    .active > div:first-child { display:block; }

  }
  @media (min-width: 767px) and (max-width: 992px ) {
    .carousel-inner .active.left { left: -50%; }
    .carousel-inner .next        { left:  50%; }
    .carousel-inner .prev		 { left: -50%; }
    .active > div { display:none; }
    .active > div:first-child { display:block; }
    .active > div:first-child + div { display:block; }
  }
  @media (min-width: 992px ) {
    .carousel-inner .active.left { left: -16.7%; }
    .carousel-inner .next        { left:  16.7%; }
    .carousel-inner .prev		 { left: -16.7%; }
  }
</style>


{% endblock %}

{% block content %}
<div class="tzslider">
  <div id="rev_slider_2_1_wrapper" class="rev_slider_wrapper fullscreen-container">
    <div id="rev_slider_2_1" class="rev_slider fullscreenbanner">
      <ul>


        <li data-transition="fade" data-slotamount="7" data-masterspeed="300"  data-fstransition="fade" data-fsmasterspeed="300" data-fsslotamount="7" data-saveperformance="off" >
          <img src="/static/images/homebanner.jpg" class="img-responsive"  alt="thumb-slider"  data-bgposition="center top" data-bgfit="100% 100%" data-bgrepeat="no-repeat">
          <div class="tp-caption small_light_white sft stt tp-resizeme  tz-title-small"
               data-x="center" data-hoffset="0"
               data-y="center" data-voffset="-110"
               data-speed="900"
               data-start="500"
               data-easing="Quad.easeInOut"
               data-splitin="none"
               data-splitout="none"
               data-elementdelay="0.1"
               data-endelementdelay="0.1"
               data-endspeed="300"
               data-endeasing="Quad.easeOut">Kitchen is
          </div>

          <div class="tp-caption large_bold_white sfr str tp-resizeme  tz-title-large"
               data-x="center" data-hoffset="0"
               data-y="center" data-voffset="-40"
               data-speed="900"
               data-start="1000"
               data-easing="Quad.easeOut"
               data-splitin="none"
               data-splitout="none"
               data-elementdelay="0.1"
               data-endelementdelay="0.1"
               data-endspeed="300"
               data-endeasing="Quad.easeOut">not just a Corner
          </div>

          <div class="tp-caption large_bold_white randomrotate randomrotateout tp-resizeme  title-slider-big"
               data-x="center" data-hoffset="0"
               data-y="center" data-voffset="80"
               data-speed="900"
               data-start="1500"
               data-easing="Quad.easeOut"
               data-splitin="none"
               data-splitout="none"
               data-elementdelay="0.1"
               data-endelementdelay="0.1"
               data-endspeed="900"
               data-endeasing="Quad.easeOut"> to cook
          </div>

          <div class="tp-caption black sfb tp-resizeme"
               data-x="center" data-hoffset="0"
               data-y="center" data-voffset="225"
               data-speed="1100"
               data-start="500"
               data-easing="Power3.easeInOut"
               data-splitin="none"
               data-splitout="none"
               data-elementdelay="0.1"
               data-endelementdelay="0.1"
               data-endspeed="300"><a class="slider-button2"  href="{% url 'kitchen' %}"><span>EXPLORE</span></a>
          </div>

        </li>
<!--slide-->

        <li data-transition="fade" data-slotamount="7" data-masterspeed="300"  data-fstransition="fade" data-fsmasterspeed="300" data-fsslotamount="7" data-saveperformance="off" >
          <img src="/static/images/homebanner.jpg" class="img-responsive" alt="thumb-slider"  data-bgposition="center top" data-bgfit="100% 100%" data-bgrepeat="no-repeat">
          <div class="tp-caption small_light_white sft stt tp-resizeme  tz-title-small"
               data-x="center" data-hoffset="0"
               data-y="center" data-voffset="-110"
               data-speed="900"
               data-start="500"
               data-easing="Quad.easeInOut"
               data-splitin="none"
               data-splitout="none"
               data-elementdelay="0.1"
               data-endelementdelay="0.1"
               data-endspeed="300"
               data-endeasing="Quad.easeOut">take an
          </div>

          <div class="tp-caption large_bold_white sfr str tp-resizeme  tz-title-large"
               data-x="center" data-hoffset="0"
               data-y="center" data-voffset="-40"
               data-speed="900"
               data-start="1000"
               data-easing="Quad.easeOut"
               data-splitin="none"
               data-splitout="none"
               data-elementdelay="0.1"
               data-endelementdelay="0.1"
               data-endspeed="300"
               data-endeasing="Quad.easeOut">Additional
          </div>

          <div class="tp-caption large_bold_white randomrotate randomrotateout tp-resizeme  title-slider-big"
               data-x="center" data-hoffset="0"
               data-y="center" data-voffset="80"
               data-speed="900"
               data-start="1500"
               data-easing="Quad.easeOut"
               data-splitin="none"
               data-splitout="none"
               data-elementdelay="0.1"
               data-endelementdelay="0.1"
               data-endspeed="900"
               data-endeasing="Quad.easeOut">10%OFF
          </div>

          <div class="tp-caption black sfb tp-resizeme"
               data-x="center" data-hoffset="0"
               data-y="center" data-voffset="225"
               data-speed="1100"
               data-start="500"
               data-easing="Power3.easeInOut"
               data-splitin="none"
               data-splitout="none"
               data-elementdelay="0.1"
               data-endelementdelay="0.1"
               data-endspeed="300"><a class="slider-button2"  href="{% url 'kitchen' %}"><span>EXPLORE</span></a>
          </div>


        </li>

      </ul>
    </div>
  </div>
</div><!--end class tzslider-->

<!--<div class="tzslider">
  <div id="rev_slider_2_1_wrapper" class="rev_slider_wrapper fullscreen-container">
    <div id="rev_slider_2_1" class="rev_slider fullscreenbanner">
      <ul>
        <li data-transition="fade" data-slotamount="7" data-masterspeed="300"  data-fstransition="fade" data-fsmasterspeed="300" data-fsslotamount="7" data-saveperformance="off" >
          <div class="fullscreen-bg">


           <video loop muted autoplay poster="/static/demos/slider-re1.png" class="fullscreen-bg__video">
              <source src="/static/images/dummy.mov" type="video/mp4">

            </video>

&ndash;&gt;

          </div>

          <div class="tp-caption large_bold_white sfr str tp-resizeme tz-content-lager hidden-xs hidden-sm "
               data-x="center" data-hoffset="0"
               data-y="center" data-voffset="-40"
               data-speed="900"
               data-start="1000"
               data-easing="Quad.easeOut"
               data-splitin="none"
               data-splitout="none"
               data-elementdelay="0.1"
               data-endelementdelay="0.1"
               data-endspeed="300"
               data-endeasing="Quad.easeOut">Kitchen is not
          </div>


          <div class="tp-caption large_bold_white randomrotate randomrotateout tp-resizeme  tz-title-large start hidden-xs hidden-sm" data-x="center" data-hoffset="0" data-y="center" data-voffset="80" data-speed="900" data-start="1500" data-easing="Quad.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="900" data-endeasing="Quad.easeOut" style="min-height: 0px; min-width: 0px; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 100px; left: 147.5px; top: 363px; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1); transition: all 0s ease 0s;"> Just a corner to cook!<br style="min-height: 0px; min-width: 0px; line-height: 88px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 100px; transition: all 0s ease 0s;">
          </div>



          <div class="tp-caption black sfb tp-resizeme start hidden-xs hidden-sm" data-x="center" data-hoffset="0" data-y="center" data-voffset="125" data-speed="1100" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="min-height: 0px; min-width: 0px; line-height: 19px; border-width: 0px; margin: 0px auto; padding: 0px; letter-spacing: 0px; font-size: 19px; left: 567.5px; top: 323px; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1); transition: all 0s ease 0s;">
            <a href="{% url 'kitchen' %}"><button type="button" class="btn btn-default banner-btn">Explore Our Kitchens</button></a>
          </div>
        </li>


      </ul>
    </div>
  </div>
</div>--><!--end class tzslider-->


<section class="tz-why-choose theme-gray">
  <div class="tz-choose-content tz-choose-content2">
    <div class="container">
      <h3 class="tz-title-bold-3">
        WHY US
      </h3>
      <div class="row">
        <div class="col-lg-4 colg-md-4 col-sm-4 col-xs-12">
          <ul class="tz-collection collection-left tz-collection2">
            <li>
              <figure class="item-collection">
               <!-- <img src="/static/demos/item-collection1.png" alt="Section Header">-->

                <figcaption>
                  <div class="row">
                    <div class="col-xs-3 col-md-2">
                  <i class="fa fa-users bg-green-icon" aria-hidden="true"></i>
                    </div>
                    <div class="col-xs-9 col-md-10">
                  <h6>Professional</h6>
                  <p> Bloom Interio is proud to have a squad which includes trained professionals from the bet architecture colleges, interior designers,</p>
                  <p class="full-text" style="display:none;"> furniture designers, ergonomists and graphic designers. Along with that we have a team of people from everyday walks of life, who try our products before we float them in the market and comment on their feasibility.</p>
                  <p class="more-text" style="color:#f1805f;">More..</p>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </li>
            <li>
              <figure class="item-collection">
                <!--<img src="/static/demos/item-collection2.png" alt="Clean Code">-->

                <figcaption>
                  <div class="row">
                    <div class="col-xs-3 col-md-2">
                  <i class="fa fa-pencil-square-o bg-yellow-icon" aria-hidden="true"></i>
                      </div>
                    <div class="col-xs-9 col-md-10">

                  <h6>Creative</h6>
                  <p>We are high on creative content. Our skilled professionals will create the house just as you imagined.</p>
                  <p class="full-text" style="display:none;">Be it including the best modular kitchen, or hassle free interior services, we provide you the most creative designs for matching your wish list.</p>
                  <p class="more-text" style="color:#f1805f;">More..</p>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </li>
            <li>
              <figure class="item-collection">
              <!--  <img src="/static/demos/item-collection3.png" alt="Section Header">-->

                <figcaption>
                  <div class="row">
                    <div class="col-xs-3 col-md-2">
                  <i class="fa fa-random bg-red-icon" aria-hidden="true"></i>
                    </div>
                    <div class="col-xs-9 col-md-10">
                  <h6>Flexible</h6>
                  <p>Belonging to the startup generation , we are flexible and work according to the needs and demands of the clients, be it creating your</p>
                  <p class="full-text" style="display:none;"> dream house or providing  after working hours meeting , we believe in client satisfaction and are hence tensile according   to your needs .</p>
                  <p class="more-text" style="color:#f1805f;">More..</p>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </li>
          </ul>
        </div>
        <div class="col-lg-4 colg-md-4 col-sm-4 col-xs-12">
          <img class="collection-icon img-responsive" src="/static/demos/icon-f.png" alt="collection">
        </div>
        <div class="col-lg-4 colg-md-4 col-sm-4 col-xs-12">
          <ul class="tz-collection tz-collection2">
            <li>
              <figure class="item-collection">
              <!--  <img src="/static/demos/item-collection1.png" alt="Section Header">-->

                <figcaption>
                  <div class="row">
                    <div class="col-xs-9 col-md-10">
                  <h6>Innovative</h6>
                  <p> Being a part of the technologically advanced world , we believe in educating what we excel in and</p>
                  <p class="full-text" style="display:none;"> hence all our designs are innovative , made with critical thinks and hours of brain storming , not only do we provide the client with a wider vision but also ace design one step ahead in this world .</p>
                  <p class="more-text" style="color:#f1805f;">More..</p>
                    </div>
                    <div class="col-xs-3 col-md-2">

                      <i class="fa fa-exchange bg-green-icon" aria-hidden="true"></i>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </li>
            <li>
              <figure class="item-collection">
             <!--   <img src="/static/demos/item-collection5.png" alt="Dummy Content">-->

                <figcaption>
                  <div class="row">
                    <div class="col-xs-9 col-md-10">
                  <h6>Passionate</h6>
                  <p>Our team is passionate about what we do!  we co create each design , be it a modular kitchen or a modular</p>
                  <p class="full-text" style="display:none;"> bathroom , each spec and corner of your interior designed home will be crafted with love . Luxury is now affordable, our team of designers help in providing luxurious interior hardware’s and luxurious cabinets to suit your requirements.</p>
                  <p class="more-text" style="color:#f1805f;">More..</p>
                      </div>
                    <div class="col-xs-3 col-md-2">
                      <i class="fa fa-heart-o bg-yellow-icon" aria-hidden="true"></i>
                    </div>
                    </div>
                </figcaption>
              </figure>
            </li>
            <li>
              <figure class="item-collection">
               <!-- <img src="/static/demos/item-collection6.png" alt="Section Header">-->
                            <figcaption>
                              <div class="row">

                                <div class="col-xs-9 col-md-10">

                  <h6>Skilled</h6>
                  <p>We are proud to host one of the top teams of designers on Gurgaon , our team has been skilled and trained </p>
                  <p class="full-text" style="display:none;">so that they can provide you the best interior design services in the city, from bathrooms to modular kitchens to contemporary kitchens and even luxurious kitchen and its cabinets .</p>
                  <p class="more-text" style="color:#f1805f;">More..</p>
                                </div>
                                <div class="col-xs-3 col-md-2">
                                  <i class="fa fa-tasks bg-red-icon" aria-hidden="true"></i>
                                </div>
                              </div>
                </figcaption>
              </figure>
            </li>
          </ul>
        </div>
      </div>
    </div><!--end class container-->
  </div><!--end class tz-choose-content-->
</section><!--end class tz-why-choose-->

<section class="tz-our-blog theme-white padding-ourblog">
  <h3 class="tz-title-3">OUR SERVICES</h3>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="our-blog-item">
          <div class="blog-thumb">
            <img src="/static/demos/Services/kitchen.jpg" class="img-responsive" alt="Suspendisse cursus urna">
          </div>
          <h6>Kitchen</h6>
          <div class="our-blog-ds">
            <div class="our-blog-bk">
              <div class="entry-ourblog">
                <h6><a href="{% url 'kitchen' %}">Kitchen</a></h6>

                <p>
                  Rediscover kitchen and gourmet cooking experience with Bloom Interio. From modular to contemporary to a luxurious kitchen space to cook the best meals.
                </p>

             <p> Bloom Interio will help you change the dynamics of your scullery.</p>
             <h6><a class="btn hollow-btn1" href="{% url 'kitchen' %}">Explore More</a></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="our-blog-item">
          <div class="blog-thumb">
            <img src="/static/demos/Services/wardrobe.jpg" class="img-responsive" alt="molestie sed tristique">

          </div>
          <h6>Wardrobe</h6>
          <div class="our-blog-ds">
            <div class="our-blog-bk">
              <div class="entry-ourblog">
                <h6><a href="{% url 'wardrobe' %}">wardrobe</a></h6>
                <!--<span class="createby">
                  Posted by <a href="#">Dekok</a>
                </span>-->
                <p>
                  It’s time to step in your own Narnia closet, enumerate your styling experience by recreating your wardrobe into a stylish one; we offer you an extensive range of wardrobes for all the residue spaces in your home.
                </p>
                <p>
                  Bloom Interio specializes in free standing, built -in and walk -in wardrobes.
                </p>
                <br>  

              <h6><a class="btn hollow-btn1" href="{% url 'wardrobe' %}">Explore More</a></h6>
              
          </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="our-blog-item">
          <div class="blog-thumb">
            <img src="/static/demos/Services/interior.jpg" class="img-responsive" alt="Nunc quis tincidunt ipsum">
          </div>
          <h6>Interior</h6>
          <div class="our-blog-ds">
            <div class="our-blog-bk">
              <div class="entry-ourblog">
                <h6><a href="http://www.blog.bloominterio.com">Interior</a></h6>
               <!-- <span class="createby">
                  Posted by <a href="#">Dekok</a>
                </span>-->
                <p>
                  Bloom Interio proudly hosts a team of Architects, Interior Designers and Furniture Designers to create a perfect space. We offer you design services to redesign your adobe into your dream house.
                <br>
            
                  Our specialists will deal and design each nook and corner of your house to suit your style and needs.
                </p>
<h6><a class="btn hollow-btn1" href="http://www.blog.bloominterio.com">Explore More</a></h6>
             <!--   <a class="tz-readmore" href="singlePost-image.html">READ MORE <i class="fa fa-caret-right"></i></a>
             -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!--end class row-->
  </div><!--end class container-->
</section><!--end class tz-our-blog-->

<section class="tzportfolio-wrap">
  <div class="container">
    <h3 class="tz-title-portfolio">
     APPLIANCES & ACCESSORIES
    </h3>
    <div data-option-key="filter" class="tzfilter">
      <a class="selected" data-option-value="*" href="#show-all">All</a>
      <a data-option-value=".chair" href="#">KITCHEN</a>
      <a data-option-value=".lounge" href="#">WARDROBE</a>

      <!-- <a data-option-value=".accessories" href="#">ACCESSORIES</a>-->
    </div>
    <div class="tzportfolio-pages tz-no-mansory tz-grid-3">


      <div class="element chair">
        <div class="tz-inner">
          <div class="tz-image-item">
            <img alt="Aliquam a sollicitudin" class="img-responsive" src="/static/demos/Photoshop%20Images/Pantry-Unit.jpg">


          </div>
          <h6><a href="single-portfolio-full-width-slider.html">Pantry Unit</a></h6>

        </div>
      </div>

      <div class="element chair">
        <div class="tz-inner">
          <div class="tz-image-item">
            <img alt="Aliquam a sollicitudin" class="img-responsive" src="/static/demos/accessnappl/ac8.jpg">


          </div>
          <h6><a href="">Magic Corner</a></h6>

        </div>
      </div>

      <div class="element chair">
        <div class="tz-inner">
          <div class="tz-image-item">
            <img alt="Nullam viverra enim" class="img-responsive" src="/static/demos/accessnappl/ac11.jpg">


          </div>
          <h6><a href="single-portfolio-full-width-slider.html">wicker Basket</a></h6>

        </div>
      </div>

      <div class="element chair">
        <div class="tz-inner">
          <div class="tz-image-item">
            <img alt="Nullam viverra enim" class="img-responsive" src="/static/demos/accessnappl/ac9.jpg">


          </div>
          <h6><a href="single-portfolio-full-width-slider.html">Up Lift</a></h6>

        </div>
      </div>
      <div class="element chair">
        <div class="tz-inner">
          <div class="tz-image-item">
            <img alt="Aliquam a sollicitudin" class="img-responsive" src="/static/demos/Photoshop%20Images/builtinmicrowave.jpg">


          </div>
          <h6><a href="">Built-in Microwave</a></h6>

        </div>
      </div>

      <div class="element chair">
        <div class="tz-inner">
          <div class="tz-image-item">
            <img alt="Aliquam a sollicitudin" class="img-responsive" src="/static/demos/Photoshop%20Images/tandom-box.jpg">


          </div>
          <h6><a href="">Tandom Box</a></h6>

        </div>
      </div>
      <div class="element lounge">
        <div class="tz-inner">
          <div class="tz-image-item">
            <img alt="Phasellus blandit enim" class="img-responsive" src="/static/demos/Photoshop%20Images/belt%20holder.jpg">


          </div>
          <h6><a href="single-portfolio-full-width-slider.html">Belt Holder</a></h6>

        </div>
      </div>

      <div class="element lounge">
        <div class="tz-inner">
          <div class="tz-image-item">
            <img alt="Curabitur in fermentum" class="img-responsive" src="/static/demos/Photoshop%20Images/mirror.jpg">


          </div>
          <h6><a href="">Mirror</a></h6>

        </div>
      </div>


      <div class="element lounge">
        <div class="tz-inner">
          <div class="tz-image-item">
            <img alt="Curabitur in fermentum" class="img-responsive" src="/static/demos/Photoshop%20Images/organizer2.jpg">


          </div>
          <h6><a href="single-portfolio-full-width-slider.html">Organizer</a></h6>

        </div>
      </div>



      <div class="element lounge">
        <div class="tz-inner">
          <div class="tz-image-item">
            <img alt="Curabitur in fermentum" class="img-responsive" src="/static/demos/Photoshop%20Images/wardrobelift.jpg">


          </div>
          <h6><a href="single-portfolio-full-width-slider.html">Wardrobe Lift</a></h6>

        </div>
      </div>



      <div class="element lounge">
        <div class="tz-inner">
          <div class="tz-image-item">
            <img alt="Curabitur in fermentum" class="img-responsive" src="/static/demos/Photoshop%20Images/trouserholder.jpg">


          </div>
          <h6><a href="single-portfolio-full-width-slider.html">Trouser Holder</a></h6>

        </div>
      </div>




      <div class="element lounge">
        <div class="tz-inner">
          <div class="tz-image-item">
            <img alt="Curabitur in fermentum" class="img-responsive" src="/static/demos/Photoshop%20Images/shoerack3.jpg">


          </div>
          <h6><a href="">Shoerock</a></h6>

        </div>
      </div>

    </div>
  </div><!--end class container-->
</section><!--end class tzportfolio-wrap-->



<!--modal content-->

<!-- Modal1 -->
<div id="mycalci" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width: 75%;">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->

<div class="pull-right">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true" style="font-size: 20px;"></i></button>
</div>
        <!--<h4 class="modal-title">Modal Header</h4>-->
      </div>
      <div class="modal-body">

        <!--
        form-->


        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="tabs-style">
              <ul class="nav nav-tabs" role="tablist" id="detailTab">
                <li class="active"><a href="#calci" role="tab" data-toggle="tab">Kitchen Cost Calculator</a></li>
                <li><a href="#quotes" role="tab" data-toggle="tab">Get Custom Quotes</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="calci">

                  <div class="tz-our-blog padding-ourblog" style="background:radial-gradient(#d8c87a , #c4a146), #fff !important;">


                      <div class="row">
                        <div class="col-md-4 text-center right-border" style="padding-left: 40px;">
                          <!--   <a href="#" class="tz-button-dekor"><span>STEP-1 </span></a>-->
                          <p class="f-w" style="float:left;font-size: 19px;"><b>Choose Your Kitchen</b></p>
                          <!-- <form> -->
                          <div class="form-group" style="width:220px;">
                            <!-- <input type="text" value="" name="name" class="form-control input-lg form-input-custom" id="name" placeholder="Name" required> -->
                            <select name="kitchen_type" id="k_type" name="k_type" onchange="loadkitchenDescription(this)" id="select_kitchen" class="form-control input-lg form-input-custom calci-select">
                              <option class="calci-option">Choose an Option...</option>
                              {% for obj in k_types %}
                                {% if obj.name != 'Island Kitchen' %}
                                  <option value="{{obj.id}}" class="calci-option">{{obj.name}}</option>
                                {% endif %}
                              {% endfor %}
                            </select>
                          </div>
                          <!-- </form> -->
                        </div>
                        <div id="k_type_detail">

                        </div>
                      </div>

                  </div>

                </div>
                
                <div class="tab-pane" id="quotes">
                  <div class="row">
                    <div class="col-xs-pull-12">
                      <div class="cta-form cta-light custom-quote-form">
                        <form id="modalForm" class="send_data_form" method="post" action="/modal-request/">
                          <!-- <form id="cta-signup-form" class="cta-signup-form"> -->
                          <h2  class="text-center">Get Your Dream Kitchen</h2>
                          <hr class="hr-color hr-style">
                          <div id="mc-error-cta"><i class="fa fa-exclamation-triangle"></i> Please enter a value</div>
                          <div id="mc-success-cta"><i class="fa fa-envelope"></i> Awesome! We have sent you a confirmation email</div>
                          {% csrf_token %}
                          <div class="form-group">
                            <input type="text" required value="" name="name" class="form-control input-lg form-input-custom" id="name" placeholder="Name" required="">
                          </div>
                          <div class="form-group">
                            <input type="text" required value="" name="contact_no" class="form-control input-lg form-input-custom" id="contact_no" placeholder="Contact No." required="">
                          </div>
                          <div class="form-group">
                            <input type="email" required value="" name="email" class="form-control input-lg form-input-custom" id="email" placeholder="Email" required="">
                          </div>
                          <div class="form-group">
                            <input type="text" required value="" name="address" class="form-control input-lg form-input-custom" id="address" placeholder="Address" required="">
                          </div>
                          
                          <div class="row">
                            <div class="col-md-12 col-xs-6 text-center">
                              <div class="form-btn text-center">
                                <button type="submit" class="btn hollow-btn1">Book Free Consultation Now</button>
                                <br>
                              </div>
                            </div>
                            </div>
                        </form>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>



        </div><!--end class container-->





        <!--       form end-->

      </div>

    </div>

  </div>
</div>





      <script>

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function loadkitchenDescription(obj){
  $.ajax({
    type: "POST",
    url: "/kitchen/reload-kitchen-type/",
    headers: { "X-CSRFToken": getCookie('csrftoken') },
    data: { ktype_id:obj.value },
    success: function( returnedData) {
      document.getElementById('k_type_detail').innerHTML = returnedData
    }
  });
}


function loadkitchenDescriptionMob(obj){
  $.ajax({
    type: "POST",
    url: "/kitchen/reload-kitchen-type/",
    headers: { "X-CSRFToken": getCookie('csrftoken') },
    data: { ktype_id:obj.value },
    success: function( returnedData) {
      document.getElementById('mob_k_type_detail').innerHTML = returnedData
    }
  });
}


function calculatePrice(price,no_of_wall){
  var val = 0;
  for(i=1;i<=no_of_wall;i++){
    val+=Number(document.getElementById('height'+i).value);
  }
  var r = val*price
  document.getElementById('k_result').innerHTML = r;
}
function removeResult(){
  document.getElementById('k_result').innerHTML = '';
}
</script>


<section class="tz-love-words2 theme-white style-border tzportfolio-wrap">
  <div class="container">
    <h3 class="tz-title-3">TESTIMONIALS</h3>
    <ul class="tz-love-words-slider">
      <li>
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">

          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div class="tzcontent-for-words">
              <p>
                “Great work!! We were very impressed with Bloom Interio team. They stuck to a difficult deadline and did excellent work for our new home. Highly Recommended!”
              </p>
            </div>

            <br>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center ">
                <img class="tzavata-for-words img-responsive" src="/static/demos/say1.jpg" alt="Jordan Henrion">
                <div class="tzauthor-for-words">

                  <span> J. Ahamad</span>

                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              </div>
            </div>

          </div>

          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">

          </div>

        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">

          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div class="tzcontent-for-words">
              <p>
                “Bloom Interio is an exceptionally smart, hard working and professional Interior Design firm. Mr. Dhull went the extra mile to deliver excellent design for our new kitchen! Bloom Interio team is very professional and committed to quality!”
              </p>
            </div>
            <!--  <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <img class="tzavata-for-words" src="/static/demos/say1.jpg" alt="Jordan Henrion">
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
      </div>
      </div>-->
            <br>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center ">
                <img class="tzavata-for-words img-responsive" src="/static/demos/say2.jpg" alt="Jordan Henrion">
                <div class="tzauthor-for-words">

                  <span>P.Shukla</span>

                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              </div>
            </div>

          </div>

          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">

          </div>

        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">

          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div class="tzcontent-for-words">
              <p>
                “Priyanka and her team are true professionals with great follow up and attention to detail. They have a great design aesthetic and sense of style and we are very happy with the end result!  I would highly recommend Bloom Interio to anyone looking for interior design!”
              </p>
            </div>
            <!--  <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <img class="tzavata-for-words" src="/static/demos/say1.jpg" alt="Jordan Henrion">
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
      </div>
      </div>-->
            <br>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center ">
                <img class="tzavata-for-words img-responsive" src="/static/demos/say3.jpg" alt="Jordan Henrion">
                <div class="tzauthor-for-words">

                  <span>G. Srivastava</span>

                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              </div>
            </div>

          </div>

          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">

          </div>

        </div>
      </li>

    </ul>
  </div><!--end class container-->
</section><!--end class tz-love-words2-->




<!--logo carousel-->
<section>
  <br/>

  <h3 class="tz-title-3">BRANDS WE USE</h3>
  <div style="padding:20px 20px 75px 20px;">


    <div class="row">

      <div class="col-md-10 col-md-offset-1">
        <div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="500" id="myCarousel">
          <div class="carousel-inner">
            <div class="item active">
              <div class="col-md-2 col-sm-6 col-xs-12"> <div class="card-logo">
                <a href="#"><img src="/static/images/logos/centuryply.png" class="img-responsive"></a>
              </div>
              </div>
            </div>
            <div class="item">
              <div class="col-md-2 col-sm-6 col-xs-12"><div class="card-logo">
                <a href="#"><img src="/static/images/logos/alstone.png" class="img-responsive"></a></div>
              </div>
            </div>
            <div class="item">
              <div class="col-md-2 col-sm-6 col-xs-12"> <div class="card-logo">
                <a href="#"><img src="/static/images/logos/Faber.png" class="img-responsive"></a></div>
              </div>
            </div>
            <div class="item">
              <div class="col-md-2 col-sm-6 col-xs-12"><div class="card-logo">
                <a href="#"><img src="/static/images/logos/greenply.png" class="img-responsive"></a></div>
              </div>
            </div>
            <div class="item">
              <div class="col-md-2 col-sm-6 col-xs-12"><div class="card-logo">
                <a href="#"><img src="/static/images/logos/hafele.png" class="img-responsive"></a></div>
              </div>
            </div>
            <div class="item">
              <div class="col-md-2 col-sm-6 col-xs-12"><div class="card-logo">
                <a href="#"><img src="/static/images/logos/IFB.png" class="img-responsive"></a></div>
              </div>
            </div>
            <div class="item">
              <div class="col-md-2 col-sm-6 col-xs-12"> <div class="card-logo">
                <a href="#"><img src="/static/images/logos/blum.png" class="img-responsive"></a></div>
              </div>
            </div>
            <div class="item">
              <div class="col-md-2 col-sm-6 col-xs-12"> <div class="card-logo">
                <a href="#"><img src="/static/images/logos/marino.png" class="img-responsive"></a></div>
              </div>
            </div>
            <div class="item">
              <div class="col-md-2 col-sm-6 col-xs-12"> <div class="card-logo">
                <a href="#"><img src="/static/images/logos/Siemens.png" class="img-responsive"></a></div>
              </div>
            </div>
            <div class="item">
              <div class="col-md-2 col-sm-6 col-xs-12"> <div class="card-logo">
                <a href="#"><img src="/static/images/logos/Whirlpool.png"></a></div>
              </div>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>

</section>







<!--logo carousel end-->








<!--

floating button
-->

<div class="float-btn hidden-xs">

    <button class="myfloat" data-toggle="modal" data-target="#mycalci">
    Kitchen Cost Calculator
    </button>

</div>




{% endblock %}

{% block custom_script %}
<script type='text/javascript'>
  $('#contact_request_form').submit(function() {
    // to disable the submit button to prevent multiple submission
    $(this).find(':input[type=submit]').prop('disabled', true);

  });


</script>

<script type='text/javascript'>
  $(document).ready(function(){
    $('#modalForm').submit(function(event) {
      $(this).find(':input[type=submit]').prop('disabled', true);
        //$.ajax({
          //type: "POST",
          //url: "",
          //headers: { "X-CSRFToken": getCookie('csrftoken') },
          //data: { ktype_id:obj.value },
          //success: function( returnedData) {
            //document.getElementById('k_type_detail').innerHTML = returnedData
          //}
        //});
        //event.preventDefault();
    });



    $('.carousel[data-type="multi"] .item').each(function(){
      var next = $(this).next();
      if (!next.length) {
        next = $(this).siblings(':first');
      }
      next.children(':first-child').clone().appendTo($(this));

      for (var i=0;i<4;i++) {
        next=next.next();
        if (!next.length) {
          next = $(this).siblings(':first');
        }

        next.children(':first-child').clone().appendTo($(this));
      }
    });
  });

  $(".more-text").click(function(){
      if($(this).text()=='More..'){
        $(this).text("Less..");
      } else {
        $(this).text("More..");
      }
      $(this).siblings('.full-text').toggle();
  });
</script>


<script>
  var Desktop           =   3,
          tabletportrait    =   3,
          mobilelandscape   =   2,
          mobileportrait    =   1,
          resizeTimer       =   null;
</script>



{% endblock %}
