{% extends 'base.html' %}

{% block custom_css %}
<style>


    ul.nav-collapse li:nth-child(2) > a { border-bottom : 2px solid #333; }

    ul.level1 li:nth-child(2) a { border-bottom : 0px; }
    
    .tzcategory-shop-wrap{
        padding-bottom: 0px;
    }

</style>
{% endblock %}

{% block content %}
<div class="tzcategory-shop-wrap">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3 class="tz-title-bold-3">Modular Kitchen Accessories</h3>
            </div>
        </div>


<!--Proper-->
 <section class="tzportfolio-wrap theme-white">
                                <div class="container">
                                    

                                    <div class="row">

                                        <div class="col-md-3">
                                            <div style="left: 0px; top: 0px;  width: 240px;">
                                                <div class="tz-inner">
                                                    <div class="tz-image-item">

                                                        <img alt="Phasellus blandit enim" class="img-responsive" src="/static/demos/accessnappl/ac1.jpg" style="width: 240px; height: 200px; top: 0px; left: 0px;">



                                                    </div>

                                                    <br>
                                                    <span style="font-size: 16px;">BOTTLE PULL-OUT</span>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-3">
                                            <div style="left: 0px; top: 0px;  width: 240px;">
                                                <div class="tz-inner">
                                                    <div class="tz-image-item">

                                                        <img alt="Phasellus blandit enim" class="img-responsive" src="/static/demos/accessnappl/ac2.jpg" style="width: 240px; height: 200px; top: 0px; left: 0px;">



                                                    </div>

                                                    <br>
                                                    <span style="font-size: 16px;">QUARDO</span>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-3">
                                            <div style="left: 0px; top: 0px;  width: 240px;">
                                                <div class="tz-inner">
                                                    <div class="tz-image-item">

                                                        <img alt="Phasellus blandit enim" class="img-responsive" src="/static/demos/accessnappl/ac3.jpg" style="width: 240px; height: 200px; top: 0px; left: 0px;">



                                                    </div>

                                                    <br>
                                                    <span style="font-size: 16px;">DETERGENT HOLDER</span>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-3">
                                            <div style="left: 0px; top: 0px;  width: 240px;">
                                                <div class="tz-inner">
                                                    <div class="tz-image-item">

                                                        <img alt="Phasellus blandit enim" class="img-responsive"  src="/static/demos/accessnappl/ac4.jpg" style="width: 240px; height: 200px; top: 0px; left: 0px;">



                                                    </div>

                                                    <br>
                                                    <span style="font-size: 16px;">WASTE BIN<span>

                                                </div>
                                            </div>

                                        </div>


                                    </div>

                                    <div class="row">

                                        <div class="col-md-3">
                                            <div style="left: 0px; top: 0px;  width: 240px;">
                                                <div class="tz-inner">
                                                    <div class="tz-image-item">

                                                        <img alt="Phasellus blandit enim" class="img-responsive" src="/static/demos/accessnappl/ac5.jpg" style="width: 240px; height: 200px; top: 0px; left: 0px;">



                                                    </div>

                                                    <br>
                                                    <span style="font-size: 16px;">DISH RACK</span>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-3">
                                            <div style="left: 0px; top: 0px;  width: 240px;">
                                                <div class="tz-inner">
                                                    <div class="tz-image-item">

                                                        <img alt="Phasellus blandit enim" class="img-responsive" src="/static/demos/accessnappl/ac6.jpg" style="width: 240px; height: 200px; top: 0px; left: 0px;">



                                                    </div>

                                                    <br>
                                                    <span style="font-size: 16px;">INNOTECH</span>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-3">
                                            <div style="left: 0px; top: 0px;  width: 240px;">
                                                <div class="tz-inner">
                                                    <div class="tz-image-item">

                                                        <img alt="Phasellus blandit enim" class="img-responsive" src="/static/demos/accessnappl/ac7.jpg" style="width: 240px; height: 200px; top: 0px; left: 0px;">



                                                    </div>

                                                    <br>
                                                    <span style="font-size: 16px;">LE MAN CORNER</span>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-3">
                                            <div style="left: 0px; top: 0px;  width: 240px;">
                                                <div class="tz-inner">
                                                    <div class="tz-image-item">

                                                        <img alt="Phasellus blandit enim" class="img-responsive" src="/static/demos/accessnappl/ac8.jpg" style="width: 240px; height: 200px; top: 0px; left: 0px;">


                                                    </div>

                                                    <br>
                                                    <span style="font-size: 16px;">MAGIC CORNER</span>

                                                </div>
                                            </div>

                                        </div>


                                    </div>

                                    <div class="row">

                                        <div class="col-md-3">
                                            <div style="left: 0px; top: 0px;  width: 240px;">
                                                <div class="tz-inner">
                                                    <div class="tz-image-item">

                                                        <img alt="Phasellus blandit enim" class="img-responsive" src="/static/demos/accessnappl/ac9.jpg" style="width: 240px; height: 200px; top: 0px; left: 0px;">



                                                    </div>

                                                    <br>
                                                    <span style="font-size: 16px;">UP LIFT</span>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-3">
                                            <div style="left: 0px; top: 0px;  width: 240px;">
                                                <div class="tz-inner">
                                                    <div class="tz-image-item">

                                                        <img alt="Phasellus blandit enim" class="img-responsive" src="/static/demos/accessnappl/ac10.jpg" style="width: 240px; height: 200px; top: 0px; left: 0px;">



                                                    </div>

                                                    <br>
                                                    <span style="font-size: 16px;">MIDWAY-RAIL-SYSTEM</span>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-3">
                                            <div style="left: 0px; top: 0px;  width: 240px;">
                                                <div class="tz-inner">
                                                    <div class="tz-image-item">

                                                        <img alt="Phasellus blandit enim" class="img-responsive" src="/static/demos/home_kitchen_images/Wicker-Basket.jpg" style="width: 240px; height: 200px; top: 0px; left: 0px;">



                                                    </div>

                                                    <br>
                                                    <span style="font-size: 16px;">WICKER BASKET</span>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-3">
                                            <div style="left: 0px; top: 0px;  width: 240px;">
                                                <div class="tz-inner">
                                                    <div class="tz-image-item">

                                                        <img alt="Phasellus blandit enim" class="img-responsive" src="/static/demos/home_kitchen_images/Cutlery-Tray.jpg" style="width: 240px; height: 200px; top: 0px; left: 0px;">



                                                    </div>

                                                    <br>
                                                    <span style="font-size: 16px;">CULTERY TRAY</span>

                                                </div>
                                            </div>

                                        </div>


                                    </div>


                                    <div class="row">

                                        <div class="col-md-3">
                                            <div style="left: 0px; top: 0px;  width: 240px;">
                                                <div class="tz-inner">
                                                    <div class="tz-image-item">

                                                        <img alt="Phasellus blandit enim" class="img-responsive" src="/static/demos/accessnappl/ac13.jpg" style="width: 240px; height: 200px; top: 0px; left: 0px;">



                                                    </div>

                                                    <br>
                                                    <span style="font-size: 16px;">INTIVIO CHANNEL</span>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-3">
                                            <div style="left: 0px; top: 0px;  width: 240px;">
                                                <div class="tz-inner">
                                                    <div class="tz-image-item">

                                                        <img alt="Phasellus blandit enim" class="img-responsive" src="/static/demos/accessnappl/ac17.jpg" style="width: 240px; height: 200px; top: 0px; left: 0px;">



                                                    </div>

                                                    <br>
                                                    <span style="font-size: 16px;">WORKTOP WASTE BIN</span>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-3">
                                            <div style="left: 0px; top: 0px;  width: 240px;">
                                                <div class="tz-inner">
                                                    <div class="tz-image-item">

                                                        <img alt="Phasellus blandit enim" class="img-responsive" src="/static/demos/accessnappl/ac15.jpg" style="width: 240px; height: 200px; top: 0px; left: 0px;">



                                                    </div>

                                                    <br>
                                                    <span style="font-size: 16px;">UPLIFTING FLAP SYSTEM</span>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-3">
                                            <div style="left: 0px; top: 0px;  width: 240px;">
                                                <div class="tz-inner">
                                                    <div class="tz-image-item">

                                                        <img alt="Phasellus blandit enim" class="img-responsive" src="/static/demos/accessnappl/ac16.jpg" style="width: 240px; height: 200px; top: 0px; left: 0px;">



                                                    </div>

                                                    <br>
                                                    <span style="font-size: 16px;">WORK TOP EXTENTION</span>

                                                </div>
                                            </div>

                                        </div>


                                    </div>





                                </div>
                            </section>
         <!--  accessories end
                            -->
                            
                            
                             <!--appliances-->

                            <section class="tzportfolio-wrap">
                                <div class="container">
                                    <h3 class="tz-title-portfolio">
                                        Appliances
                                    </h3>
                                    <div class="row">

                                        <div class="col-md-3">
                                            <div style="left: 0px; top: 0px;  width: 250px;">
                                                <div class="tz-inner">
                                                    <div class="tz-image-item">

                                                        <img alt="Phasellus blandit enim" class="img-responsive" src="/static/demos/accessnappl/ap1.jpg" style="width: 250px; height: 200px; top: 0px; left: 0px;">


                                                    </div>
                                                    <span>CHIMNEY</span>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-3">
                                            <div style="left: 0px; top: 0px;  width: 250px;">
                                                <div class="tz-inner">
                                                    <div class="tz-image-item">

                                                        <img alt="Phasellus blandit enim" class="img-responsive" src="/static/demos/accessnappl/a2.jpg" style="width: 250px; height: 200px; top: 0px; left: 0px;">



                                                    </div>
                                                    <span>WINE-CHILLER</span>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-3">
                                            <div style="left: 0px; top: 0px;  width: 250px;">
                                                <div class="tz-inner">
                                                    <div class="tz-image-item">

                                                        <img alt="Phasellus blandit enim" class="img-responsive" src="/static/demos/accessnappl/ap3.jpg" style="width: 250px; height: 200px; top: 0px; left: 0px;">



                                                    </div>
                                                    <span>COOKING RANGE</span>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-3">
                                            <div style="left: 0px; top: 0px;  width: 250px;">
                                                <div class="tz-inner">
                                                    <div class="tz-image-item">

                                                        <img alt="Phasellus blandit enim" class="img-responsive" src="/static/demos/accessnappl/ap4.jpg" style="width: 250px; height: 200px; top: 0px; left: 0px;">



                                                    </div>
                                                    <span>COREAN KITCHEN SINK</span>

                                                </div>
                                            </div>

                                        </div>


                                    </div>

                                    <div class="row">

                                        <div class="col-md-3">
                                            <div style="left: 0px; top: 0px;  width: 250px;">
                                                <div class="tz-inner">
                                                    <div class="tz-image-item">

                                                        <img alt="Phasellus blandit enim" class="img-responsive" src="/static/demos/accessnappl/ap5.jpg" style="width: 250px; height: 200px; top: 0px; left: 0px;">



                                                    </div>
                                                    <span>STAINLESS STEEL SINK</span>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-3">
                                            <div style="left: 0px; top: 0px;  width: 250px;">
                                                <div class="tz-inner">
                                                    <div class="tz-image-item">

                                                        <img alt="Phasellus blandit enim" class="img-responsive" src="/static/demos/accessnappl/ap6.jpg" style="width: 250px; height: 200px; top: 0px; left: 0px;">



                                                    </div>
                                                    <span>OVEN</span>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-3">
                                            <div style="left: 0px; top: 0px;  width: 250px;">
                                                <div class="tz-inner">
                                                    <div class="tz-image-item">

                                                        <img alt="Phasellus blandit enim" class="img-responsive" src="/static/demos/accessnappl/ap7.jpg" style="width: 250px; height: 200px; top: 0px; left: 0px;">



                                                    </div>
                                                    <span>DISH WASHER</span>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-3">
                                            <div style="left: 0px; top: 0px;  width: 250px;">
                                                <div class="tz-inner">
                                                    <div class="tz-image-item">

                                                        <img alt="Phasellus blandit enim" class="img-responsive" src="/static/demos/accessnappl/ap8.jpg" style="width: 250px; height: 200px; top: 0px; left: 0px;">



                                                    </div>
                                                    <span>GRANITE SINK UNIT</span>

                                                </div>
                                            </div>

                                        </div>


                                    </div>


                                    <div class="row">

                                        <div class="col-md-3">
                                            <div style="left: 0px; top: 0px;  width: 250px;">
                                                <div class="tz-inner">
                                                    <div class="tz-image-item">

                                                        <img alt="Phasellus blandit enim" class="img-responsive" src="/static/demos/accessnappl/ap9.jpg" style="width: 250px; height: 200px; top: 0px; left: 0px;">


                                                    </div>
                                                    <span>FAUCET</span>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-3">
                                            <div style="left: 0px; top: 0px;  width: 250px;">
                                                <div class="tz-inner">
                                                    <div class="tz-image-item">

                                                        <img alt="Phasellus blandit enim" class="img-responsive" src="/static/demos/accessnappl/ap10.jpg" style="width: 250px; height: 200px; top: 0px; left: 0px;">



                                                    </div>
                                                    <span>CRUSHER</span>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-3">
                                            <div style="left: 0px; top: 0px;  width: 250px;">
                                                <div class="tz-inner">
                                                    <div class="tz-image-item">


                                                        <img alt="Phasellus blandit enim" class="img-responsive" src="/static/demos/accessnappl/ap11.jpg" style="width: 250px; height: 200px; top: 0px; left: 0px;">



                                                    </div>
                                                    <span>HOB</span>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-3">
                                            <div style="left: 0px; top: 0px;  width: 250px;">
                                                <div class="tz-inner">
                                                    <div class="tz-image-item">
                                               <img alt="Phasellus blandit enim" class="img-responsive" src="/static/demos/accessnappl/ap12.jpg" style="width: 250px; height: 200px; top: 0px; left: 0px;">



                                                    </div>
                                                    <span>CUP COFFE MAKER</span>

                                                </div>
                                            </div>

                                        </div>


                                    </div>






                                </div>
                            </section>
                            <!--  accessories end
                              -->






                            <section id="maintence">
                            <div class="container">
                                <section class="theme-white">
                                    <div class="container">
                                       <!--end class row-->

                                        <div class="tz-introduce1 ">
                                            <div class="container">
                                                <h3 class="module-title text-center"> Maintenance Tips for Kitchen</h3>
                                                <br>
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <h4>Taking care of Bloom Modular Kitchen is very easy.We suggest you to follow the below given tips to keep it clean and forever new –: </h4>
                                                        <div class="tz-introduce-content">


                                                            <ul class="li-color" style="padding-left:20px;">
                                                                <li>
                                                                    Regularly clean the chimney filters, cook stove burners to keep them in proper condition.</li>
                                                                <li> Keep all the working zones in the kitchen organised and countertop clutter free to increase the work efficiency in the kitchen.</li>
                                                                <li>Try to clean the countertop,hob or sink area as soon as there is any spillage on them. </li>
                                                                <li>Please avoid using any harsh cleaning agents on shutters,appliances,accessories or countertops as the acidic nature of these might lead to color fading or scratches on the surface.</li>
                                                                <li>
                                                                    Storage of items in the drawers should be done as per the weight bearing capacity of the channel.
                                                                </li>

                                                                <li>Washcloth dipped in mineral oil and water solution should be used to gently clean the electrical appliances.</li>
                                                                <li>Sink area should be kept free of dirty dishes to maintain the hygienic condition of the kitchen.Try to clean the dishes as soon as there is any and let them dip dry.Wash the dirty dishes with plain water to get rid of leftovers in the dishes before loading the dishwasher.</li>

                                                                <li>Special care should be taken about Garbage bin.All the trash should be put into at the earliest finishing the work.Garbage bin should be emptied on daily basis.</li>

                                                                <li>Clean and mop the floors of the kitchen daily with a disinfected floor cleaner and kitchen rugs should be nicely vacuum cleaned every fortnight. </li>

                                                                <li>Clean at least and organise cabinets,racks and drawers every week to get rid of dirt/germs accumulation. </li>
                                                            </ul>



                                                        </div>
                                                    </div>
                                                </div><!--end class row-->
                                            </div>
                                        </div>

                                    </div><!--end class container-->
                                </section><!--end class tz-introduce-->
                            </div><!--end class container-->
                            </section>
<!--        Proper End-->

       
   
</div><!--end class tzblog-wrap-->
{% endblock %}

{% block custom_script %}
<script type='text/javascript'>
    $(document).ready(function(){
        // Add smooth scrolling to all links


        $("a").on('click', function(event) {

            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
                // Prevent default anchor click behavior
                event.preventDefault();

                // Store hash
                var hash = this.hash;

                // Using jQuery's animate() method to add smooth page scroll
                // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                $('html, body').animate({
                    scrollTop: $(hash).offset().top - 60
                }, 800, function(){

                    // Add hash (#) to URL when done scrolling (default click behavior)
//        window.location.hash = hash;
                });
            } // End if
        });

    });

</script>
{% endblock %}
