{% extends 'base.html' %}

{% block custom_css %}
{% endblock %}

{% block content %}
<section class="tzpage-weblink">
    <h3 class="tz-title-bold-3">Privacy Policy</h3>
    <div class="container">
        <div class="joom-weblink">
            <h4 class="joom-title">Privacy Policy</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At eveniet id illo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aspernatur consequatur corporis dolorem enim excepturi hic iure magni nam, nemo nostrum officia pariatur perferendis quam quia quibusdam sapiente sint voluptates.</p>
            <ul>
                <li>
                    <h6><a href="#">Lorem ipsum dolor sit amet </a></h6>
                    <p>Lorem ipsum</p>
                </li>
                <li>
                    <h6><a href="#">Lorem ipsum dolor sit amet</a></h6>
                    <p>Lorem ipsum</p>
                </li>
            </ul>
            <!-- <h5>SUB CATEGORIES</h5>-->
        </div><!--end class joom-weblink-->
    </div><!--end class container-->
</section><!--end class page default-->
{% endblock %}

{% block custom_js %}
{% endblock %}
