{% extends 'base.html' %}

{% block custom_css %}
{% endblock %}

{% block content %}
<section class="tzpage-weblink">
    <h3 class="tz-title-bold-3">Privacy Policy</h3>
    <div class="container">
        <div class="joom-weblink">
            <h4 class="joom-title">Privacy Policy</h4>
            <p>Bloom Interio takes consumer’s privacy with utmost seriousness. We follow highest standard of sincerity in this regards. We value the confidence, client place in the company and its works ethics. Please do read the following to know more about Bloom Interiors privacy policy-:</p>
            <p><b>What information we collect?</b></p>
           <div style="margin:2px 0;padding-left: 15px;">
            <ol typeof="1">
                <li>Your name, contact number, email address, shipping address and Bloominterio.com  User Id and password.</li>
<li>Your banking and transaction details like credit/debit card number , expiration date , CVV or any other information required for online transaction is not saved by Bloominterio.com but it rather held by our Payment Gateway partners. Our Payment gateway partner is _______ and _________ which ensure highest standards of safety and protection of your information.</li>
           <li>User’s order history , wish list, product details, product price , transaction information , payment history , the date of purchase etc.</li>

                <li>A few optional online survey Bloominterio.com may include demographic information , product and service prefernce of customer.</li>
                <li>We use cookies to use customised experience to consumer according to wishlist , recently viewed items etc.</li>
<li>Bloominterio.com use login sessions, traffic flows, site navigatio n to understand and analyze the customer interest and behavioural pattern regarding the services provided by us.</li>
<li>Your IP address and browser information , traffic source , browser language , operating device, date time and duration etc.</li>
<li>Third party login are shared on our website such as Facebook, twitter, Pinterest sign in information.</li>
                <li>Email communication by any user or customer directly with bloominterio.com like product enquiry , order , transaction related information , disputes and complaints etc.</li>

            </ol>
           </div>

            <p>Note: user generated content on the site is shared by user via reviews, blogs, online chat or instant message , discussion boards, forums, user testimonials etc  are not considered as personal information and it is not subject to terms and condition of this privacy policy.</p>
            <p><b>How does Bloominterio.com utilize this information?</b><br>

              We only collect user / client information needed to conduct our business activities to and to enable us to provide best service and product to them. We do not share , sell or rent this information to third parties.</p>


            <p><b>User/ consumer information as explained above may be used in the following ways-:</b></p>
            <ol typeof="1" style="padding-left: 15px;">
                <li> This information will be shared or used by our associates , teams and partners involved in delivering the services to you as a consumer in your buying process. We will also need to share some or all of your information as governed in the case of acquisition by or mergers with other business entities.</li>
                <li>We use some of the user/ client information explained above to understand customer behaviour in order to provide you with better shopping experience. We use specific information in an aggregated form across user to compile statistical and demographical profiles for our business and marketing activities.</li>
                <li>We use this information to inform you about offers, new launches , product information, order and shipping status , as well as other promotional and informational content.</li>

                <li>Cookies are used to provide a customised experience about the product of your interest (website user), wishlist and cart features.</li>
                <li>Our website use information like login session, traffic flow , IP address , navigation across the site , browser to measure overall site working in team of number of user, visitors, time spent etc.</li>
                <li>We may need to use user or customer information in case required in aspects such as legal disputes or other legal process, comply with any statutory or regulatory requirement ; troubleshoot problem ; detect and protect against error ; fraud and other criminal or illegal activities ; collect fees owed ; enforce our terms and conditions ; prevent abuse of our service ; prevent violation of the rights of third parties; others users or general public.</li>
            </ol>

            <div style="margin:1px; padding-left: 30px;">
            <ol type="a">
            <li>Bloominterio.com provides all users with the opportunity to opt-out recieving non-essentials communication from us on behalf of our partners, and from use in general , after setting up account . To remove your contact information from bloominterio.com, please write us at unsubscribe@bloominterio.com .</li>
             <li>Question regarding this information should directed to the following address :
                   policies@bloominterio.com.</li>
            <li>Our privacy policies are subject to change time to time without notice. To make sure that you are aware of the changes , please review this policy periodically.</li>
            </ol>
                </div>

            <!-- <h5>SUB CATEGORIES</h5>-->
        </div><!--end class joom-weblink-->
    </div><!--end class container-->
</section><!--end class page default-->
{% endblock %}

{% block custom_js %}
{% endblock %}
