{% extends 'base.html' %}

{% block custom_css %}
{% endblock %}

{% block content %}
<section class=" tzcategory-shop-wrap">

  <div class="page-content container">
    <h3 class="module-title title-widget">Customization</h3>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="tzaccordion">
          <h6><i class="fa fa-chevron-right"></i>Materials</h6>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo nec turpis nec cursus.
            Sed vestibulum ligula arcu, sit amet pellentesque lorem bibendum vitae.
            Integer eget lectus nibh. Aliquam vulputate fermentum neque eu facilisis.
          </p>
          <h6><i class="fa fa-chevron-right"></i>Finishes</h6>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo nec turpis nec cursus.
            Sed vestibulum ligula arcu, sit amet pellentesque lorem bibendum vitae.
            Integer eget lectus nibh. Aliquam vulputate fermentum neque eu facilisis.
          </p>
          <h6><i class="fa fa-chevron-right"></i> Handles vs. Handle-less</h6>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo nec turpis nec cursus.
            Sed vestibulum ligula arcu, sit amet pellentesque lorem bibendum vitae.
            Integer eget lectus nibh. Aliquam vulputate fermentum neque eu facilisis.
          </p>

          <h6><i class="fa fa-chevron-right"></i>Accessories</h6>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo nec turpis nec cursus.
            Sed vestibulum ligula arcu, sit amet pellentesque lorem bibendum vitae.
            Integer eget lectus nibh. Aliquam vulputate fermentum neque eu facilisis.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">


        <div>
          <p>
            Mor nec. Donec non posuere sem. Ut quis egestas libero, mattis gravida nibh. Phasellus a nisi ac mi luctus tincidunt et non est.
            et velit iaculis, nec convallis ipsum ornare. Integer a orci enim.
          </p>
          <div class="row">
            <div class="col-xs-6">
              <img src="/static/demos/Photoshop%20Images/kitchen5.png" height="120" class="blog-img-style">
            </div>

            <div class="col-xs-6">
              <img src="/static/demos/Photoshop%20Images/kitchen4.png"  height="120" class="blog-img-style">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!--end class container-->
</section><!--end class tzpage-default-->
<div class="theme-white">
  <div class="container">
    <h4 class="joom-title">Related topics</h4>
    <div class="row">
      <div class="col-md-3 text-center">
        <p><b>The Basic</b></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur beatae eos reiciend.</p>
        <a href="#" class="tz-button-dekor"><span>STEP-1 </span></a>
      </div>
      <div class="col-md-3 text-center">
        <p> <b>How To Choose?</b></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur beatae reiciend.</p>
        <a href="#" class="tz-button-dekor"><span>STEP-2 </span></a>
      </div>
      <div class="col-md-3 text-center">
        <p><b>Customization</b></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur beatae reiciend.</p>
        <a href="#" class="tz-button-dekor"><span>STEP-3</span></a>
      </div>
      <div class="col-md-3 text-center">
        <p> <b>Finishing Touches</b></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sperna beatae eos reiciend.</p>
        <a href="#" class="tz-button-dekor"><span>STEP-4</span></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block custom_js %}
{% endblock %}
