{% extends 'base.html' %}

{% block custom_css %}
{% endblock %}

{% block content %}
<section class="tzpage-weblink">
    <h3 class="tz-title-bold-3">Terms & Condition</h3>
    <div class="container">
        <div class="joom-weblink">
            <h4 class="joom-title">Terms & Condition</h4>
            <p>Bloom Interio is a sole proprietorship company,which offers multiple home and office solutions like modular kitchen,wardrobes,furniture and home decor services.Bloom Interio Represents itself through it’s website www.bloominterio.com which is Online portal to showcase company’s products.Bloom Interio works as per following terms and condition to deliver these services:-</p>
            <ul>
                <li>
                    <h6><a href="#">Delivery and Transportation:-</a></h6>
                    <p><b>Delivery:-</b> Get your dream kitchen/wardrobe delivered within 3-5 weeks of order placement.Following are the delivery terms which can be taken into consideration to understand delivery time frame.</p>
                <p>A. This period(3-5 weeks) refers to ONLY working days of the week,excluding Sunday/National Holidays.A ‘day is calculated as 8 hrs of working hours that is 10 am to 6 pm.</p>
                <p>B. Delivery period starts after receiving of at least 50% of amount against the total quote value.</p>
                <p>C. The delivery period would be recalculated in the case of following events:-<br>
                    -- Delay in payment on client’s behalf.<br>
                    -- Any design ,color changes made after order finalisation.<br>
                    -- Site availability due to unfinished work,shortage of power supply,work boundations due to Building management or neighbours.<br>
                    --Delay caused in the delivery due to unavailability of client.<br>
                    --Delay occurred because of lack of cooperation on client’s behalf in providing confirmation and necessary clarification.<br>

                </p>


                    <p><b>Transportation:-</b>Transportation is free of cost in Delhi and NCR(NCR-Gurgaon,Noida,Faridabad);Transport charges would be extra other than these cities.
                    </p>
                </li>
                <li>
                    <h6><a href="#">Installation:-</a></h6>
                    <p>We provide hassle free installation of Modular kitchen/wardrobe with in 2:3 days of delivery ,provided on the following conditions:-</p>
                    <p>--Scope of the work needed to be finished.<br>
                        -- Undisrupted power supply <br>
                        --All the plumbing,gas connection,wall tiling work should be finished before assembly and installation by the client.</p>
                </li>

                <li>
                    <h6><a href="#">Payment Mode:-</a></h6>
                    <p>We use multiple online/offline mode of payment like cheques,NEFT and RTGS/Net Banking.Bloom Interio follows a Step Based process to make the payment method convenient for customers.</p>

                      <br>
                    <table class="table table-hover">
                        <tr>
                            <th>STEP</th>
                            <th>OBJECTIVE</th>
                            <th>PAYMENT</th>
                        </tr>

                        <tr>
                            <td>S1</td>
                            <td>Planning and Requirement Analysis </td>
                            <td>NO PAYMENT</td>
                        </tr>

                        <tr>
                            <td>S2</td>
                            <td>Site visit by ours draftsman (all the requisite measurement taken) </td>
                            <td>NO PAYMENT</td>
                        </tr>

                        <tr>
                            <td>S3</td>
                            <td>2D Drawing Presentation </td>
                            <td>Token Money I.e. 20% Of The Quote</td>
                        </tr>

                        <tr>
                            <td>S4</td>
                            <td>3D Design Video complete hardware and Accessories placement </td>
                            <td>Another 50%;20%+50% Against Quote</td>
                        </tr>

                        <tr>
                            <td>S5</td>
                            <td>Material procurement/accessories and hardware </td>
                            <td>NO PAYMENT</td>
                        </tr>

                        <tr>
                            <td>S6</td>
                            <td>Production start at Facility</td>
                            <td>NO PAYMENT</td>
                        </tr>

                        <tr>
                            <td>S7</td>
                            <td>Subject Dispatch to Clearance of dues by customers</td>
                            <td>Remaining 30%;All the Dues Needed To Be Cleared</td>
                        </tr>
                    </table>
                </li>
                <li>
                    <h6><a href="#">Warranty:-</a></h6>
                    <p>Bloom Interio gives 5 year warranty against any manufacturing defect in it’s product. I.E Modular Kitchen/Wardrobes <b>only</b>:-</p>
                    <p>Warranty period start after the date of delivery.</p>

                    <p>Warranty claim can be made based on the following conditions :-</p>

                    <p class="text-justify"> I.  Warranty extends to the order of which complete payment has been received. </p>
                <p class="text-justify">  II. Client must provide the original purchase receipt to claim warranty.</p>
                <p class="text-justify">  III.Warranty does not cover the defects occurred due to mishandling,careless use under normal conditions.  </p>
                <p class="text-justify">   IV.   Discoloration due to direct sunlight exposure, high humidity,streams or general carelessness is not covered under warranty. </p>
                <p class="text-justify">  V. Normal wear and tear due to continuous use of would not be considered for warranty claim.</p>
                <p class="text-justify">   VI. All other fittings like sink,faucets and accessories electrical appliances would be covered in warranty according to their respective manufacturer warranty/guarantee.</p>
                <p class="text-justify">   VII. Any shortcoming which are not original manufacturing faults are not covered.</p>
                <p class="text-justify">   VIII. Assembly and Installation errors,logistics damages that were not reported on the time of receivement of order while filling out “Customer Satisfaction Form ” would not be considered.</p>
                <p class="text-justify">    IX.Any damages caused by extreme conditions like high temperature,hot boiling liquids and fumes are not considered as the Original manufracturing defect.|</p>
                    <p class="text-justify">X. This 5 Year warranty period is applicable only to retail sales.In the case of contract/sales(Builders and Developers) the team of product warranty shall be eastablished as per applicable contract terms and condition on each seperate occasion with the Builder/Developer.</p>
                </li>


                <li>
                    <h6><a href="#">Cancellation and Refund:-</a></h6>
                    <p>Modular Kitchen/Wardrobe order can be cancelled till STEP-3 However Consultation and 3D drawing charges would be deducted from the token money.No Order can be cancelled if the material has been procured from the market.
                    </p>

                </li>

                <li>

                    <p> In case of any legal dispute/legal proceeding the area of jurisdiction will only remain Gurgaon.
                    </p>

                </li>


            </ul>
            <!-- <h5>SUB CATEGORIES</h5>-->
        </div><!--end class joom-weblink-->
    </div><!--end class container-->
</section><!--end class page default-->

{% endblock %}

{% block custom_js %}
{% endblock %}
