{% extends 'base.html' %}

{% block custom_css %}
{% endblock %}

{% block content %}

<!--Start thankyou content-->
<div class="full-height thank-banner" id="home">
    <div class="row">
    <div class="tagline text-center">
        <div class="col-md-12">
            <h1 class="v-large-title f-w">Thank you for Contacting Us.</h1>
            <h3 style="color:#fff;    font-weight: 400;">One of our Expert will contact you shortly.</h3>
        </div>
    </div>
    </div>
    </div>
<!-- END Thankyou content -->

{% endblock %}

{% block custom_js %}
{% endblock %}
