{% extends 'base.html' %}

{% block custom_css %}
{% endblock %}

{% block content %}

<!--Start thankyou content-->
<div class="full-height thank-banner" id="home">
    <div class="row">
    <div class="tagline text-center">
        <div class="col-md-12">
            <h1 class="v-large-title f-w">Thank you for Contacting Us.</h1>
            <h3 style="color:#fff;    font-weight: 400;">One of our Expert will contact you shortly.</h3><br>
            <a class="slider-button2" href="http://bloominterio.com/" style="min-height: 0px; min-width: 0px; line-height: 14px; border-width: 0px; margin: 0px; padding: 14px 31px 15px; letter-spacing: 0px; font-size: 12px; transition: all 0.2s ease-out 0s;"><span style="min-height: 0px; min-width: 0px; line-height: 14px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 12px; transition: all 0s ease 0s;">EXPLORE MORE</span></a>
        </div>
    </div>
    </div>
    </div>
<!-- END Thankyou content -->

{% endblock %}

{% block custom_js %}

<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 857691956;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "4_NwCIePtHAQtK79mAM";
    var google_remarketing_only = false;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/857691956/?label=4_NwCIePtHAQtK79mAM&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>
{% endblock %}
